<!-- templates/security/login_user.html -->
{% extends "security/base.html" %}

{% block title %}Login
{% endblock %}

{% block body %}
<h1 style="text-align: center;">
    Login
</h1>
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="{{ url_for_security('login') }}" method="post" class="form">
        {{ login_user_form.hidden_tag() }}
    
        <div class="form-group">
            {{ login_user_form.email.label(class_="form-label") }}
            {{ login_user_form.email(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ login_user_form.password.label(class_="form-label") }}
            {{ login_user_form.password(class_="form-control") }}
        </div>
        <div class="row px-2">
            <input type="submit" value="Login">
        </div>
    </form>
</div>
<div class="d-flex justify-content-between crowbank-form-group">
    <a href="{{ url_for_security('forgot_password') }}">Forgot Password?</a>
    <a href="{{ url_for_security('register') }}">Register</a>
</div>
{% endblock body %}
