{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<div class="container">
    <div class="mt-4 mb-4">
        <h2>Hey {{ record.email_forename }},</h2>
        
        <p>We've got some tail-wagging news! Starting September 2023,
            <strong>Crowbank Kennels is opening a Doggy Daycare</strong>.
            We've designed a fun and cozy spot just for well-socialized dogs.</p>
        
         <!-- Video Thumbnail -->
         <a href="https://youtube.com/shorts/4aRhmq_na4Y" target="_blank">
            <img src="https://crowbank.co.uk/wp-content/uploads/2023/08/Beagle-Party.jpg" alt="Watch our video ad" class="img-fluid mb-2">
            <figcaption>Click for a short video!</figcaption>
        </a>
        
        <h4 class="mt-4">Why Dogs Will Love It:</h4>
        <ul>
            <li>Fun in small, well-matched groups.</li>
            <li>Playtime, rain or shine with our all-weather facilities.</li>
            <li>Chill zones with music, stories, and treats for relaxation.</li>
            <li>Flexible hours & free transport from Cumbernauld.</li>
        </ul>

        <p>Wanna join the fun? If your dog is well well-socialized, 
            <a href="https://crowbank.co.uk/daycare-application" class="text-primary" target="_">
            apply for Crowbank Doggy Daycare</a> and let’s set up an assessment meeting.</p>
        
        <p>Oh, and if you know anyone else whose pup might enjoy this, feel free to forward this to them. Sharing is caring!</p>
        
        <p>Woofs and wags,</p>
        <p>The Crowbank Crew 🐾</p>
        <p class="mt-5"><small>Terms and conditions apply</small></p>
    </div>
</div>
{% endblock %}