.map {
    width: 1200px;
}

@media screen {
}

.wing-header {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.wing {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    page-break-after: always;
}

.unallocateds {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
    justify-content: flex-start;
}

.run-pair {
    display: flex;
    gap: 25px;
}

.run-map .run-deluxe {
    height: 180px;
}

.run-map .run-double {
    height: 150px;
}

.run-map .run-standard {
    height: 120px;
}

.run-map .run {
    display: inline-block;
    position: relative;
    background-color: white;
    width: 560px;
    height: 100%;
    outline: 1px solid black;
}

.run-table .run {
    display: flex;
    height: 24px;
}

.run-table .run-label {
    background-color: #333;
    color: white;
    padding: 2px;
    width: 60px;
}

.run-table .date-row {
    display: flex;
    position: relative;
}

.run-table #dates {
    display: flex;
}

.run-table {
    position: relative;
    overflow: scroll;
}

.run-table .date-heading {
    text-align: center;
    position: absolute;
    top: 0;
    border: 1px solid rgba(100, 100, 100, 20%);
    height: 100%;
}

.run-table .date-boundary {
    position: absolute;
    top: 0;
    border-left: 1px solid rgba(100, 100, 100, 80%);
    z-index: 1;
}

.run-issue {
    outline-style: solid;
    outline-width: 2px;
    outline-offset: -2px;
}

.run-issue.run-conflict {
    outline-color: red;
}

.run-issue.run-intraday {
    outline-color: orange;
}

.run-issue.run-today {
    outline-width: 5px;
    outline-offset: -5px;
}

.run-table .run-container {
    position: relative;
    height: 100%;
    outline: 1px solid black;
}

.run-map .run-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    height: 100%;
}

.run-table .run-container a {
    color: black;
    text-decoration: none;
}

.run-table .run-container a:link { 
    color: black;
    text-decoration: none;
}

.run-table .run-container a:visited { 
    color: black;
    text-decoration: none;
}

.run-table .run-container a:hover { 
    color: black;
    text-decoration: none;
}

.run-table .run-container a:active { 
    color: black;
    text-decoration: none;
}

.run-map .run-label {
    font-size: small;
    position: absolute;
    top: -13px;
    left: 10px;
    padding: 1px 5px;
    background-color: white;
    z-index: 1;
}

.run-future {
    color: blue;
}

.alloc {
    border: 1px solid #333;
    border-radius: 5px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.block-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    justify-content: space-between;
    height: 100%;
    width: 48%;
}

.unallocated-container {
    display: flex;
    gap: 15px;
}
.unallocateds .block-container {
    margin-right: auto;
    margin-left: auto;
    border: 1px solid grey;
}

.block-container .occupant {
    overflow: clip;
    font-size: large;
}

.block-container .booking {
    text-align: left;
}

.block-container .dates {
    color: purple;
    font-size: small;
}

.run-future .dates {
    text-align: left;
}

.run-present .dates {
    text-align: right;
}

.control-box {
    min-width: 30%;
    margin-bottom: 10px;
    padding: 10px;
    border: 2px solid #777;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

#selected-container {
    background-color: #ccc;
    text-align: center;
}

#selected {
    text-align: left;
}

#active-date-box {
    background-color: chartreuse;
}

#date-selector {
    background-color: cornsilk;
}

#unalloc-future {
display: flex;
flex-direction: column;
gap: 10px;
}

.unalloc-date {
background-color: aqua;
border: 1px solid black;
padding: 5px;
}

#active-date-region {
display: flex;
justify-content: space-evenly;
align-items: center;
gap: 10px;
}

#active-date-display {
width: 200px;
text-align: center;
}

.selected {
border-width: 3px;
}

.error {
color: red;
font-weight: bold;
}

.alloc.pending {
border-style: dashed;
}

#control-row {
    display: flex;
    gap: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 900px;
    justify-content: space-between;
}

#status-container {
display: flex;
justify-content: space-between;
height: 60px;
}

#status-container #status {
padding: 10px;
border: 1px solid black;
border-radius: 5px;
display: inline-block;
width: 100%;
margin-left: 50px;
margin-bottom: 50px;
height: 100%;
}

.run-container .pet {
    font-size: 1rem;
}

.occupant-block {
    position: absolute;
    top: 0;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: small;
    padding-left: 5px;
    padding-right: 2px;
    cursor: pointer;
}