@page {
  size: 25cm 35.7cm;
  margin: 20mm; /* change the margins as you want them to be. */
}

.show-read-more .more-text {
  display: none;
}

.read-more {
  padding: 2px;
  font-size: 0.75rem;
  color: blue
}

:root {
  --full-availability-color: #16d416;
  --limited-availability-color: orange;
  --no-availability-color: red;
  --confirmed-booking-color: #5DADE2;
  --unconfirmed-booking-color: #82E0AA;
  --canceled-booking-color: #AAA;
  --current-booking-color: #FFEB3B;
  --standby-booking-color: #FFA000;
  --shiftleader-color: #00FF00;
  --kennelassistant-color: #FFFF00;
  --dogwalker-color: #FE88DB;
  --daycare-booking-color: #FE88DB;
  --volunteer-color: #4FBCFF;
  --deluxe-color: #AA9AD7;
  --arrived-color: #DDD;
}

.day.date-D {
  background-color: var(--daycare-booking-color);
}

.day.date-V {
  background-color: var(--confirmed-booking-color);
}
.day.date-B {
  background-color: var(--unconfirmed-booking-color);
}

.day.date-2 {
  background-color: var(--limited-availability-color);
}

.day.date-3 {
  background-color: var(--no-availability-color);
}

.avail_0 {
  background-color: var(--full-availability-color) !important;
}

.avail_1 {
  background-color: var(--limited-availability-color) !important;
}

.avail_2 {
  background-color: var(--no-availability-color)  !important;
}

.daycarebooking {
  background-color: var(--daycare-booking-color) !important;
}

.confirmedbooking {
  background-color: var(--confirmed-booking-color) !important;
}

.bookingbooking {
  background-color: var(--unconfirmed-booking-color) !important;
}

.cancelledbooking {
  background-color: var(--canceled-booking-color) !important;
}

.currentbooking {
  background-color: var(--current-booking-color);
  font-weight: bold;
}

.standbybooking {
  background-color: var(--standby-booking-color);
  font-style: italic;
}

.leader-class {
  background-color: var(--shiftleader-color);
}

.assistant-class {
  background-color: var(--kennelassistant-color);
}

.walker-class {
  background-color: var(--dogwalker-color);
}

.arrived_class {
    background-color: var(--arrived-color);
}

.confirmed {
  border-left: 5px solid var(--confirmed-booking-color);
}

.unconfirmed {
  border-left: 5px solid var(--unconfirmed-booking-color);
}

.deluxe_class {
  background-color:var(--deluxe-color);
}

html {
  font-size: 1rem;
}

/* Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) 
@media (min-width: 992px) { ... }

/* Extra large devices (large desktops, 1200px and up) 
@media (min-width: 1200px) { ... }
*/

.modal-confirm {		
  color: #636363;
  width: 400px;
}
.modal-confirm .modal-content {
  padding: 20px;
  border-radius: 5px;
  border: none;
  text-align: center;
  font-size: 14px;
}
.modal-confirm .modal-header {
  border-bottom: none;   
      position: relative;
}
.modal-confirm h4 {
  text-align: center;
  font-size: 26px;
  margin: 30px 0 -10px;
}
.modal-confirm .close {
      position: absolute;
  top: -5px;
  right: -2px;
}
.modal-confirm .modal-body {
  color: #999;
}
.modal-confirm .modal-footer {
  border: none;
  text-align: center;		
  border-radius: 5px;
  font-size: 13px;
  padding: 10px 15px 25px;
}
.modal-confirm .modal-footer a {
  color: #999;
}		

.icon-item-container {
  width: 60px;
  height: 60px;
}

#icon-grid {
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 1;
  background-color: white;
  opacity: 1;
  border: solid 1px black;
  margin: 20px;
}

.modal-confirm .icon-box {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  border-radius: 50%;
  z-index: 9;
  text-align: center;
  border: 3px solid #f15e5e;
}
.modal-confirm .icon-box i {
  color: #f15e5e;
  font-size: 46px;
  display: inline-block;
  margin-top: 13px;
}
  .modal-confirm .btn {
      color: #fff;
      border-radius: 4px;
  background: #60c7c1;
  text-decoration: none;
  transition: all 0.4s;
      line-height: normal;
  min-width: 120px;
      border: none;
  min-height: 40px;
  border-radius: 3px;
  margin: 0 5px;
  outline: none !important;
  }
.modal-confirm .btn-info {
      background: #c1c1c1;
  }
  .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
      background: #a8a8a8;
  }
  .modal-confirm .btn-danger {
      background: #f15e5e;
  }
  .modal-confirm .btn-danger:hover, .modal-confirm .btn-danger:focus {
      background: #ee3535;
  }
.trigger-btn {
  display: inline-block;
  margin: 100px auto;
}

.btn-cb {
  width: 100px;
  height: 60px;
  margin: 5px;
}

.payButton {
  background-color:#56C5D0;
  border: 1px solid darkgray;
  border-radius: 10px;
	display:inline-block;
	cursor:pointer;
  padding: 5px 30px 8px 30px;
  margin: 10px 0px 20px 0px;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 700;
  color: white;
}

.payButton:active {
	position:relative;
	top:1px;
}

.btn span.glyphicon {    			
	opacity: 0;				
}
.btn.active span.glyphicon {				
	opacity: 1;				
}

.strike-through {
  text-decoration: line-through;
}

.btn-booking-confirmed,
.booking-confirmed {
  background-color: var(--confirmed-booking-color)
}

.btn-booking-booked,
.booking-booked  {
  background-color: var(--unconfirmed-booking-color);
}

.btn-booking-hold,
.booking-hold {
  background-color:var(--limited-availability-color);
}

.btn-booking-provisional,
.booking-provisional {
  background-color:var(--limited-availability-color);
}

.btn-booking-cancelled, .btn-booking-no-show,
.booking-cancelled, .booking-no-show {
  background-color:  var(--canceled-booking-color);
  text-decoration: line-through;
}

.btn-booking-standby,
.booking-standby {
  background-color: var(--no-availability-color);
}

.btn-booking-past {
  background-color: grey;
}

.btn-booking-present {
  background-color: var(--unconfirmed-booking-color);
}

.btn-booking-future {
  background-color: var(--confirmed-booking-color);
}

.pet-sex-m {
  background-color: #b8f2ff;
}

.pet-sex-f {
  background-color: #ffe6ff;
}

.pet-deceased {
  background-color: #ccc;
  border-width: thick;
  text-decoration: line-through;
}

.emp-other {
  background-color: white;
}

.emp-manager {
  background-color: var(--shiftleader-color);
}

.emp-leader {
  background-color: var(--shiftleader-color);
}

.emp-assistant {
  background-color: var(--kennelassistant-color);
}

.emp-walker {
  background-color: var(--dogwalker-color);
}

.emp-volunteer {
  background-color: var(--volunteer-color);
}

.request-closed {
  background-color: #CCC;
}

.questionnaire-closed  {
  background-color: #CCC;
}

[class*="span"] { background: #EEF; }
[class*="span"] [class*="span"] { background: #FEE; }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/static/icons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(/static/icons/MaterialIcons-Regular.woff2) format('woff2'),
    url(/static/icons/MaterialIcons-Regular.woff) format('woff'),
    url(/static/icons/MaterialIcons-Regular.ttf) format('truetype');
}

h2 a {
  color: black;
  text-decoration: underline;
}

.fixed_header{
  table-layout: fixed;
  border-collapse: collapse;
}

.fixed_header tbody{
display:block;
width: 100%;
overflow: auto;
height: 600px;
}

.fixed_header thead tr {
 display: block;
}

.fixed_header thead {
background: black;
color:#fff;
}

.fixed_header th, .fixed_header td {
padding: 5px;
text-align: left;
width: 400px;
}

.clickable_table tr:hover {
  background-color: #ccc;
}

.clickable_table td:hover {
  cursor: pointer;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	top:130px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

a.disabled:hover {
  color: lightgray;
}

a.disabled {
  background-color: lightgray;
}

.label-container{
	position:fixed;
	top:88px;
	right:105px;
	display:table;
	visibility: hidden;
}

.stretch-10 {
  transform: scale(1, 10);
}

.label-text{
	color:#FFF;
	background:rgba(51,51,51,0.5);
	display:table-cell;
	vertical-align:middle;
	padding:10px;
	border-radius:3px;
}

.label-arrow{
	display:table-cell;
	vertical-align:middle;
	color:#333;
	opacity:0.5;
}

a.float + div.label-container {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease;
}

a.float:hover + div.label-container{
  visibility: visible;
  opacity: 1;
}

.list-style-type-none ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

.list-style-type-none .datepicker-start, .list-style-type-none .datepicker-end {
  max-width: 200px;
}

.booking-comment {
  width: 100%;
  max-width: 100%
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 400px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 576px) {
  .table-sm-xs > :not(caption) > * > * {
    padding: 0.25rem 0.25rem;
  }
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: right;}
  div.content-with-sidebar {margin-right: 0;}
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}

div.content-with-sidebar {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}

label {
  font-weight: bold;
}

.form-check label {
  font-weight: normal;
}

.doc-checkin-form, .doc-checkin-attachments {
  background-color: rgb(200, 83, 161);
  flex: none!important;
}

.doc-document-instructions {
  background-color: darkgray;
  flex: none!important;
}

.doc-document-instructions:before {
  font-family: "Font Awesome 5 Free";
  content: "\f129";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

.doc-document-meds {
  background-color: darkblue;
  flex: none!important;;
}

.doc-document-meds:before {
  font-family: "Font Awesome 5 Free";
  content: "\f7e6";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

.doc-document-run_cards {
  background-color: darkblue;
  flex: none!important;;
}

.doc-document-run_cards:before {
  font-family: "Font Awesome 5 Free";
  content: "\f15c";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

.doc-document-vaccinations {
  background-color: green;
  flex: none!important;;
}

.doc-document-vaccinations:before {
  font-family: "Font Awesome 5 Free";
  content: "\f48e";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

.doc-document-vetbills {
  background-color: darkblue;
  flex: none!important;;
}

.doc-document-vetbills:before {
  font-family: "Font Awesome 5 Free";
  content: "\f0f0";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

 .doc-info-behaviour {
  background-color: darkturquoise;
  flex: none!important;;
}

.doc-info-behaviour:before {
  font-family: "Font Awesome 5 Free";
  content: "\f6d3";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

.doc-info-feeding {
  background-color: darkturquoise;
}

.doc-info-feeding:before {
  font-family: "Font Awesome 5 Free";
  content: "\f2e7";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

 .doc-info-health {
  background-color: darkturquoise;
}

.doc-info-health:before {
  font-family: "Font Awesome 5 Free";
  content: "\f21e";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

 .doc-info-inventory {
  background-color: darkturquoise;
}

.doc-info-inventory:before {
  font-family: "Font Awesome 5 Free";
  content: "\f468";
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
 }

 .weekdays-selector input {
  display: none!important;
}

.weekdays-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 30px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekdays-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

.species-selector input {
  display: none!important;
}

.species-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  margin: 3px;
  padding: 6px;
  background: #dddddd;
  text-align: center;
  cursor: pointer;
}

.species-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

@media print
{
.noprint {display: none !important;}
}

@media print
{
  .nobreak {page-break-inside: avoid}
}

.cursor-pointer {
  cursor: pointer;
}

.current-slot {
  border-style: solid;
  border-color: #777;
  border-width: medium;
}

.slot-normal {
  background-color:#00FF00 !important;
}

.slot-out-of-hours {
 background-color: #60c7c1 !important;
}

.slot-lunch {
  background-color: #999 !important;
}

.slot-busy {
  background-color:#ffd88a !important
}

.slot-full {
background-color: #ff8a90 !important;
}

.slot-table a {
  color: black;
}

a {
  text-decoration: none;
}

.bd-navbar {
  background-color: cadetblue;
  padding: .75rem 0;
  color: white;
}

.bd-search::after {
  position: absolute;
  top: .4rem;
  right: .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.5rem;
  padding-right: .25rem;
  padding-left: .25rem;
  font-size: .75rem;
  color: #6c757d;
  content: "Ctrl + /";
  border: 1px solid #dee2e6;
  border-radius: .125rem;
}

.crowbank-form-group {
  max-width: 800px;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 0.5rem;
  background-color: #eee;
  padding: 1.5rem !important;
  margin: 1rem;
  margin-right: auto !important;
  margin-left: auto !important;
}

.btn-square {
  height: 20px;
  width: 20px;
  display: block;
}

.crowbank-group {
  max-width: 800px;
  border-width: 2px;
  border-style: solid;
  border-color: #ddd;
  border-radius: 0.5rem;
  padding: 0.5rem !important;
  margin: 1rem;
  margin-right: auto !important;
  margin-left: auto !important;
}

.btn-crowbank {
  padding: 1.5rem !important;
  margin: 0.5rem;

}

.crowbank-form-group .form-group {
  margin-bottom: 1rem !important;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
}

tr.short-row {
  line-height: 10px;
  min-height: 10px;
  height: 10px;
}

.narrow {
  max-width: 800px !important;
  margin-right: auto !important;
  margin-left: auto !important;
}

.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>a:after {
  content: "\f0da";
  float: right;
  border: none;
  font-family: 'FontAwesome';
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: 0px;
  margin-left: 0px;
}

.low-ratio {
  background-color: #00FF00;
}

.med-ratio {
  background-color: #faaa29;
}

.high-ratio {
  background-color: red;
}

.spn-right {
  float: right;
  margin-left: 10px;
  background-color: white !important;
}

.spn-left {
  float: left;
  margin-right: 10px;
  background-color: white !important;
}

.spn-center {
  display: block;
  overflow: auto;
  position: relative;
  top: -4px;
}

.table-row {
  cursor:pointer;
}

.pet-must {
  border: 3px solid red;
}

.pet-may {
  border: 3px solid orange;
}

.pet-no {
  border: 3px solid green;
}

.pet-received {
  border: 3px solid #777;
}

.pet-none {
  border: 1px solid black;
}

.round-border {
  border: 1px solid black;
  border-radius: 50%;
  padding: 3px;
  margin-right: 10px;
}

.visit-note {
  width: 300px;
  display: inline;
}

.visit-note-save {
  color: blue;
  transform: translate(-220%, -50%);
}

.search-form {
  width: 120px;
}

.search-form:focus-within {
  width: 200px;
}

#last-transfer {
  width: 80px;
  padding: 10px;
  overflow-x:hidden;
  white-space: nowrap;
}

#last-transfer:hover {
  white-space: inherit;
  overflow-x: inherit;
}

.dlt-loading {
  background-color: #ccc;
}

.dlt-recent {
  background-color: #00FF00;
}

.dlt-late {
  background-color: orange;
}

.dlt-vlate {
  background-color: red;
}

#status-bar {
  position: fixed;
  top: 74px;
}

#topheader {
  z-index: 10000;
}

#status {
  background-color: #ccc;
  padding-top: 10px;
  padding-left: 15px;
  flex-grow: 1;
  white-space: nowrap;
  overflow-x: hidden;
}

#status:hover {
  white-space: inherit;
  overflow-x: inherit;
}

#status-bar .error {
  background-color: #f15e5e;
}

#status-bar .warning {
  background-color: orange;
}

#status-bar .info {
  background-color: #00FF00;
}

.message-control {
  width: 50px;
  background-color: #ccc;
  align-self: stretch;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.crowbank-modal {
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  display: none;
  position: fixed; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0%;
  top: 0%;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.crowbank-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 50%;
  top:25%
}

.current-emp {
  border: 2px solid black !important;
}

.messages li {
  list-style-type: none;
}

.accepted {
  background-color: #2AD705;
}

.declined {
  background-color: #f15e5e;
}

.accepted-obsolete {
  background-color: bisque;
}

.declined-obsolete {
  background-color: burlywood;
}

.vet-phone {
  width: 50%;
  text-align: center;
}

.rota-working {
  background-color: #aba8ff !important;
}

.rota-available {
  background-color: #54ff65 !important;
}

.rota-unavailable {
  background-color: #ababab !important;
}

.rota-toggle {
  cursor:pointer;
}

.employee-table {
  outline: 1px solid black;
}

.emp-confirm-button {
  width: 25px;
  height: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid black;
}

.employee-table tr.emp-unapproved {
  border-left: 10px solid white;
}

.employee-table tr.emp-approved {
  border-left: 10px solid green;
}

.emp-confirm-button i {
  color: green
}

input[type="checkbox"].employee-lunch {
  transform: scale(2);
}

.td-centered {
  text-align: center;
  vertical-align: middle;
}

.employee-start.status-actual, .employee-end.status-actual {
  border: 3px solid green;
}

.employee-start.status-entered, .employee-end.status-entered {
  border: 3px solid orange;
}

.employee-start.status-overridden, .employee-end.status-overridden {
  border: 3px solid red;
}

.modal-dialog {
  max-width: 800px; /* Adjust as needed */
}

.btn input[type="file"] {
  display: none; /* Hide the actual file input */
}      

.notes-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.note-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px;
}

.snap-container {
  border: 2px solid;
  border-radius: 10px;
  padding: 10px;
}

.note-photo-container {
  width: 250px;
  height: 250px;
  border: 1px solid gray;
}

.note-table td {
  padding-right: 10px;
}

table-50-50 th, .table-50-50 td {
  width: 50%;
}

.note-photo-thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
  
}

.note-photo {
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.kennel-note {
  width: 300px;
  display: block;
  margin-right: 10px;
}

.notes-container:last-child .kennel-note {
  margin-right: 0; /* Remove right margin for the last element */
}

.note-container:last-child .kennel-note {
  margin-right: 0; /* Remove right margin for the last element */
}

.note-sev-1 {
  /* border-color: #00FF00; */
  background-color: #B4DFB9 !important;
}

.note-sev-2 {
  /* border-color: orange; */
  background-color: #FFE082 !important;

}

.note-sev-3 {
  /* border-color: red; */
  background-color: #FFCDD2 !important;
}

.note-footer {
  margin-top: 10px;
  gap: 10px;
}

.note-footer .btn-info:disabled {
  background-color: #dddddd !important;
}

.note-comment {
  width: 100%; /* Full width */
  font-size: 16px; /* Example font size */
  line-height: 1.3; /* Example line height */
  height: calc(1.3 * 5 * 16px + 10px); /* Height = line-height * number of lines * font size */
  overflow-y: auto; /* Show vertical scroll bar if needed */
  margin-bottom: 10px;
  padding: 5px;
  border: 1px solid gray;
}

tr[data-href] {
  cursor: pointer;
}

.note-fineprint {
  font-size: 0.8rem;
  color: gray;
}

.note-footer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.note-photo {
  max-width:100%; 
  max-height:150px; 
  margin-top:10px;
}

.error-message {
  color: red;
}

#color-picker .btn {
  opacity: 0.6;
  transition: opacity 0.3s ease;  /* Optional: for smooth transition */
}

#color-picker .btn.active {
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

.dcc-open {
  background-color: white;
}

.dcc-green {
  background-color: #00FF00 !important;
}

.dcc-amber {
  background-color: #faaa29 !important;
}

.dcc-red {
  background-color: red !important;
}

.dcc-rejected {
  background-color: #f15e5e !important;
}

.dcc-scheduled {
  background-color: #00FF00 !important;
}

.dcc-approved {
  background-color: #2AD705 !important;
}

.dcc-waiting {
  background-color: #faaa29 !important;
}

.dcc-duplicate {
  background-color: #888 !important;
}

.sorting .filter {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}

.sorting .filter .select {
  display: block;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.sorting .filter .options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  min-width: 100%;
  padding: 5px 0;
  margin: 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 3px 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.sorting .filter.open .options {
  display: block;
}

.sorting .filter .option {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

.sorting .filter .option:hover {
  background-color: #f5f5f5;
}

.dropdown-list {
  display: none;
  position: absolute;
  max-height: 66vh;
  overflow-y: auto;
  box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
  width: 100%;
}

.dropdown.on .dropdown-list {
  display: block;
}

.dropdown-label {
  cursor: pointer;
}

#note-type {
  display: flex;
  padding: 10px;
  width: 70px;
  height: 70px;
}

#note-sev-selector {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 10px;
}

.checkbox-row {
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

.checkbox-row label {
  margin-left: 10px;
  padding: 5px;
  color: white;
}

.active-group {
  border-left: blue 5px solid;
}