{% import 'macros.html' as m %}
<style>
    .center-headers th {
        text-align: center
    }

    .center-td td {
        text-align: center
    }

    .table .borderless {
        border: none
    }

    .unallocated {
        color: red;
        font-weight: bolder;
    }
</style>
<table class="table table-bordered table-sm clickable_table" style="table-layout: auto;">
    <thead class="center-headers">
        <tr>
            <th style="width: 80px">Date</th>
            <th style="width: 40px"></th>
            <th style="text-align: right;">Used (Available)</th>
            <th style="width: 40px">UA</th>
        </tr>
    </thead>
    <tbody class="center-td">
        {% for slot in availability.slots %}
        <tr class="short-row">
            {% if slot.slot == 'am' %}
                <td rowspan="2" style="vertical-align:middle">
                    <a href="{{ url_for('show_inventory', date_arg=slot.date) }}">
                        <small>{{ slot.date.strftime("%a %d/%m") }}</small>
                    </a>
                </td>
            {% endif %}
            <td><small>{{ slot.slot }}</small></td>

            {% set colour = '#f08d96' %}
            {% set width = 80 %}
            {% set data = availability.availability[loop.index0] %}
            {% set fraction = (data.occupied * 1.0) / data.capacity %}
            {% set avail = data.capacity - data.occupied %}
            {% set count = data.occupied %}

            <td class="{{species}}-col" style="font-size: 1.5rem; font-weight: bold;
                {% if width %}width: {{ width }}%; {% endif %}background: linear-gradient(to right, {{ colour }}, {{ colour }} {{ 100 * fraction }}%, white {{ fraction }}%); text-align: right">
                <small>{{ count }} ({{ avail }})</small>
            </td>

            <td class="unallocated">
                {% if data.ua %}
                    {{ data.ua }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>