<style>
    .availability-table {
        --standard-occupied: hsl(120, 100%, 25%);
        --standard-free: hsl(120, 100%, 75%);
        --double-occupied: hsl(200, 100%, 25%);
        --double-free: hsl(200, 100%, 75%);
        --deluxe-occupied: hsl(260, 100%, 25%);
        --deluxe-free: hsl(260, 100%, 75%);
        --closed: black;
    }
    .petadmin-style.availability-table {
        --standard-occupied: #fc5249;
        --standard-free: #7fff00;
        --double-occupied: #fc5249;
        --double-free: #7fff00;
        --deluxe-occupied: #fc5249;
        --deluxe-free: #7fff00;
        --closed: black;
    }
    .availability-table .standard.occupied {
        background-color: var(--standard-occupied);
    }
    .availability-table .standard.free {
        background-color: var(--standard-free);
    }
    .availability-table .cat.occupied {
        background-color: var(--standard-occupied);
    }
    .availability-table .cat.free {
        background-color: var(--standard-free);
    }
    .availability-table .double.occupied {
        background-color: var(--double-occupied);
    }
    .availability-table .double.free {
        background-color: var(--double-free);
    }
    .availability-table .deluxe.occupied {
        background-color: var(--deluxe-occupied);
    }
    .availability-table .deluxe.free {
        background-color: var(--deluxe-free);
    }

    .availability-table .closed {
        background-color: var(--closed);
    }
    .availability-table tr {
        height: 20px;
    }
    .availability-table th {
        text-align: center;
    }

    .availability-table {
        table-layout: fixed;
        width: auto;
    }

    .availability-table>*>*>* {
        border-width: 0.5px;
    }

    .availability-table .ua {
        font-weight: bold;
        color: red;
        text-align: center;
    }
</style>
<table id="availability" class="mx-auto table table-sm availability-table">
    <colgroup>
        <col class="text-center"><col class="text-center"><col class="text-center">
        {% for rt in data.rts %}
            <col class="availability-{{ rt.desc }}" span="{{ rt.capacity }}">
        {% endfor %}
        <col class="text-center ua">
    </colgroup>
    <thead class="center-headers thead-light">
        <tr>
            <th style="width: 140px" colspan="2">Date</th><th>Occupied</th>
            {% for rt in data.rts %}
                <th style="width: {{ 20 * rt.capacity }}px" colspan="{{ rt.capacity }}">{{ rt.desc }}</th>
            {% endfor %}
            <th style="width: 40px">UA</th>
        </tr>
    </thead>
    <tbody class="center-td">
        {% for slot in data.slots %}
            {% set outerloop = loop %}
        <tr class="short-row">
            {% if slot.slot == 'am' %}
                <td rowspan="2" style="vertical-align:middle"><a href="{{ url_for('show_inventory', date_arg=slot.date) }}"><small>{{ slot.date.strftime("%a %d/%m") }}</small></a></td>
            {% endif %}
            <td class="text-center"><small>{{ slot.slot }}</small></td>
            <td class="text-center"><small>
                {% for rt in data.rts %}{{ data.availability[loop.index0][outerloop.index0].occupied }}
                {% if not loop.last %}/ {% endif %}
                {% endfor %}
            </small></td>
            {% for rt in data.rts %}
                {% set rt_data = data.availability[loop.index0][outerloop.index0] %}
                {% for i in range(rt.capacity) %}
                    <td style="width: 20px"
                    class="{{ rt.desc }} {% if i < rt_data.closed %}closed{% else %}{% if i < rt_data.occupied + rt_data.closed %}occupied{% else %}free{% endif %}{% endif %}"></td>
                {% endfor %}
            {% endfor %}
            <td class="ua">{% if unallocated.unallocated[outerloop.index0] %}{{ unallocated.unallocated[outerloop.index0] }}{% endif %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>