{# 
    Create html for a horizontal vector of availability cell
    Availability comes in {date: code} vector
#}
{% if overall_availability == 0 %}{% set text = 'Full Availability' %}{% endif %}
{% if overall_availability == 1 %}{% set text = 'Limited Availability' %}{% endif %}
{% if overall_availability == 2 %}{% set text = 'No Availability' %}{% endif %}
<div>
    <div id="availability-detail-toggle" class="mb-3"><i class="round-border fas fa-plus"></i>
        <span class="mb-1 px-3 py-1 text-center avail_{{ overall_availability }}" style="height: 2rem;">
            {{ text }}
        </span>
    </div>
    <div class="collapse" id="availability-details">
        <table style="width: 100%; border-collapse: collapse" class="border border-dark">
            {% for rt in availability.rts %}
                {% set rtloop = loop %}
                <tr style="border-bottom: 1px solid black; height: 100px;"><td class="px-1" style="border-right: 1px solid black; width: 20%"><strong>{{ rt.desc }}</strong></td>
                {% for slot in availability.slots %}
                    {% set data = availability.availability[rtloop.index0][loop.index0] %}
                    {% set avail = data.availability %}
                    {% set occupied = data.occupied %}
                    {% set capacity = data.capacity %}
                    {% set frac = occupied * 1.0 / capacity %}
                    {% set available_runs = capacity - occupied %}
                    {% if avail == 0 %}{% set color = '#16d416' %}{% endif %}
                    {% if avail == 1 %}{% set color = 'orange' %}{% endif %}
                    {% if avail == 2 %}{% set color = 'red' %}{% endif %}
                    <td class=""
                        style="border-right: {% if slot.slot == 'am' %}
                                1px solid #777{% else %}1px solid #222{% endif %};
                                width: {{ 40 / (1 + date_count) }}%;
                                background: linear-gradient(to top,
                                                            {{ color }},
                                                            {{ color }} 10%,
                                                            #777 10%,
                                                            #bbb {{ 10 + 90 * frac }}%,
                                                            white {{ 10 + 90 * frac }}%,
                                                            white 100%)"
                        data-bs-toggle="tooltip" data-html=true title="{{ slot.date.strftime('%a %d/%m') }} {{ slot.slot }} [{{ available_runs }}]"></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
