<div class="d-none d-md-block mx-auto">
    <table class="table table-sm slot-table">
        <thead>
            <th>Slot</th>
            {% for date in dates %}
                <th><a target="_blank" href="{{ url_for('home_page', date_arg=date) }}">{{ date }}</a></th>
            {% endfor %}
        </thead>
        {% for slot in slots %}
            <tr class="">
                <td class="{{ slot.slot_class }}">{{ slot.slot_start }}</td>
                {% for date in dates %}
                    <td class="{{ events[date][slot.slot_no].class }}">
                        {% if events[date][slot.slot_no].events %}
                            {% for event in events[date][slot.slot_no].events %}
                                <a style="font-size: 0.75rem;" href="{{ event.url }}" data-bs-html="true" data-bs-placement="right" data-bs-toggle="tooltip" title="{{ event.tooltip }}">{{ event.desc }}</a><br>
                            {% endfor %}
                        {% endif %}
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>