<div class="cashflow-report">
    <div class="cashflow-report-header">
        <div class="cashflow-report-header-title">
            <h3>Cashflow Report</h3>
        </div>
        <div class="cashflow-report-header-date">
            <h3>From {{ start_date.strftime('%d/%m/%y') }} to {{ end_date.strftime('%d/%m/%y') }}</h3>
        </div>
    </div>
    <div class="cashflow-report-body">
        <div class="cashflow-report-body-table">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cf in report.cashflows %}
                    <tr>
                        <td>{{ cf.description }}</td>
                        <td class="right-align">{{ cf.signed_total }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                <thead>
                    <tr>
                        <th>Total</th>
                        <th class="right-align">{{ report.total }}</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>