<div id="printableArea">
    <div class="pb-5">
        <h2 class="text-center mb-5">Checkout Report ({% if species=='dog' %}Kennels{% else %}Cattery{% endif %})</h2>
        {% for date in checkouts.keys()|sort %}
            <div class="pb-3 nobreak">
                <h4 class="text-center py-2" style="background-color:#bbb; border-top: solid 1pt; border-bottom: solid 1pt;">{{ date.strftime('%A, %d %B %Y') }}</h4>
                <table class="table table-striped table-sm">
                    <thead>
                        <th width="15%">Bk#</th><th width="15%">Customer</th><th width="40%">Pets</th>
                        <th width="15%">Depart</th><th width="15%">Balance</th>
                    </thead>
                    {% for c in checkouts[date] %}
                        <tr>
                            <td><a href="{{ url_for('show_booking', bk_no=c.co_bk_no)}}">{{ c.co_bk_no }}</a></td>
                            <td><a href="{{ url_for('show_customer', customer_desc=c.co_cust_no) }}">{{ c.co_cust_surname }}</a></td>
                            <td>{{ c.co_pet_desc }}</td>
                            <td>{{ c.co_end_time }}</td>
                            <td>&#163;{{ '{:.2f}'.format( c.co_balance) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>