<div id="printableArea">
    <div class="pb-5">
        <h2 class="text-center mb-5">Checkin Report ({% if species=='dog' %}Kennels{% else %}Cattery{% endif %})</h2>
        {% for date in checkins.keys()|sort %}
            <div class="pb-3 nobreak">
                <h4 class="text-center py-2" style="background-color:#bbb; border-top: solid 1pt; border-bottom: solid 1pt;">{{ date.strftime('%A, %d %B %Y') }}</h4>
                <table class="table table-striped table-sm">
                    <thead>
                        <th width="10%">Bk#</th><th width="10%">Customer</th><th width="30%">Pets</th>
                        <th width="15%">Run</th>
                        <th width="10%">Arr</th><th width="20%">Depart</th><th width="5%">Form</th>
                    </thead>
                    {% for c in checkins[date] %}
                        <tr>
                            <td><a href="{{ url_for('show_booking', bk_no=c.ci_bk_no)}}">{{ c.ci_bk_no }}</a></td>
                            <td><a href="{{ url_for('show_customer', customer_desc=c.ci_cust_no) }}">{{ c.ci_cust_surname }}</a></td>
                            <td>{% for pet in c.pets %}
                                    {{ pet | safe }}
                                {% endfor %}
                                {% if c.ci_kennel_notes %}
                                <div class="border border-dark m-1 p-1 kennel-notes">
                                    <span class="fw-bold small">Kennel Notes:</span><br>{{ c.ci_kennel_notes|safe }}
                                </div>
                                {% endif %}
                            </td>
                            <td>{{ c.ci_run_code }}</td>
                            <td>{{ c.ci_start_time }}</td>
                            <td>{{ (c.ci_end_date.strftime('%a %d/%m')) }} {{ c.ci_end_time }}</td>
                            <td>{% if c.ci_form %}X{% endif %}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        {% endfor %}
    </div>
</div>