<div class="m-3 p-5 border border-dark">
<table class="table">
    <thead><th>Field</th><th>Value</th></thead>
    <tbody>
        <tr><td><strong>Booking No</strong></td><td><a target="_blank" href="{{ url_for('show_booking', bk_no=form.cif_bk_no) }}">{{ form.cif_bk_no }}</a></td></tr>
        <tr><td><strong>Pet</strong></td><td><a target="_blank" href="{{ url_for('show_pet', pet_no=form.cif_pet_no) }}">{{ form.cif_pet_name }}</a></td></tr>
        <tr><td><strong>Created</strong></td><td>{{ form.cif_created }}</td></tr>
        <tr><td><strong>Vet Name</strong></td><td>{{ form.cif_vet_name }}</td></tr>
        <tr><td><strong>Insured</strong></td><td>{% if form.cif_insured %}Yes{% else %}No{% endif%}</td></tr>
        {% if form.cif_insured %}
            <tr><td><strong>Insurer</strong></td><td>{{ form.cif_insurer }}</td></tr>
        {% endif %}
        <tr><td><strong>Food</strong></td><td>{{ form.cif_food }}</td></tr>
        <tr><td><strong>Quantity</strong></td><td>{{ form.cif_quantity }}</td></tr>
        <tr><td><strong>Food Notes</strong></td><td>{{ form.cif_food_notes }}</td></tr>

        <tr><td><strong>Medications</strong></td><td>{% if form.cif_medications %}Yes{% else %}No{% endif%}</td></tr>
        {% if form.cif_medications %}
            <tr><td><strong>Med Details</strong></td><td>{{ form.cif_med_details }}</td></tr>
        {% endif %}
        <tr><td><strong>Health</strong></td><td>{{ form.cif_health }}</td></tr>
        <tr><td><strong>Emergency Contact</strong></td><td>{{ form.cif_emergency_contact }} - {{ form.cif_emergency_number }}</td></tr>
        {% if form.cif_speces == 'cat' %}
            <tr><td><strong>Lifestyle</strong></td><td>{{ form.cif_cat_lifestyle }}</td></tr>
        {% else %}
        <tr><td><strong>Find a Friend</strong></td><td>{% if form.cif_friend %}Yes{% else %}No{% endif%}</td></tr>
        {% endif %}

        <tr><td><strong>Destination</strong></td><td>{{ form.cif_destination }}</td></tr>
    </tbody>
</table>
</div>
{% if form.cif_attachments and attachments %}
<div class="mt-4">
   <iframe src="/static/attachments/{{ form.cif_attachments }}#toolbar=0" width="100%" height="400px"></iframe>
        <a href="/static/attachments/{{ form.cif_attachments }}" target="_blank" class="btn btn-block btn-outline-primary" download>Download Attachment</a>
</div>
{% endif %}