<div class="table-responsive">
    <table class="table table-sm ro-table">
        <thead><tr class="border">
            <th></th>
            {% for d in dates %}
                <th class="text-center" colspan="2">{{ d.strftime('%a %d/%m') }}</th>
            {% endfor %}
        </tr>
        <tr class="border">
            <th width="2%"></th>
            {% for d in dates %}
                {% for slot in ('am', 'pm') %}
                    <th class="text-center" width="{{ 98 / (total_columns)}}%">{{ slot }}</th>
                {% endfor %}
            {% endfor %}
        </tr>
        </thead>
        <tbody class="lh-1 vsmall">
            {% for rt in ro_table.keys() %}
            <tr class="text-light bg-dark"><td colspan="{{ total_columns + 1 }}">{{ rt }}</td></tr>
                {% set outer_loop = loop %}
                {% for run in ro_table[rt] %}
                    <tr class="">
                        <td class="text-end">{{ loop.index }}</td>
                        {% for cell in run %}
                            <td class="{% if cell.status %}border-start border-end border-dark{% endif %} runview-{{ cell.status }}"
                            colspan="{{ cell.columns }}" data-bs-toggle="tooltip" data-bs-html="true"
                            title="{{ cell.bk_no }}: {{ cell.start_date }} - {{ cell.end_date }}" >
                                {% if cell.status %}
                                    {# <a href="{{ url_for('show_booking', bk_no=cell.bk_no) }}"><span class="vsmall">{{ cell.bk_no }}</span></a> #}
                                    {% if cell.columns > 0 %}{{ cell.pets | safe }}{% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}                        
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
</div>