<form id="note_form" method="post" enctype="multipart/form-data">
<input type="hidden" name="note_no" value="{{ note.no if note else 0}}">
<input type="hidden" name="pet_no" value="{{ note_pet.no if note_pet else 0}}">
<input type="hidden" id="severity" name="severity" value="{{ snap.sev.value if snap else 1 }}">
<!-- First row -->
<div class="row">
    <span class="error-message" id="note-error-message"></span>
</div>
<div class="row">
    <div class="col">
    <label for="note_date">Date</label>
    <input id="note_date" name="date" type="date" class="form-control {% if note %}bg-light{% endif %}" placeholder="Date" value="{{ note.date if note else today }}" {% if note %}disabled{% endif %}>
    </div>
    <div class="col">
    <label for="note_time">Time</label>
    <input id="note_time" name="time" type="time" class="form-control {% if note %}bg-light{% endif %}" placeholder="Time" value="{{ note.time if note else now.strftime('%H:%M') }}" {% if note %}disabled{% endif %}>
    </div>
    <div class="col">
    <label for="note_by">Reported By</label>
    <select id="note_by" class="form-control {% if note %}bg-light{% endif %}" name="by" {% if note %}disabled{% endif %}>
        {% for emp in emps %}
        <option {% if emp.no == default_emp_no %}selected{% endif %}
        value="{{ emp.no }}">{{ emp.nickname }}</option>
        {% endfor %}
    </select>
    </div>
</div>
<!-- Second row -->
<div class="row my-3">
    <div class="col">
    <label for="note_pet">Pet</label>
    {% if note_pet %}
    <a href="{{ url_for('show_pet', pet_no=note_pet.no) }}">{{ note_pet.button_html|safe }}</a>
    {% else %}
    <select id="note_pet" class="form-control" name="pet" onchange="reset_error('note-pet-error')">
        <option value="0" selected>Select one...</option>
        {% if dogs %}
        <option disabled>--------------</option>
        <option disabled>Kennels</option>
        <option disabled>--------------</option>
            {% for pet in dogs %}
                    <option value="{{ pet.no }}">{{ pet.full_description }}</option>
            {% endfor %}
        {% endif %}
        {% if cats %}
        <option disabled>--------------</option>
        <option disabled>Cattery</option>
        <option disabled>--------------</option>
            {% for pet in cats %}
                <option value="{{ pet.no }}">{{ pet.full_description }}</option>
            {% endfor %}
        {% endif %}
    </select>
    {% endif %}
    <div id="note-pet-error" class="invalid-feedback" style="display: none;">Please select a pet.</div>
    </div>
    <div class="col">
        <label for="note_type" class="mb-2">Note Type</label>

        <div class="d-flex">
            <div class="form-control{% if note %} bg-light{% endif %}" id="note-type" name="note-type">
                {% if note and note.type and note.type.code %}
                    <img id="icon-disabled" src="/static/img/note_types/{{ note.type.code }}.png" width="50" height="50">
                {% else %}
                    <img id="icon" src="/static/img/note_types/OTHER.png" width="50" height="50">
                {% endif %}
                <input type="hidden" id="type-no" name="type_no" value="{{ note.type.no if note else 1}}">
            </div>
            <div class="ps-4" id="note_type_description">
                {{ note.type.description if note else 'Please pick note type' }}
            </div>
        </div>
        <div id="icon-grid" class="d-none flex-row align-items-center flex-wrap align-content-start">
            {% for type in types.values() %}
                {% if type.code %}
                    <div class="icon-item-container border border-solid p-1 m-2">
                        <img class="icon-item" data-toggle="tooltip" title="{{ type.description }}" src="/static/img/note_types/{{ type.code }}.png" 
                            data-type-code="{{ type.code }}" data-type-no="{{ type.no }}" width="100%" height="100%">
                    </div>
                {% else %}
                    <div>{{ type.no }}</div>
                {% endif %}
            {% endfor %}
        </div>
    
        <div id="note-type-error" class="invalid-feedback" style="display: none;">Please select a note type.</div>
        </div>
    </div>
    <div id="cat-unit" class="flex-column gap-4 justify-content-evenly type-unit my-4 border border-info p-3 {% if note and note.type and note.type.code == 'CAT'%}d-flex{% else %}d-none{% endif %}">
        <div class="d-flex flex-row justify-content-start gap-5">
            <div>Feeding</div>
            <div class="form-group">
                <label for="cat_dry_food">Dry:</label>
                <div id="cat_dry_food" class="btn-group btn-group-toggle">
                    <button type="button" class="btn btn-secondary" data-value="All"><i class="fas fa-circle"></i></button>
                    <button type="button" class="btn btn-secondary" data-value="Part"><i class="fas fa-adjust"></i></button>
                    <button type="button" class="btn btn-secondary" data-value="None"><i class="fas fa-times"></i></button>
                    <span class="mx-1"></span> <!-- Small space -->
                    <button type="button" class="btn btn-secondary active" data-value="N/A"><i class="fas fa-question"></i></button>
                </div>
                <input type="hidden" id="cat_dry_food_eaten" name="cat_dry_food_eaten" value="N/A">
            </div>
            <div class="form-group">
                <label for="cat_wet_food">Wet:</label>
                <div id="cat_wet_food" class="btn-group btn-group-toggle">
                    <button type="button" class="btn btn-secondary" data-value="All"><i class="fas fa-circle"></i></button>
                    <button type="button" class="btn btn-secondary" data-value="Part"><i class="fas fa-adjust"></i></button>
                    <button type="button" class="btn btn-secondary" data-value="None"><i class="fas fa-times"></i></button>
                    <span class="mx-1"></span> <!-- Small space -->
                    <button type="button" class="btn btn-secondary active" data-value="N/A"><i class="fas fa-question"></i></button>
                    </div>
                <input type="hidden" id="cat_wet_food_eaten" name="cat_wet_food_eaten" value="All">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start gap-5">
            <div>Poo/Pee</div>
            <div class="form-group">
                <label for="cat_poo">Poo</label>
                <input class="form-check-input" type="checkbox" value="1" id="cat_poo" name="cat_poo">
            </div>
            <div class="form-group">
                <label for="cat_pee">Pee</label>
                <input class="form-check-input" type="checkbox" value="1" id="cat_pee" name="cat_pee">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start gap-5">
            <div>Food Given</div>
            <div class="form-group">
                <label for="cat_poo">Dry</label>
                <input class="form-check-input" type="checkbox" value="1" id="cat_dry_given" name="cat_dry_given">
            </div>
            <div class="form-group">
                <label for="cat_pee">Wet</label>
                <input class="form-input" type="text" id="cat_wet_given" name="cat_wet_given">
            </div>
        </div>
        <div class="d-flex flex-row justify-content-start gap-5">
            <div>Enrichment</div>
            <div class="form-group">
                <input class="form-input" type="text" id="cat_enrichment" name="cat_enrichment">
            </div>
        </div>
    </div>
    <div id="poop-unit" class="justify-content-evenly type-unit my-4 border border-info p-3 {% if note and note.type and note.type.code == 'POOP'%}d-flex{% else %}d-none{% endif %}">
        <div class="d-flex">
            <label for="poop-score" class="form-label me-3">Select Poo Score</label>
            <select id="poop-score" class="form-control" name="poop-score">
                <option value="0" disabled>Select a Score</option>
                <option value="1" {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_score == '1' %}selected{% endif %}>1 - Very Hard</option>
                <option value="2" {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_score == '2' %}selected{% endif %}>2 - Hard</option>
                <option value="3" {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_score == '3' %}selected{% endif %}>3 - Normal</option>
                <option value="4" {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_score == '4' %}selected{% endif %}>4 - Soft</option>
                <option value="5" {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_score == '5' %}selected{% endif %}> 5 - Very Soft</option>
                <option value="6" {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_score == '6' %}selected{% endif %}>6 - Diarrhoea</option>
                <option value="7" {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_score == '7' %}selected{% endif %}>7 - Liquid</option>
            </select>
        </div>
        <div class="d-flex gap-2">
            <input class="form-check-input" type="checkbox" value="1" id="poop-blood" name="poop-blood"
            {% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_blood == '1' %}checked{% endif %}>
            <label class="form-check-label" for="poop-blood">Blood</label>
        </div>
        <div class="d-flex gap-2">
            <input class="form-check-input" type="checkbox" value="1" id="poop-mucus" name="poop-mucus"
{% if note and note.type.code == 'POOP' and snap and snap.type_specific and snap.type_specific.poop_mucus == '1' %}checked{% endif %}>

            <label class="form-check-label" for="poop-mucus">Mucus</label>
        </div>
    </div>
    <div class="col">
        <div id="color-picker" class="btn-group" role="group">
            <button type="button" class="btn btn-success me-2 {% if (snap and snap.sev.value == 1) or not snap %}active{% endif %}" data-sev="1">Green</button>
            <button type="button" class="btn btn-warning me-2 {% if snap and snap.sev.value == 2 %}active{% endif %}" data-sev="2">Amber</button>
            <button type="button" class="btn btn-danger {% if snap and snap.sev.value == 3 %}active{% endif %}" data-sev="3">Red</button>
        </div>
        <div class="mt-3" id="severity-description">{{ snap.sev.description if snap else "Please pick severity level" }}</div>
    </div>
</div>
<!-- Third row -->
<div class="row mt-3">
    <div class="col-8">
    <textarea class="form-control" id="note_comments" rows="7" placeholder="Comments"
        name="comments">{% if snap %}{{ snap.comment }}{% endif %}</textarea>
    </div>
    <div class="col-4">

    <label class="btn btn-primary">
        Upload Photo
        <input type="file" accept="image/*" id="note_photo" name="photo" class="form-control-file" onchange="displayImage(this)">
    </label>
    <img id="uploadedImage" {% if snap and snap.photo %}src="/static/images/{{ snap.photo }}"{% else %}src="#"{% endif %}
        alt="Uploaded Image" class="note-photo{% if not snap or not snap.photo %} d-none{% endif %}"
        onclick="showFullSizeImage(this)">
    </div>
</div>
<!-- Fourth row -->
<div class="row mt-3">
    <div class="d-flex note-footer">
    <button type="submit" id="submit-note" class="btn btn-primary">Submit</button>
    <div>{% if snap %}
        <span class="note-fineprint">Note #{{ note.no }}. Last modified {{ snap.created.strftime('%d/%m/%Y %H:%M') }} by {{ snap.recorder.nickname }}
            {% if note.ver_count > 1 %} (version {{ note.ver_count }}){% endif %}
        {% endif %}</span></div>
    <button type="button" id="close-note-btn" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
    </div>
</div>
</form>

<script>
    $(document).ready(function() {
        // Call the function for the wet food category as well
        // set_button_group_behavior('cat_wet_food', 'hidden_field_wet')
      })
      
    let noteTypesArray = {{ types|tojson|safe }}
    let noteSeverities = {{ sevs|tojson|safe }}

    console.log('noteTypesArray', noteTypesArray)

    function getDescriptionByValue(value) {
      
        if(noteSeverities.hasOwnProperty(value-1)) {
            return noteSeverities[value-1].description
        }
        return "Unknown"
      }
      
      
    function setSeverity(severity) {
        $('#severity-description').text(getDescriptionByValue(selected_color))
    }

</script>
