<div class="note-container mt-2" data-note-no="{{ note.no }}" data-ver-no="{{ ver_no }}" data-ver-count="{{ note.ver_count}}">
    <div class="mb-3 d-flex flex-row justify-content-between">
        {{ note.pet.button_html|safe}}
        <span>{{ note.ver_count - ver_no }}/{{ note.ver_count }}</span>
        {{ note.type.code }}
    </div>
    <div class="snap-container note-sev-{{ note_sev }}">
        <div data-severity="{{ note_sev }}">
            <table class="note-table table-50-50 w-100">
                <tr><td><strong>Reported:</strong></td><td>{{ note.time.strftime("%H:%M") }}</td></tr>
                <tr><td><strong>By:</strong></td><td>{{ note.reporter.nickname }}</td></tr>
            </table>
        </div>
        <div class="note-comment flex-grow-1"><p>
            {% if snap.comment %}
                {{ snap.comment|safe }}
            {% else %}
                No comment
            {% endif %}
        </p></div>
        <div class="note-photo-container">
            {% if snap.photo %}
            <a href="#" class="photo-thumbnail" data-photo="{{ url_for('static', filename='images/' + snap.photo) }}">
                <img src="{{ url_for('static', filename='images/' + snap.photo) }}"
                alt="Thumbnail" class="img-thumbnail note-photo">
            </a>
            {% else %}
            <p class="m-2">No Photo</p>
            {% endif %}
        </div>
    </div>
        <div class="note-footer d-flex flex-row">
        <button class="prev-note-version btn btn-dark w-10" {% if ver_no == 1 %}disabled {% endif %}
            onclick="update_note_version({{ note.no }}, 1)">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="btn btn-success flex-grow-1"
            data-toggle="modal" data-target="#note-modal" hx-get="/_note_edit?note_no={{ note.no }}" hx-target="#note-body" hx-swap="innerHTML">Edit</button>
        <button class="next-note-version btn btn-dark w-10" {% if ver_no == note.ver_count %}disabled {% endif %}
            onclick="update_note_version({{ note.no}}, -1)">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</div>
