{% if editable %}
<form id="note_form" method="post" enctype="multipart/form-data">
  <input type="hidden" name="note_no" value="{{ note.no if note else 0}}">
  <!-- First row -->
  <div class="row">
      <div class="col">
      <label for="note_date">Date</label>
      <input id="note_date" name="date" type="date" class="form-control" placeholder="Date" value="{{ note.date if note else today }}">
      </div>
      <div class="col">
      <label for="note_time">Time</label>
      <input id="note_time" name="time" type="time" class="form-control" placeholder="Time" value="{{ note.time if note else now.strftime('%H:%M') }}">
      </div>
      <div class="col">
      <label for="note_by">Reported By</label>
      <select id="note_by" class="form-control" name="by">
          {% for emp in emps %}
          <option {% if emp.no == default_emp_no %}selected{% endif %}
          value="{{ emp.no }}">{{ emp.nickname }}</option>
          {% endfor %}
      </select>
      </div>
  </div>
  <!-- Second row -->
  <div class="row mt-3">
      <div class="col">
      <label for="note_pet">Pet</label>
      <select id="note_pet" class="form-control" name="pet">
          {% for pet in pets %}
          <option value="{{ pet.no }}">{{ pet.full_description }}</option>
          {% endfor %}
      </select>
      </div>
      <div class="col">
      <label for="note_type">Note Type</label>
      <select id="note_type" class="form-control" name="type">
          {% for type in types %}
          <option value="{{ type.no }}">{{ type.code }}</option>
          {% endfor %}
      </select>
      </div>
      <div class="col">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-success">
          <input checked type="radio" name="severity" id="green" autocomplete="off" value="1"> Green
          </label>
          <label class="btn btn-warning">
          <input type="radio" name="severity" id="amber" autocomplete="off" value="2"> Amber
          </label>
          <label class="btn btn-danger">
          <input type="radio" name="severity" id="red" autocomplete="off" value="3"> Red
          </label>
      </div>
      </div>
  </div>
  <!-- Third row -->
  <div class="row mt-3">
      <div class="col-8">
      <textarea class="form-control" id="note_comments" rows="7" placeholder="Comments" name="comments"></textarea>
      </div>
      <div class="col-4">
  
  
      <label class="btn btn-primary">
          Upload Photo
          <input type="file" accept="image/*" id="note_photo" name="photo" class="form-control-file" onchange="displayImage(this)">
      </label>
      <img id="uploadedImage" src="#" alt="Uploaded Image" style="display:none; max-width:100%; max-height:150px; margin-top:10px;">
      </div>
  </div>
  <!-- Fourth row -->
  <div class="row mt-3">
      <div class="col">
      <button type="submit" id="submit-note" class="btn btn-primary">Submit</button>
      <button type="button" id="close-note-btn" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
      </div>
  </div>
  </form>
  {% else %}
  <div class="kennel-note note-sev-{{ note.sev }} d-flex flex-column card">
    <div class="mb-3">
        {{ note.pet.button_html|safe}}
    </div>
    <div class="">
        <table class="note-table table-50-50 w-100">
            <tr><td><strong>Reported:</strong></td><td>{{ note.time.strftime("%H:%M") }}</td></tr>
            <tr><td><strong>By:</strong></td><td>{{ note.reporter.nickname }}</td></tr>
            {% if note.recorder != note.reporter %}
                <tr><td><strong>Recorded By:</strong></td><td>{{ note.recorder.nickname }}</td></tr>
            {% endif %}
         <tr><td><strong>Issue:</strong></td><td>{{ note.type.code }}</td></tr>
        </table>
    </div>
     <div class="note-comment flex-grow-1"><p>
        {% if note.comment %}
            {{ note.comment|safe }}
        {% else %}
            No comment
        {% endif %}
    </p></div>
    <div class="note-photo-container">
        {% if note.photo %}
        <a href="#" class="photo-thumbnail" data-photo="{{ url_for('static', filename='images/' + note.photo) }}">
            <img src="{{ url_for('static', filename='images/' + note.photo) }}"
            alt="Thumbnail" class="img-thumbnail note-photo">
        </a>
        {% else %}
        <p>No Photo</p>
        {% endif %}
    </div>
    <div class="mt-2 d-flex">
        <button class="btn w-10">
            <i class="fas fa-arrow-left"></i>
        </button>
        <button class="btn btn-outline-info flex-grow-1"
            data-toggle="modal" data-target="#note-modal" hx-get="/_note/{{ note.no }}" hx-target="#note-body" hx-swap="innerHTML">Edit</button>
        <button class="btn w-10">
            <i class="fas fa-arrow-right"></i>
        </button>
    </div>
</div>
{% endif %}
