{% include 'components/css.html' %}
<body class="mx-auto" style="width: 1200px">
    <table class="table">
    <thead>
        <th width="9%"></th>
        {% for d in dates.values() %}
            <th width="12%" class="text-center">
                <a href="{{ url_for('home_page', date_arg=d.strftime('%d-%m-%y')) }}" target="_blank">{{ d.strftime('%a<br>%d/%m') | safe }}</a>
            </th>
        {% endfor %}
    </thead>
    <tbody>
        <tr>
            <td></td>
            {% for d in dates.keys() %}
                <td>
                    {% if days_off[d] %}<div class="my-2 p-2 text-center" style="border: 1px solid black; font-weight: bold;">{{ days_off[d] }}</div>{% endif %}
                </td>
            {% endfor %}
        </tr>
    </tbody>
    <tbody id="employees">
        <tr id="working">
            <td><span class="spn-left">Staff</span><span class="spn-center"></span> <span id="staff-expand" class="spn-right"><i id="staff-collapsed" class="fas fa-plus"></i><i id="staff-expanded" class="fas fa-minus d-none"></i></span></td>
            {% for d in dates.keys() %}
                <td data-date="{{ dates[d].strftime('%d-%m-%Y') }}" data-status="XX" class="emp-bucket" id="{{ dates[d].strftime('%d-%m-%Y') }}-w">
                    {{ emps[d].working | safe }}
                </td>
            {% endfor %}
        </tr>
        <tr id="available" style="display: none;">
            <td>Available</td>
            {% for d in dates.keys() %}
                <td data-date="{{ dates[d].strftime('%d-%m-%Y') }}" data-status="  " class="emp-bucket" id="{{ dates[d].strftime('%d-%m-%Y') }}-a">
                    {{ emps[d].available | safe }}
                </td>
            {% endfor %}
        </tr>
        <tr id="unavailable" style="display: none;">
            <td>Unavailable</td>
            {% for d in dates.keys() %}
            <td data-date="{{ dates[d].strftime('%d-%m-%Y') }}" data-status="UU" class="emp-bucket"  id="{{ dates[d].strftime('%d-%m-%Y') }}-u">
                {{ emps[d].unavailable | safe }}
            </td>
        {% endfor %}
    </tbody>
</table>
</body>
