{% extends "base.html" %}
{% block title %}Run Allocation Issues{% endblock %}
{% block body %}
<h1>Run Allocation Issues</h1>
   <!-- The div that will host the grid. ag-theme-alpine is the theme. -->
   <!-- The gid will be the size that this element is given. -->
   <div id="myGrid" class="ag-theme-alpine" style="height: 500px"></div>
   <script type="text/javascript">
        const data = {{ data|tojson }}
       // Function to demonstrate calling grid's API
       function deselect(){
           gridOptions.api.deselectAll()
       }

       // Grid Options are properties passed to the grid
       const gridOptions = {

         // each entry here represents one column
         columnDefs: [
            { field: "iss_type", headerName: "Type" },
            { field: "iss_bk_no", headerName: "bk #",
                cellRenderer: params => {
                    return `<a target="_blank" href="${$SCRIPT_ROOT}/booking/${params.data.iss_bk_no}">${params.data.iss_bk_no}</a>`
                } },
            { field: 'pets', headerName: 'Pets' },
            { field: "iss_run", headerName: 'Run' },
            { field: "iss_hours", headerName: 'Hours' },
            { field: "iss_min_date", headerName: 'From Date' },
            { field: "iss_max_date", headerName: 'To Date' },
            { field: "iss_count", headerName: 'Count' }
         ],

         // default col def properties get applied to all columns
         defaultColDef: {sortable: true, filter: true},

         animateRows: true, // have rows animate to new positions when sorted
       }

       // get div to host the grid
       const eGridDiv = document.getElementById("myGrid")
       // new grid instance, passing in the hosting DIV and Grid Options
       new agGrid.Grid(eGridDiv, gridOptions)

       // Fetch data from server
       gridOptions.api.setRowData(data)
   </script>
{% endblock %}