{% extends "base.html" %}
{% block title %}Book Daycare{% endblock %}
{% block body %}
<h1>Book Daycare</h1>

<div id="controls" class="d-flex flex-column mt-5">
    <div class="d-flex mb-4 ps-4 {% if dogs|length > 1 %}active-group{% endif %}" id="dog-group">
        <label for="dog" class="me-4">Dog:</label>
        <select class="form-select" id="dog" name="dog"
        {% if dogs|length == 1 %}disabled{% endif %}>
            {% if dogs|length > 1 %}
                <option value="0" disabled>Select Dog</option>
            {% endif %}

            {% for dog in dogs %}
                <option value="{{ dog.no }}">{{ dog.description }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="d-flex mb-4 ps-4 {% if (dogs|length == 1) and not date %}active-group{% endif %}" id="date-group">
        <label for="datepicker" class="me-4">Date:</label>
        <input type="text" id="datepicker" {% if date %}data-date="{{ date.strftime('%y-%m-%d')}}"{% endif %}>
    </div>


    <div class="d-flex mb-4 ps-4 {% if dogs|length == 1 and date %}active-group{% endif %}" id="run-group">
        <label for="run" class="me-4">Run:</label>
        <select class="form-select" id="run" name="run">
            <option value="0" disabled>Select Run</option>
            {% if runs %}
                {% for run in runs %}
                    <option value="{{ run.no }}">{{ run.code }}</option>
                {% endfor %}
            {% endif %}
        </select>
    </div>

    <div class="ps-4" id="final-group">
        <div class="d-flex">
            <label for="comment" class="me-4">Comment:</label>
            <textarea rows="4" type="text" class="form-control" id="memo" name="comment"></textarea>
        </div>

        <div class="d-flex mt-4 ps-4">
            <label for="duration" class="me-4">Duration:</label>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="duration" id="full" value="full" checked>
                <label class="form-check-label" for="full">Full</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="duration" id="am" value="am">
                <label class="form-check-label" for="am">AM</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="duration" id="pm" value="pm">
                <label class="form-check-label" for="pm">PM</label>
            </div>
        </div>
    </div>

    <div class="ps-4">
        <button class="btn btn-primary mt-4" id="book">Book</button>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function dog_change() {
        const pet_no = $('#dog').val()
        console.log('dog_change for', pet_no)
        $.getJSON(
            $SCRIPT_ROOT + '/_get_dog_calendar', {
                pet_no: pet_no
            }, data => {
                if (!data.success) {
                    update_status('error', data.msg)
                    return
                }
                const cal = data.cal
                $("#datepicker").datepicker('destroy')
                $("#datepicker").datepicker({
                    format: 'dd-mm-yyyy', // Date format
                    daysOfWeekDisabled: [0, 6], // Disable weekends
                    orientation: 'bottom',
                    startDate: new Date(), // Start with today's date
                    beforeShowDay: function (date) {
                        // Custom formatting logic here
                        var formattedDate = moment(date).format('YYYY-MM-DD')
                        var tooltipText = "" // You can generate this dynamically
                        var classes = "" // You can generate this dynamically
                        if (formattedDate in cal) {
                            dateData = cal[formattedDate]
                            tooltipText = dateData.tooltip
                            if (dateData.status) {
                                classes = 'date-' + dateData.status
                            }
                        }

                        return {
                            tooltip: tooltipText,
                            classes: classes // You can set custom CSS classes for each date
                        }
                    }
                })
                $('#dog-group').removeClass('active-group')
                $('#date-group').addClass('active-group')
            }
        ).fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText)
        })
    }

    $(document).ready(() => {
        let the_date = null
        if ("{{ date_iso }}") {
            the_date = new Date("{{ date_iso }}")
            $('#datepicker').val(moment(the_date).format('DD-MM-YYYY'))
        }

        $('#dog').change(dog_change)
        {% if dogs|length == 1 %}
            dog_change()
        {% else %}
            $('#dog').val('0')
        {% endif %}

        $('#book').click(function() {
            const date = $('#datepicker').val()
            const dog = $('#dog').val()
            const run = $('#run').val()
            const comment = $('#memo').val()
            const duration = $("input[name='duration']:checked").val();

            $.ajax({
                url: $SCRIPT_ROOT + '/_book_daycare',
                type: 'POST',
                data: {
                    date: date,
                    dog: dog,
                    run: run,
                    comment: comment,
                    duration: duration
                },
                success: function(data) {
                    if (data.success) {
                        update_status('info', data.msg)
                        location.assign($SCRIPT_ROOT + '/book_daycare?pet_no=' + dog)
                    } else {
                        update_status('error', data.msg)
                    }
                },
                error: function(error) {
                    update_status('error', error)
                }    
            })
        })

        autoload_runs('datepicker', function() {
            $('#date-group').removeClass('active-group')
            $('#run-group').addClass('active-group')
        })
    })
</script>
{% endblock %}