{% extends "base.html" %}
{% block title %}Cashflow Report{% endblock %}
{% block body %}
<div class="d-none" id="date-range-init">{{ date_range }}</div>
<div class="crowbank-form-group">
    <div class="form-group">
        <label for="date-range" class="form-label">Date Range</label>
        <input type="text" class="form-control date-range" id="date-range">
    </div>
    <div class="form-group">
        <label for="cash-balance" class="form-label">Cash Balance</label>
        <input type="text" class="form-control" id="cash-balance" value="0">
    </div>
    <a class="btn btn-success btn-block" id="generate">Generate</a>
</div>
<div id="cashflow-table"></div>
{% endblock %}
{% block scripts %}
<script>
    function refresh_cashflow() {
        let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
        let s = $('#date-range').val()
        let a = r.exec(s)

        const start_date = a[1]
        const end_date = a[2]
        const cash_balance = $('#cash-balance').val()
        $.getJSON($SCRIPT_ROOT + '/_cashflow_report', {
            start_date: start_date,
            end_date: end_date,
            cash_balance: cash_balance
        }, function(data) {
            $('#cashflow-table').html(data.html);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText)
        })

    }
    $(document).ready(function () {
        $('#date-range').val($('#date-range-init').text())
        $('#date-range').change(refresh_cashflow)
        $('#generate').click(refresh_cashflow)
    })
</script>
{% endblock %}