{% extends "base.html" %}
{% block title %}Daily Notes{% endblock %}
{% block body %}
<h1 class="text-center mb-5">Daily Notes for {{ the_date.strftime("%a %d %b") }}</h1>

{{ m.photo_modal() }}

{% if notes %}
<div class="notes-container" id="notes">
    {% for note in notes %}
        {{ m.show_note(note, 0) }}
    {% endfor %}
</div>
{% else %}
No Notes
{% endif %}
{% endblock %}
