{% extends "base.html" %}
{% block title %}Daycare Candidate{% endblock %}
{% block body %}
<style>
    #dcc-table tr td:nth-child(1) {
        font-weight: 700;
    }
</style>

<a href="{{ url_for('show_daycare_candidates') }}" class="btn btn-outline-dark m-3">
    <i class="fas fa-left-long"></i> Back
</a>

<h1 class="text-center mb-5">Daycare Candidate - {{ dcc.pet.name }}</h1>

<a href="{{ url_for('create_visit', cust_no=dcc.customer.no) }}" class="btn btn-success m-3">Schedule Assessment</a>

<table class="table table-striped" id="dcc-table">
    <thead>
        <th>Field</th>
        <th>Value</th>
    </thead>
    <tbody>
        <tr>
            <td>#</td>
            <td>{{ dcc.no }}</td>
        </tr>
        <tr>
            <td>Created</td>
            <td>{{ dcc.create_date }}</td>
        </tr>
        <tr>
            <td>Customer</td>
            <td><a href="{{ url_for('show_customer', customer_desc=dcc.customer.no) }}"> {{ dcc.customer.display_name }}</a></td>
        </tr>
        <tr>
            <td>Pet</td>
            <td><a href="{{ url_for('show_pet', pet_no=dcc.pet.no) }}">{{ dcc.pet.description }}</a></td>
        </tr>
        <tr>
            <td>Status</td>
            <td>
                <select name="status" class="option-select" data-row-id="{{ dcc.no }}">
                    {% for status in statuses %}
                        <option value="{{ status.code }}" {% if status.code == dcc.status.code %}selected{% endif %}>
                            {{status.code|capitalize}}: {{ status.description }}
                        </option>
                    {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <td>Comment</td>
            <td><textarea class="w-100 save-textarea"  data-row-id="{{ dcc.no }}">{{ dcc.comment }}</textarea></td>
        </tr>
        {% for (key, value) in dcc.fields.items() %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ value }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    let timer
    function debounce(func, delay) {
        clearTimeout(timer)
        timer = setTimeout(func, delay)
    }

// Save functionality
    function saveData(rowId, textareaContent) {
  // Your AJAX call to save data
    $.ajax({
        url: '/_update_dcc_comment',
        type: 'POST',
        data: {
            'comment': textareaContent,
            'dcc_no': rowId
        },
        success: function(response) {
            update_status('info', 'Comment updated')
            console.log('Server Response:', response)
        }
})

        console.log("Saving data: ", textareaContent);
    }


    $(document).ready(function() {

      // Focus Out
      $('.save-textarea').focusout(function() {
        const textareaContent = $(this).val()
        const rowId = $(this).data('row-id')
        saveData(rowId, textareaContent)
      })

      // Debounce
      $('.save-textarea').on('input', function() {
        const textareaContent = $(this).val()
        const rowId = $(this).data('row-id')
        debounce(() => saveData(rowId, textareaContent), 1000)
      })

        $('.option-select').change(function() {
            const selectedOption = $(this).val()
            const rowId = $(this).data('row-id')
            
            // Make AJAX call to server
            $.ajax({
                url: '/_update_dcc_status',
                type: 'POST',
                data: {
                    'status': selectedOption,
                    'dcc_no': rowId
                },
                success: function(response) {
                    update_status('info', 'Status updated')
                    console.log('Server Response:', response)
                }
            })
        })
    })
</script>
{% endblock %}