{% extends "base.html" %}
{% block title %}Daycare Candidate{% endblock %}
{% block body %}
<h1>Daycare Candidates</h1>

<a href="{{ url_for('show_daycare_candidates', show_all=1-show_all) }}" class="btn btn-outline-dark m-3">Show {% if show_all %}Active{% else %}All{% endif %}</a>
<a href="{{ url_for('show_daycare_candidates', refresh=1) }}" class="btn btn-outline-danger m-3">Refresh</a>

<table class="table table-striped table-hover" id="dcc-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Created</th>
            <th>Customer</th>
            <th>Dog</th>
            <th>Weekdays</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for dcc in dccs %}
        <tr data-href="{{ url_for('show_daycare_candidate', dcc_no=dcc.no) }}" class="dcc-{{ dcc.status }}">
            <td>{{ dcc.no }}</td>
            <td>{{ dcc.create_date }}</td>
            <td>{{ dcc.customer.display_name }}</td>
            <td>{{ dcc.pet.description }}</td>
            <td>{{ dcc.weekdays }}</td>
            <td>{{ dcc.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        const table = $('#dcc-table').DataTable({
            pageLength: 25
        })

        inject_column_filter(table, 5)
    })
</script>
{% endblock %}