{% extends "base.html" %}
{% block title %}Punch{% endblock %}
{% block body %}
    <h1>Punch Details</h1>
    <table class="table">
        <tbody>
            <tr><td>Employee</td><td>{{ employee.full_name }}</td></tr>
            <tr><td>Date</td><td>{{ punch.date.strftime('%d/%m/%Y') }}</td></tr>
            <tr><td>Time</td><td>{{ punch.time.strftime('%H:%M') }}</td></tr>
            <tr><td>Actual Time</td><td>{{ punch.actual_time.strftime('%H:%M') }}</td></tr>
            <tr><td>Comment</td><td>{{ punch.comment }}</td></tr>
        </tbody>
    </table>

    <img width="200" src='{{ punch.image }}'/>
{% endblock %}