{% extends "base.html" %}
{% block title %}Daily Notes{% endblock %}
{% block body %}
<div class="row pb-3 pt-4">
    <div class="col-3">
        <a href="{{ url_for('daily_notes', date_arg=(the_date | prev_day).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-left"></i></a></div>
    <div class="col-6">
        <h1 class="text-center mb-5">Daily Notes for {{ the_date.strftime("%a %d %b") }}</h1>
    </div>
    <div class="col-3 text-end">
        <a href="{{ url_for('daily_notes', date_arg=(the_date | next_day).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-right"></i></a></div>
</div>

{{ m.photo_modal() }}

{% if notes %}
<div id="note-sev-selector">
    <div class="checkbox-row" style="background-color: green;">
        <input type="checkbox" id="sev-1" value="GREEN" checked>
        <label for="green" >Green</label>
    </div>
    <div class="checkbox-row" style="background-color: orange;">
        <input type="checkbox" id="sev-2" value="AMBER" checked>
        <label for="amber" >Amber</label>
    </div>
    
    <div class="checkbox-row" style="background-color: red;">
        <input type="checkbox" id="sev-3" value="RED" checked>
        <label for="red" >Red</label>
    </div>
</div>

<div class="notes-table">
    <table class="table table-hover" id="notes_table">
        <thead>
            <tr>
                <th>Pet</th>
                <th>Time</th>
                <th>Type</th>
                <th>Comment</th>
                <th>Photo</th>
                <th>Severity</th>
            </tr>
        </thead>
        <tbody>
            {% for note in notes %}
            <tr class="note-sev-{{ note.current_snap.sev.value }}" data-toggle="modal" data-target="#note-modal" hx-get="/_note_edit?note_no={{ note.no }}" hx-target="#note-body" hx-swap="innerHTML">
                <td>{{ note.pet.button_html|safe }}</td>
                <td>{{ note.time.strftime("%H:%M") }}</td>
                <td>{{ note.type.code }}</td>
                <td>{{ note.current_snap.comment }}</td>
                <td>
                    {% if note.current_snap.photo %}
                    <a href="#" class="photo-thumbnail" data-photo="{{ url_for('static', filename='images/' + note.current_snap.photo) }}">
                        <img src="{{ url_for('static', filename='images/' + note.current_snap.photo) }}"
                        alt="Thumbnail" class="img-thumbnail note-photo-thumbnail">
                    </a>
                    {% else %}
                        No Photo
                    {% endif %}
                </td>
                <td>{{ note.current_snap.sev.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
No Notes
{% endif %}
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        const table = $('#notes_table').DataTable({
            "columnDefs": [
            {
              "targets": [5], // Hide the third column (0-indexed)
              "visible": false
            }
          ]
        })
        inject_column_filter(table, 2)


        function performFiltering() {
            $.fn.dataTable.ext.search = [] // Clear previous custom searches
            $.fn.dataTable.ext.search.push(
              function(settings, data, dataIndex) {
                var status = data[5] // Get the Status value from the hidden column
                var showRow = $('#sev-' + status).prop('checked') // Check if corresponding checkbox is checked
                return showRow
              }
            )
            table.draw() // Redraw table based on new filtering
          }

          $('#note-sev-selector input[type="checkbox"]').change(performFiltering)

          // Initial filtering
          performFiltering()
    })
</script>
{% endblock scripts %}
