{% extends "base.html" %}
{% block title %}Punches{% endblock %}
{% block body %}
    <h1>Historic Punches</h1>

    {% for date in punches.keys() %}
        <h2>{{ date.strftime('%d/%m/%Y') }}</h2>
        {% for emp in punches[date] %}
            <h3>{{ emp }}</h3>
            <div class="d-flex">
                {% for punch in punches[date][emp] %}
                    <div class="m-4 punch d-flex flex-column border p-2">
                        <img width="200" src='{{ punch.image }}'/>
                        <span>No: {{ punch.no }}</span>
                        <span>Time: {{ punch.time.strftime('%H:%M') }}</span>
                        <span>Actual Time: {{ punch.actual_time.strftime('%H:%M') }}</span>
                        {% if punch.comment %}<span>Comment: {{ punch.comment }}</span>{% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}