{% extends "base.html" %}
{% block title %}Punch{% endblock %}
{% block body %}
    <h1>Punch Details</h1>
    <h2>Employee: {{ employee.full_name }}</h2>
    <h2>Date: {{ date.strftime('%d/%m/%Y') }}</h2>

    <table class="table">
        <thead>
            <th>Actual Time</th>
            <th>Time</th>
            <th>Comment</th>
            <th>Image</th>
        </thead>
        <tbody>
            {% for punch in punches %}
            <tr>
                <td>{{ punch.actual_time }}</td>
                <td>{{ punch.time }}</td>
                <td>{{ punch.comment }}</td>
                <td><img width="200" src='{{ punch.image }}'/></td>
            </tr>
            {% endfor %}
    </table>
{% endblock %}