{% extends "base.html" %}
{% block title %}Test{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<table id="table" class="table">
  <thead><th>Col1</th><th>Col2</th><th>Col3</th></thead>
  <tbody>
    <tr><td>1</td><td>open</td><td>George</td></tr>
    <tr><td>2</td><td>closed</td><td>Stan</td></tr>
    <tr><td>3</td><td>waiting</td><td>Lou</td></tr>
    <tr><td>4</td><td>pending</td><td>Marvin</td></tr>
    <tr><td>5</td><td>close</td><td>Dina</td></tr>
    <tr><td>6</td><td>open</td><td>Fiona</td></tr>
    <tr><td>7</td><td>waiting</td><td>Buddy</td></tr>
  </tbody>
</table>

{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
      var table = $('#table').DataTable();
  
      // Add a select box to the header of the first column
      var column = table.column(1);
      var select = $('<select multiple="multiple"></select>')
          .appendTo($(column.header()));
  
      // Get unique values from the column
      column.data().unique().sort().each(function(value, index) {
          select.append('<option value="' + value + '">' + value + '</option>');
      });
  
      // Initialize jquery.multiselect plugin
      select.multiselect({
          selectedText: "# of # selected"
      });
  
      // Event handler to filter rows
    // Event handler to filter rows
select.on('change', function() {
  var selected_values = $(this).val();
  
  if(selected_values.length === 0) {
      column.search('').draw();
  } else {
      // Join array into a pipe-separated string for regex search
      var regex_search = selected_values.join('|');
      
      // Use regex search to filter the data
      column.search(regex_search, true, false).draw();
  }
});

  });
  
</script>
{% endblock %}
