{% extends "base.html" %}
{% block title %}Customers{% endblock %}
{% block body %}

<form action="/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="photo" accept="image/*" style="display: none;" id="fileInput">
    <button type="button" class="btn btn-primary" id="uploadTrigger">Upload or Take Photo</button>
    <input type="submit" value="Submit" class="btn btn-success">
    <img id="imagePreview" src="#" alt="Image Preview" style="display: none;">
</form>

{% endblock %}
{% block scripts %}
<script>
    $("#uploadTrigger").click(function(){
        $("#fileInput").click()
    });

    $("input[type=file]").change(function(){
        var reader = new FileReader()

        reader.onload = function(e){
            $('#imagePreview').attr('src', e.target.result).show()
        }

        reader.readAsDataURL(this.files[0])
    })
</script>
{% endblock %}