<table class="table text-center" style="width: 100%">
    <thead><th width="30%">Date</th><th colspan="2">Status</th></thead>
    <tbody>
        {% for date, status in rota_data.items() %}
            <tr data-date="{{ date.strftime('%d-%m-%Y') }}" data-status="{{ status if status else 'AA' }}"
                class="{% if status not in ('XX', 'X ', ' X') %}rota-toggle{% endif %}">
                <td width="30%">{{ date.strftime('%a %d/%m') }}</td>
                {% if status == 'XX' %}
                    <td colspan="2" class="rota-working">Full Day</td>
                {% elif status == 'X ' %}
                    <td width="35%" class="rota-working">AM</td><td></td>
                    {% elif status == ' X' %}
                    <td></td><td width="35%" class="rota-working">PM</td>
                {% elif status == 'UU' %}
                    <td colspan="2" class="rota-unavailable">Unavailable</td>
                {% else %}
                    <td colspan="2" class="rota-available">Available</td>
                {% endif %}
            </tr>
        {% endfor %}
    </tbody>
</table>
