{% if g.remote %}
    {% extends "rota/rota_base.html" %}
{% else %}
    {% extends "base.html" %}
{% endif %}
{% block title %}Rota for {{ start_date.strftime("%d/%m/%y") }} to {{ end_date.strftime("%d/%m/%y") }} {% endblock title %}
{% block body %}

<h3 class="text-center" id="employee-heading"></h3>

<div class="row pb-3 pt-4 m-0">
    <div class="col-3">
        <a href="" id="prev-week">
            <i class="fas fa-3x fa-long-arrow-alt-left"></i></a></div>
    <div class="col-6">
        <h4 class="text-center">{{ start_date.strftime("%d/%m") }} to {{ end_date.strftime("%d/%m") }}</h1>
    </div>
    <div class="col-3 text-end">
        <a href="" id="next-week">
            <i class="fas fa-3x fa-long-arrow-alt-right"></i></a></div>
</div>
<hr/>
<div id="shifts"></div>
<div class="row pb-3 p-3">
    <div id="rota-status" style="padding: 10px;"></div>
</div>
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" method="POST" action="" class="form" id="confirm_rota">
        {{ confirm_form.hidden_tag() }}
        {% if current_user.is_authenticated and current_user.role >= g.roles.manager %}
        <div class="form-group">
            {{ confirm_form.employee.label(class_="form-label") }}
            {{ confirm_form.employee(class_="form-control") }}
        </div>
        {% endif %}
        <div class="form-group">
            {{ confirm_form.comment.label(class_="form-label") }}
            {{ confirm_form.comment(class_="form-control") }}
        </div>
        <div class="d-flex">
            {{ confirm_form.accept(class_="btn btn-success px-5 me-2") }}
            {{ confirm_form.decline(class_="btn btn-danger px-5") }}
        </div>

    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
    const server_data = {{ data|tojson }}
    emp_no = server_data.emp_no

    const weekstart = "{{ start_date.strftime('%d-%m-%Y') }}"
    $("#confirm_rota #decline").click(() => {
        const comment = $('#confirm_rota #comment').val()
        if (!comment) {
            event.preventDefault();
            alert('Please include an explanation for the decline')
        }
    })

    function update_shifts(data) {
        $('#shifts').html(data.html)
        $('.rota-toggle').click((event) => {
            const url = 'https://crowbank.co.uk/employee-absence-request'
            const row = $(event.target).parent()
            const toggle_date = row.data('date')
            const status = row.data('status')
            if (status != 'UU') {
                const win = window.open(url, '_blank');
                if (win) {
                    //Browser has allowed it to be opened
                    win.focus();
                } else {
                    //Browser has blocked it
                    alert('Please allow popups for this website');
                }
            }
        })        
        const confirm_status = data.shift_confirm_status
        if (confirm_status) {
            $('#rota-status')
                .removeClass()
                .addClass(confirm_status.class_)
                .html(confirm_status.msg)
        }
        const employee = data.employee
        if (employee) {
            $('#employee-heading').text(`${employee.forename} ${employee.surname}`)
        }
    }

    function toggle_availability(emp_no, toggle_date, status) {
        $('#rota-status').html('Updating...')
        $.getJSON($SCRIPT_ROOT + '/rota/_toggle_status', {
            emp_no: emp_no,
            toggle_date: toggle_date,
            status: status
        }, function(data) {
            if (data.status == 'error') {
                $('#rota-status').addClass('rota-error').html(data.msg)
                return
            }
            $('#rota-status').addClass('rota-success').html(`Availability on ${toggle_date} changed`)
            update_shifts(data)
        })
        .fail(function(jqXHR, textStatus) {
            update_status(textStatus, jqXHR.responseText);
        })
    }

    function load_shifts(emp_no) {
        if (emp_no) {
            $('#shifts').html('Loading...')
            $.getJSON($SCRIPT_ROOT + '/rota/_personal_rota', {
                emp_no: emp_no,
                start_date: weekstart
            }, function(data) {
                update_shifts(data)
            })
            .fail(function(jqXHR, textStatus) {
                update_status(textStatus, jqXHR.responseText);
            })
        }        
    }

    $(document).ready( function() {
        $('#prev-week').click((e) => {
            e.preventDefault()
            const url = `${$SCRIPT_ROOT}/rota/${server_data.prev_week}/${emp_no}`
            window.location.href = url
        })
        
        $('#next-week').click((e) => {
            e.preventDefault()
            const url = `${$SCRIPT_ROOT}/rota/${server_data.next_week}/${emp_no}`
            window.location.href = url
        })
        
        if (emp_no) {
            load_shifts(emp_no)
        }

        $('#confirm_rota #employee').change(() => {
            emp_no = $('#confirm_rota #employee').val()
            load_shifts(emp_no)
        })
    })

</script>
{% endblock %}