{% macro run(id) %}
    <div class="run droppable" id="{{ id }}">
        <div class="run-label">{{ id }}</div>
        <div class="run-container">
            <div class="run-present block-container">
                <div class="booking"></div>
                <div class="occupant"></div>
                <div class="dates"></div>
            </div>
            <div class="run-future block-container">
                <div class="booking"></div>
                <div class="occupant"></div>
                <div class="dates"></div>
            </div>
        </div>
        <div class="run-date"></div>
    </div>
{% endmacro %}

{% macro run2(id) %}
    <div class="run" id="{{ id }}">
        <div class="run-label">{{ id }}</div>
        <div class="run-container"></div>
    </div>
{% endmacro %}

{% macro facing_runs(size, left, right) %}
    <div class="run-pair run-{{ size }}">
        {{ run(left) }}
        {{ run(right) }}
    </div>
{% endmacro %}


{% extends "base.html" %}
{% block title %}Allocate Runs{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/allocate.css">
{% endblock %}

{% block body %}
<div id="control-row" class="noprint container">
    <div>
        <h6 class="text-center">Date Range</h6>
        <div id="date-selector" class="control-box">
            <input type="text" class="form-control date-range" id="date-range">
            <button id="refresh" class="btn btn-primary mx-auto">Refresh</button>
        </div>
    </div>
    <div><h6 class="text-center">Active Date</h6>
    <div id="active-date-box" class="control-box">
        <div id="active-date-region">
            <i class="fas fa-fast-backward" id="fast-backward"></i>
            <i class="fas fa-step-backward" id="step-backward"></i>
            <div id="active-date-display">
                <span class="form-control" id="active-date" style="width: 100%;"></span>
            </div>
            <i class="fas fa-step-forward" id="step-forward"></i>
            <i class="fas fa-fast-forward" id="fast-forward"></i>
        </div>
    </div></div>
</div>
{% if allocate_style == 'map' %}
<div class="container map run-map">
    <div class="wing" id="north">
        <h3 class="wing-header" id="north">North Wing</h3>
        {{ facing_runs('double', 'NF8', 'NR8') }}
        {{ facing_runs('double', 'NF7', 'NR7') }}
        {{ facing_runs('standard', 'NF6', 'NR6') }}
        {{ facing_runs('standard', 'NF5', 'NR5') }}
        {{ facing_runs('standard', 'NF4', 'NR4') }}
        {{ facing_runs('standard', 'NF3', 'NR3') }}
        {{ facing_runs('standard', 'NF2', 'NR2') }}
        {{ facing_runs('standard', 'NF1', 'NR1') }}
    </div>
    <div class="wing" id="south">
        <h3 class="wing-header" id="south">South Wing</h3>
        {{ facing_runs('deluxe', 'DLX-R', 'DLX-F') }}
        {{ facing_runs('standard', 'SR8', 'SF8') }}
        {{ facing_runs('standard', 'SR7', 'SF7') }}
        {{ facing_runs('standard', 'SR6', 'SF6') }}
        {{ facing_runs('standard', 'SR5', 'SF5') }}
        {{ facing_runs('standard', 'SR4', 'SF4') }}
        {{ facing_runs('standard', 'SR3', 'SF3') }}
        {{ facing_runs('standard', 'SR2', 'SF2') }}
        {{ facing_runs('standard', 'SR1', 'SF1') }}
    </div>
    <div class="text-center unallocateds droppable" id="unalloc">
        <h3 class="wing-header">Unallocated</h3>
        <div>
            <h4>Present</h4>
            <div class="unallocated-container" id="unalloc-present"></div>
        </div>
        <div>
            <h4>Future</h4>
            <div class="unallocated-container" id="unalloc-future"></div>
        </div>
        
    </div>
</div>
{% else %}
<div class="container map run-table" id="run-table">
    <div class="date-row"><div class="run-label">Run</div><div id="dates"></div></div>
    {{ run2('Unalloc') }}
    {{ run2('DLX-F') }}
    {{ run2('DLX-R') }}
    {{ run2('NF7') }}
    {{ run2('NF8') }}
    {{ run2('NR7') }}
    {{ run2('NR8') }}
    {{ run2('NF1') }}
    {{ run2('NF2') }}
    {{ run2('NF3') }}
    {{ run2('NF4') }}
    {{ run2('NF5') }}
    {{ run2('NF6') }}
    {{ run2('NR1') }}
    {{ run2('NR2') }}
    {{ run2('NR3') }}
    {{ run2('NR4') }}
    {{ run2('NR5') }}
    {{ run2('NR6') }}
    {{ run2('SF1') }}
    {{ run2('SF2') }}
    {{ run2('SF3') }}
    {{ run2('SF4') }}
    {{ run2('SF5') }}
    {{ run2('SF6') }}
    {{ run2('SF7') }}
    {{ run2('SF8') }}
    {{ run2('SR1') }}
    {{ run2('SR2') }}
    {{ run2('SR3') }}
    {{ run2('SR4') }}
    {{ run2('SR5') }}
    {{ run2('SR6') }}
    {{ run2('SR7') }}
    {{ run2('SR8') }}

</div>
{% endif %}
{% endblock %}

{% block scripts %}
<script>
    {% include "allocate.js" %}
</script>
{% endblock %}
