{% extends "base.html" %}
{% block title %}Open Amendment Requests{% endblock %}
{% block body %}
<div class="row">
    <div class="col-8 mt-3 mb-4"><h2>Booking Amendment Requests</h2></div>
    <div class="col-4 form-check align-middle mt-3">
        <input class="form-check-input" type="checkbox" value="0" id="show_all">
        <label class="form-check-label" for="show_all">Show All</label>
    </div>
</div>
<table class="table table-sm">
    <thead><th>Booking #</th><th>Created</th><th>Action</th><th>Customer</th><th>Pets</th><th>From</th><th>To</th><th>Comment</th></thead>
    <tbody class="searched">
        {% for a in amendments %}
            <tr class="{% if a.cf_status == 0 %}request-open{% else %}request-closed{% endif %}">
                <td><a href="{{ url_for('edit_booking', bk_no=a.cf_bk_no)}}">{{ a.cf_bk_no }}</a></td>
                <td>{{ a.cf_created.strftime("%d/%m/%y %H:%M") }}</td>
                <td>{{ a.cf_action }}</td>
                <td><a href="{{ url_for('show_customer', customer_desc=a.cf_cust_no) }}">{{ a.cf_surname }}</a></td>
                <td>{{ a.cf_pets }}</td>
                <td>{{ a.cf_start_date.strftime("%d/%m/%y") }}</td>
                <td>{{ a.cf_end_date.strftime("%d/%m/%y") }}</td>
                <td>{{ a.cf_comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    function filterRequests() {
        var showAll = $("#show_all").prop('checked');
        var value = '';
        if ( $("#search").length ) {
            value = $("#search").val().toLowerCase();
        }
    
        $(".searched tr").filter(function() {
            $(this).toggle(
                $(this).text().toLowerCase().indexOf(value) > -1 &&
                (showAll || $(this).hasClass('request-open'))
            )
        })
    }

    $(document).ready(function(){
        $("#search").on("keyup", filterRequests);
        $("#show_all").prop('checked', false);
        $('#show_all').change(filterRequests);
        $(".search-toggle").change(filterRequests);
        $("#search").focus();
        filterRequests();
    });
    
</script>
{% endblock scripts %}