{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<style>
    .depositButton {
        text-decoration: none;
        font-size: 1.2rem;
        background-color: lightgreen;
        border-color: black;
        border-width: 2px;
        border-radius: 10px;
        border-style: solid;
        color: black;
        padding: 15px 50px;
        margin: 0px 30px;
    }

    .confirmButton {
        text-decoration: none;
        font-size: 1.2rem;
        background-color: lightblue;
        border-color: black;
        border-width: 2px;
        border-radius: 3px;
        border-style: solid;
        color: black;
        padding: 15px 50px;
        margin: 0px 30px;
    }

    .booking_table {
        font-size: 0.75em;
        width: 80%;
        margin-bottom: 0.5rem;
    }
</style>
<h1 style="text-align: center; font-size: 2rem; margin-bottom: 20px;">Crowbank - {{ record.email_booking.status.description }} Booking</h1>
<div>
    <p>
    <p>We have amended your <strong>{{ record.email_booking.status.description|lower }}</strong> booking below:</p>
    
    {{ m.show_booking(record.email_booking ) }}

    {% if text %}
        <div class="border border-solid p-3 m-3 small">Note: {{ text }}</div>
    {% endif %}

    {% if record.email_booking.status.code == 'C' %}
        <p>Shortly before the start date, we will ask you to complete a check-in form.</p>
    {% else %}
        <p>Please press the button below to confirm your booking by paying a deposit of &pound;{{ "{:.2f}".format(record.email_deposit_amount) }}.</p>

        <div style="text-align: center; margin: 50px;">
            <a class="depositButton" href="{{record.email_deposit_link}}", target="_blank">Pay Deposit</a>
        </div>

        <p><strong style="color: red">Your space will not be guaranteed, and your booking may be cancelled at any time until you confirm your booking!</strong></p>
    {% endif %}

    <p>If you would like to cancel the booking, please click <a href="{{ record.email_cancel_url }}" target="_blank">here</a>.</p>
    <p>If you have any questions or would like to amend the booking, please reply to this email.</p>

    <div class="mt-4">
        <span style="font-size: 0.85rem;">Booking #{{ record.email_bk_no }}</span>
    </div>
    {% if record.email_outstanding > 0 %}
    <hr class="my-4">
    <h5 class="text-center">Invoice Details</h5>
    {{ m.show_invoice(record.email_invoice, as_email=True) }}
    {% endif %}
</div>
{% endblock body %}