{% extends "base.html" %}
{% block title %}Audit{% endblock %}
{% block body %}
<div class="row mb-3 mt-5">
    <div class="mb-3 col-sm-4">
        <input class="search-toggle" type="checkbox" value="1" id="payments" checked data-toggle="toggle" data-on="<span style='color: white;'>Payments<span>" data-off="<span class='strike-through'>Payments</span>" data-onstyle="booking-past btn-sm" data-offstyle="basic btn-sm">
        <input class="search-toggle" type="checkbox" value="1" id="bookings" checked data-toggle="toggle" data-on="<span style='color: white;'>Bookings<span>" data-off="<span class='strike-through'>Bookings</span>" data-onstyle="booking-present btn-sm" data-offstyle="basic btn-sm">
    </div>
    <div class="col-sm-8">
        <input class="search-toggle" type="checkbox" value="1" id="new" checked data-toggle="toggle" data-on="New" data-off="<span class='strike-through'>New</span>" data-onstyle="booking-confirmed btn-sm" data-offstyle="basic btn-sm">
        <input class="search-toggle" type="checkbox" value="1" id="modified" checked data-toggle="toggle" data-on="Modified" data-off="<span class='strike-through'>Modified</span>" data-onstyle="booking-booked btn-sm" data-offstyle="basic btn-sm">
        <input class="search-toggle" type="checkbox" value="1" id="status" checked data-toggle="toggle" data-on="Status" data-off="<span class='strike-through'>Status</span>" data-onstyle="booking-hold btn-sm" data-offstyle="basic btn-sm">
        <input class="search-toggle" type="checkbox" value="1" id="deleted" checked data-toggle="toggle" data-on="Deleted" data-off="<span class='strike-through'>Deleted</span>" data-onstyle="booking-cancelled btn-sm" data-offstyle="basic btn-sm">

    </div>
</div>
<div class="row">
    <table class="table table-sm">
        <thead>
            <tr class="table-header"><th>Description</th><th>Date</th><th>Time</th><th>Bk #</th><th>Customer</th><th>Pets</th><th>Old Status</th><th>New Status</th><th>Amount</th></tr>
        </thead>
        <tbody class="searched">
            {% for row in rows %}
            <tr class="searched booking-{{ booking.status.description}} booking-{{ booking.tense }}">
                <td width="10px" class="btn-booking-{{ booking.tense }}"></td>
                <td><a href="{{ url_for('show_booking', bk_no=booking.no) }}">{{ booking.no }}</a></td>
                <td><a href="{{ url_for('show_customer', customer_desc=booking.customer.no) }}">{{ booking.customer.surname }}</a></td>
                <td>{{ booking.pet_names }}</td>
                <td><a href="{{ url_for('home_page', date_arg=booking.start_date.strftime('%Y%m%d')) }}">{{ booking.start_date.strftime("%d/%m/%Y") }}</a></td>
                <td><a href="{{ url_for('home_page', date_arg=booking.end_date.strftime('%Y%m%d')) }}">{{ booking.end_date.strftime("%d/%m/%Y") }}</a></td>
                <td>{% if booking.expiry and booking.status.description == 'Hold' %}{{ booking.expiry.strftime("%d/%m/%Y") }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/bookings.js"></script>
{% endblock %}