{% extends "base.html" %}
{% block title %}Availability Dump{% endblock title %}
{% block body %}
<table class="table table-bordered table-sm" style="table-layout: auto;">
    <thead class="center-headers">
        <tr>
            <th style="width: 80px">Date</th>
            <th style="width: 40px"></th>
            {% for rt in availability.rts %}
                <th style="text-align:center">{{ rt.desc }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody class="center-td">
        {% for slot in availability.slots %}
        {% set slotloop = loop %}
        <tr class="short-row">
            {% if slot.slot == 'am' %}
                <td rowspan="2" style="vertical-align:middle">
                    <small>
                        {{ slot.date.strftime("%a %d/%m") }}
                    </small>
                </td>
            {% endif %}
            <td><small>{{ slot.slot }}</small></td>
            {% for rt in availability.rts %}
                <td style="text-align:center">
                    {% set data = availability.availability[loop.index0][slotloop.index0]%}
                    {{ data.occupied }} / {{ data.capacity }}
                </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}