{% if popup %}
{% extends "popup.html" %}
{% else %}
{% extends "base.html" %}
{% endif %}
{% block title %}Availability{% endblock %}
{% block body %}
<style>
    .right-align {
      text-align: right;
    }
</style>

<div class="d-none" id="date-range-init">{{ date_range }}</div>
<div class="d-none" id="species">{{ species }}</div>
<div class="crowbank-form-group">
    <div class="form-group">
        <label for="date-range" class="form-label">Date Range</label>
        <input type="text" class="form-control date-range" id="date-range">
    </div>
    <div class="form-check">
        <input type="checkbox" id="kennels" class="form-check-input" checked>
        <label for="kennels" class="form-check-label">Kennels</label>
    </div>
    <div class="ms-4 form-check">
        <input type="checkbox" id="standard" class="form-check-input" checked>
        <label for="standard" class="form-check-label">Standard</label>
    </div>
    <div class="ms-4 form-check">
        <input type="checkbox" id="double" class="form-check-input" checked>
        <label for="double" class="form-check-label">Double</label>
    </div>
    <div class="ms-4 form-check">
        <input type="checkbox" id="deluxe" class="form-check-input" checked>
        <label for="deluxe" class="form-check-label">Deluxe</label>
    </div>
    <div class="ms-4 form-check">
        <input type="checkbox" id="home" class="form-check-input" checked>
        <label for="home" class="form-check-label">Home</label>
    </div>
    <div class="form-check">
        <input type="checkbox" id="cattery" class="form-check-input" checked>
        <label for="cattery" class="form-check-label">Cattery</label>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" id="refresh">Refresh</button>
        <button class="btn btn-success" id="runview">Run View</button>
    </div>
</div>
<div id="availability-table"></div>
{% endblock %}
{% block scripts %}
<script>
    function rt_click(e) {
        let daycare = $('#daycare').prop('checked')
        let standard = $('#standard').prop('checked')
        let double = $('#double').prop('checked')
        let deluxe = $('#deluxe').prop('checked')
        let home = $('#home').prop('checked')
        if (daycare && standard && double && deluxe && home) {
            $('#kennels').prop('indeterminate', false)
            $('#kennels').prop('checked', true)
            $('#cattery').prop('checked', false)
        } else if (daycare || standard || double || deluxe || home) {
            $('#kennels').prop('indeterminate', true)
            $('#kennels').prop('checked', true)
            $('#cattery').prop('checked', false)
        } else {
            $('#kennels').prop('checked', false)
            $('#cattery').prop('checked', true)
        }
        refresh_availability()
    }

    $(document).ready(function() {
        $('#kennels').click(function() {
            if ($('#kennels').prop('checked')) {
                $('#kennels').prop('indeterminate', false)
                $('#kennels').prop('checked', true)
                $('#daycare').prop('checked', false)
                $('#standard').prop('checked', true)
                $('#double').prop('checked', false)
                $('#deluxe').prop('checked', false)
                $('#home').prop('checked', false)
                $('#cattery').prop('checked', false)
            } else {
                $('#daycare').prop('checked', false)
                $('#standard').prop('checked', false)
                $('#double').prop('checked', false)
                $('#deluxe').prop('checked', false)
                $('#home').prop('checked', false)
                $('#cattery').prop('checked', true)
            }
            refresh_availability()
        })

        $('#cattery').click(function() {
            if ($('#cattery').prop('checked')) {
                $('#kennels').prop('indeterminate', false)
                $('#kennels').prop('checked', false)
                $('#daycare').prop('checked', false)
                $('#standard').prop('checked', false)
                $('#double').prop('checked', false)
                $('#deluxe').prop('checked', false)
                $('#home').prop('checked', false)
                $('#cattery').prop('checked', true)
            } else {
                $('#kennels').prop('checked', true)
                $('#daycare').prop('checked', true)
                $('#standard').prop('checked', true)
                $('#double').prop('checked', true)
                $('#deluxe').prop('checked', true)
                $('#home').prop('checked', true)
                $('#cattery').prop('checked', false)
            }
            refresh_availability()
        })

        $('#daycare').click(rt_click)
        $('#standard').click(rt_click)
        $('#double').click(rt_click)
        $('#deluxe').click(rt_click)
        $('#home').click(rt_click)
    })

    function refresh_availability() {
        let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
        let s = $('#date-range').val()
        let a = r.exec(s)        
        let daycare = $('#daycare').prop('checked')
        let standard = $('#standard').prop('checked')
        let double = $('#double').prop('checked')
        let deluxe = $('#deluxe').prop('checked')
        let home = $('#home').prop('checked')
        let cattery = $('#cattery').prop('checked')
        $('#availability-table').html('Loading...')
        $.getJSON($SCRIPT_ROOT + '/_availability_table', {
                start_date: a[1],
                end_date: a[2],
                daycare: daycare,
                standard: standard,
                double: double,
                deluxe: deluxe,
                home: home,
                cattery: cattery
            }, function(data) {
                $('#availability-table').html(data.html);
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        }

    $(document).ready(function() {
        $('#date-range').change(refresh_availability)
        $('#kennels').prop('indeterminate', false)
        var is_dog = $('#species').text() == 'dog'
        $('#kennels').prop('checked', is_dog)
        $('#daycare').prop('checked', false)
        $('#standard').prop('checked', is_dog)
        $('#double').prop('checked', false)
        $('#deluxe').prop('checked', false)
        $('#home').prop('checked', false)
        $('#cattery').prop('checked', !is_dog)

        $('#date-range').val($('#date-range-init').text())
        $('#refresh').click(refresh_availability)
        $('#runview').click(function() {
            var species= $('#cattery').prop('checked') ? 'cat' : 'dog'
            let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
            let s = $('#date-range').val()
            let a = r.exec(s)
    
            var url = $SCRIPT_ROOT + '/runview?start_date=' + a[1] + '&end_date=' + a[2] + '&species=' + species
            $(location).prop('href', url)
        })
        refresh_availability()
    })
</script>
{% endblock %}