{% extends "base.html" %}
{% block title %}Availability{% endblock %}
{% block body %}
<div class="d-none" id="date-range-init">{{ date_range }}</div>
<div class="d-none" id="species">{{ species }}</div>
<div class="crowbank-form-group">
    <div class="form-group">
        <label for="date-range" class="form-label">Date Range</label>
        <input type="text" class="form-control date-range" id="date-range">
    </div>
    <div class="form-group">
        <div class="form-check">
            <input type="checkbox" id="kennels" class="form-check-input" checked>
            <label for="kennels" class="form-check-label">Kennels</label>
        </div>
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" id="refresh">Refresh</button>
        <button class="btn btn-success" id="runview">Run View</button>
    </div>
</div>
<div id="availability-table"></div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('#kennels').click(refresh_availability)
    })

    function refresh_availability() {
        const r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
        const s = $('#date-range').val()
        const a = r.exec(s)
        const spec_no = $('#kennels').prop('checked') ? 1 : 2
        $('#availability-table').html('Loading...')
        $.getJSON($SCRIPT_ROOT + '/_availability_new', {
                start_date: a[1],
                end_date: a[2],
                spec_no: spec_no
            }, function(data) {
                $('#availability-table').html(data.html)
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        }

    $(document).ready(function() {
        $('#date-range').change(refresh_availability)
        var is_dog = $('#species').text() == 'dog'
        $('#kennels').prop('checked', is_dog)

        $('#date-range').val($('#date-range-init').text())
        $('#refresh').click(refresh_availability)
        $('#runview').click(function() {
            var species= $('#kennels').prop('checked') ? 'dog' : 'cat'
            let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
            let s = $('#date-range').val()
            let a = r.exec(s)
    
            var url = $SCRIPT_ROOT + '/runview?start_date=' + a[1] + '&end_date=' + a[2] + '&species=' + species
            $(location).prop('href', url)
        })
        refresh_availability()
    })
</script>
{% endblock %}