{% import 'macros.html' as m %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>
    {% include 'components/css.html' %}
    {% block head %} {% endblock head %}

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}
    </script>
    <title>{% block title %}{% endblock title %}</title>
    
    </head>
    <body class="mx-auto">
      <header class="fixed-top noprint">
        <div class="navbar navbar-expand-md navbar-dark bd-navbar" id="topheader">
          <nav class="container-xl flex-wrap flex-md-nowrap" aria-label="Main Navigation">
            <a class="navbar-brand ms-3" href="/"><img src="/static/img/logo.jpg" width="40" height="40" alt=""></a>
            <div class="navbar-nav flex-row flex-wrap ms-md-auto d-md-none">
              <form autocomplete="off" autofill="off" action="/search"
                  method="GET" class=" position-relative me-auto" style="width: 120px;">
                  <input class="form-control ds-input me-2" type="search" placeholder="Search" aria-label="Search" id="navbar-search-md" name="search">
                </form>
            </div>
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style>
              <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav pt-2 pt-my-0">
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarRequestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Requests
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarRequestDropdown">
                    <li>
                      <a class="dropdown-item" href="{{ url_for('show_requests') }}">Bookings</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('show_daycare_candidates') }}">Daycare Candidates</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('book_daycare') }}">Book Daycare</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('visitrequest') }}">Visits</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('new_dog_questionnaires') }}">Questionnaires</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('show_amendments') }}">Amendments</a>
                    </li>
                </ul>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarRequestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Planning
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarRequestDropdown">
                    {% if current_user.is_authenticated and current_user.role >= g.roles.manager %}
                    <li>
                      <a class="dropdown-item" href="{{ url_for('show_timesheet') }}">Timesheet</a>
                    </li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item" href="{{ url_for('show_weekly') }}">Weekly</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('runview') }}">Run View</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('allocate_table') }}">Run View (New)</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('availability') }}">Availability</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('allocate') }}">Run Allocations</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('checkin_forms') }}">Upcoming Pets</a>
                    </li>
                </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarRequestDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Reports
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarRequestDropdown">
                    {% if g.notes %}
                    <li>
                      <a class="dropdown-item" href="{{ url_for('daily_notes') }}">Daily Notes</a>
                    </li>
                    {% endif %}
                    <li>
                      <a class="dropdown-item" href="{{ url_for('unconfirmed_report') }}">Unconfirmed Bookings Report</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('allocation_issue_report') }}">Allocation Issue Report</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('weight_report') }}">Weight Report</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('checkin_report') }}">Checkin Report</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('checkout_report') }}">Checkout Report</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('outstanding_report') }}">Outstanding Balances</a>
                    </li>
                    {% if current_user.is_authenticated and current_user.role >= g.roles.admin %}
                    <li>
                      <a class="dropdown-item" href="{{ url_for('cashflow_report') }}">Cashflow Report</a>
                    </li>
                    {% endif %}
              </ul>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     Utilities
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li>
                      <a class="dropdown-item" href="{{ url_for('rota_view') }}">Rota Review</a>
                    </li>
                    {% if current_user.is_authenticated and current_user.role >= g.roles.admin %}
                    <li>
                      <a class="dropdown-item" href="{{ url_for('_toggle_punch') }}">Toggle Punches</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="{{ url_for('_toggle_notes') }}">Toggle Notes</a>
                    </li>
                    {% endif %}
                    {% if current_user.is_authenticated and current_user.role >= g.roles.manager %}
                    <li>
                      <a class="dropdown-item" href="{{ url_for('punches') }}">Show Punches</a>
                    </li>
                    {% endif %}
                    <li>
                        <a class="dropdown-item" href="{{ url_for('check_availability') }}">Check Availability</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{{ url_for('show_daily') }}">Daily Sheets</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{{ url_for('show_pricetable') }}">Price Table</a>
                      </li>
                      {% if current_user.is_authenticated and current_user.role >= g.roles.admin %}
                      <li>
                        <a class="dropdown-item" href="{{ url_for('email_docs') }}">Email Documents</a>
                      </li>
                      {% endif %}
                      <li>
                        <a class="dropdown-item" id="refresh-occupancy" href="#">Refresh Occupancy</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{{ url_for('show_employees') }}">Employees</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="#">Restart Server</a>
                      </li>
                  </ul>
                </li>
                  {% if current_user.is_authenticated %}
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{ current_user.username }}
                      </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li>
                        <a class="dropdown-item" href="{{ url_for('password') }}">Change Password</a>
                      </li>
                      <li>
                        <a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a>
                      </li>
                    </ul>
                  </li>
                  {% else %}
                    <li class="nav-item col-6 col-md-auto">
                      <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                    </li>
                  {% endif %}
            </ul>
            <div class="navbar-nav flex-row flex-wrap ms-md-auto me-3">
              {% if g.punch %}
                <i class="fa fa-2x fa-fingerprint me-5" aria-hidden="true" id="staff-punch"></i>
              {% endif %}

              {% if g.notes %}
              <i class="fa fa-2x fa-note-sticky me-5" aria-hidden="true" id="open-note"
              hx-get="/_note_edit" hx-target="#note-body" hx-swap="innerHTML"></i>
              {% endif %}

              <i class="fa fa-2x fa-calendar me-3" aria-hidden="true" id="calendar-search"></i>
              <form autocomplete="off" autofill="off" action="/search"
                      method="GET" class="d-none d-md-inline bd-search position-relative me-auto search-form">
                      <input class="form-control ds-input me-2" type="search" placeholder="Search"
                        aria-label="Search" id="navbar-search" name="search">
                  </form>
              </div>      
        </nav>
        </div>
        <div id="status-bar" class="noprint d-flex justify-content-between align-items-stretch w-100">
          <div class="d-flex flex-grow-1">
              <div class="message-control" id="step-backward"><i class="fas fa-step-backward mx-auto"></i></div>
            <div id="status" class="flex-grow-1"></div>
            <div class="message-control" id="step-forward"><i class="fas fa-step-forward"></i></div>
          </div>
          <div id="last-transfer" class="dlt-loading">Loading...</div>
        </div>  
      </header>
        <div class="noprint" style="padding-top: 50px;">
      </div>

    <div class="container-md" style="padding-top: 80px">
      <div class="crowbank-modal" id="staff-punch-dialog">
        <div class="crowbank-modal-content d-flex justify-content-between">
          <div class="d-flex flex-column justify-content-around me-5">
            <div class="" id="my_camera" style="width: 320px; height: 240px; border: 1px solid black;"></div>
            <div class="border border-solid p-3" style="height: 100px;"><p id="punch-feedback"></p></div>
          </div>
            <div class="flex-fill">
              <form class="d-flex flex-column justify-content-around" autocomplete="off" autofill="off" action="" id="punch-form" method="POST" style="height: 100%">
                {{ g.punch_form.hidden_tag() }}
                <div>
                  {{ g.punch_form.employee.label(class_="form-label") }}
                  {{ g.punch_form.employee(class_="form-control") }}
                </div>
                {{ g.punch_form.time.label(class_="form-label") }}
                {{ g.punch_form.time(class_="form-control") }}
                {{ g.punch_form.comment.label(class_="form-label") }}
                {{ g.punch_form.comment(class_="form-control") }}
                {{ g.punch_form.submit(class_="btn btn-primary btn-block")}}
                <button type="button" class="btn btn-danger" id="staff-punch-dismiss">Dismiss</button>
              </form>
            </div>
      </div>
    </div>

    <div class="modal fade" id="note-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <!-- Modal -->
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Kennel Note</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-note">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body" id="note-body">
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="image-modal" tabindex="-1" role="dialog" aria-labelledby="imageModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" aria-label="Close" id="close-image-modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="fullSizeImage" src="" alt="Full Size Image" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
    
  
<div id="content">
  {% block body %}
  {% endblock body %}
</div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js" integrity="sha512-T/tUfKSV1bihCnd+MxKD0Hm1uBBroVYBOYSk1knyvQ9VyZJpc/ALb4P0r6ubwVPSGB2GvjeoMAJJImBG12TiaQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.js" integrity="sha512-zP5W8791v1A6FToy+viyoyUUyjCzx+4K8XZCKzW28AnCoepPNIXecxh9mvGuy3Rt78OzEsU+VCvcObwAMvBAww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.13.18/jquery.timepicker.min.js" integrity="sha512-WHnaxy6FscGMvbIB5EgmjW71v5BCQyz5kQTcZ5iMxann3HczLlBHH5PQk7030XmmK5siar66qzY+EJxKHZTPEQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js" integrity="sha512-0bEtK0USNd96MnO4XhH8jhv3nyRF0eK87pJke6pkYf3cM0uDIhNJy9ltuzqgypoIFXw3JSuiy04tVk4AjpZdZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="/static/external/js/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-daterangepicker/3.0.5/daterangepicker.min.js" integrity="sha512-mh+AjlD3nxImTUGisMpHXW03gE6F4WdQyvuFRkjecwuWLwD2yCijw4tKA3NsEFpA1C3neiKhGXPSIGSfCYPMlQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="https://kit.fontawesome.com/da7d0714e4.js" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="https://js.stripe.com/terminal/v1/"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js" integrity="sha512-Nw0Abk+Ywwk5FzYTxtB70/xJRiCI0S2ORbXI3VBlFpKJ44LM6cW2WxIIolyKEOxOuMI90GIfXdlZRJepu7cczA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/luxon/2.3.1/luxon.min.js" integrity="sha512-Nw0Abk+Ywwk5FzYTxtB70/xJRiCI0S2ORbXI3VBlFpKJ44LM6cW2WxIIolyKEOxOuMI90GIfXdlZRJepu7cczA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>    <script src="/static/crowbank.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/static/external/js/jquery.multiselect.js"></script>
    <script type="text/javascript" src="/static/external/js/webcam.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>
    <script src="/static/crowbank.js"></script>
    
    <script>
      $(document).ready(() => {
        const url = 'https://crowbank.co.uk/wp-content/plugins/crowbank/last_transfer.php'
        $.getJSON(url, (data) => {
          const last_transfer = data.last_transfer
          const dlt = yyyymmddhhmmss2date(last_transfer)
          const now = new Date()
          const diff =(now.getTime() - dlt.getTime()) / 1000 / 60
          if (diff < 20) {
            dlt_class = 'recent'
            dlt_text = 'OK'
          } else if (diff < 60) {
            dlt_class = 'late'
            dlt_text= 'Late'
          } else {
            dlt_class = 'vlate'
            dlt_text = 'Very Late'
          }
          $('#last-transfer').removeClass('dlt-loading').html(dlt_text).addClass(`dlt-${dlt_class}`)
          })

          $('#open-note').on('click', function() {
            // Clear the modal content first
            $('#note-body').empty()
            $('#note-modal').modal('show')
          })
      })        
    {% with messages = get_flashed_messages(with_categories=true, category_filter=('error', 'warning', 'info')) %}
    {% if messages %}
      {% for (cat, msg) in messages %}
        $(() => { update_status('{{ cat }}', '{{ msg|safe }}')})
      {% endfor %}
    {% endif %}
  {% endwith %}  

  </script>
    {% block sideurl %}
      {% if sideurl %}
        <script>
          $(document).ready(function() {
            window.open('{{ sideurl }}', '_blank');
          })
        </script>
        {% set sideurl = '' %}
      {% endif %}
    {% endblock sideurl %}
    </body>

    {% block scripts %}
    {% endblock scripts %}
</html>
