{% import 'macros.html' as m %}
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/static/external/css/bootstrap.css">
<link rel="stylesheet" href="/static/crowbank.css">

<title>{% block title%}{% endblock title %}</title>

</head>
<body>
{% block body %}{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% block scripts %}
{% endblock scripts %}
</html>