{% extends "base.html" %}
{% block title %}Bookings{% endblock %}
{% block body %}
<div class="row mb-3 mt-5">
    <div class="mb-3 col-sm-4">
        <input class="btn-check" type="checkbox" id="past" checked autocomplete="off">
        <label class="btn btn-secondary" for="past">Past</label>
        <input class="btn-check" type="checkbox" id="present" checked autocomplete="off">
        <label for="present" class="btn btn-success">Present</label>
        <input class="btn-check" type="checkbox" id="future" checked autocomplete="off">
        <label for="future" class="btn btn-primary">Future</label>
    </div>
    <div class="col-sm-8">
        <input class="btn-check" type="checkbox" id="confirmed" checked autocomplete="off">
        <label for="confirmed" class="btn btn-outline-primary">Confirmed</label>
        <input class="btn-check" type="checkbox" id="booked" checked autocomplete="off">
        <label for="booked" class="btn btn-outline-success">Booked</label>
        <input class="btn-check" type="checkbox" id="hold" checked autocomplete="off">
        <label for="hold" class="btn btn-outline-warning">Hold</label>
        <input class="btn-check" type="checkbox" id="cancelled" checked autocomplete="off">
        <label for="cancelled" class="btn btn-outline-light">Cancelled</label>
        <input class="btn-check" type="checkbox" id="standby" checked autocomplete="off">
        <label for="standby" class="btn btn-outline-danger">Standby</label>

    </div>
</div>
<div class="row">
    <table class="table table-sm" id="bookings-table">
        <thead>
            <tr class="table-header"><th></th><th>Bk #</th><th>Customer</th><th>Pets</th><th>Start Date</th><th>End Date</th><th>Expiry</th></tr>
        </thead>
        <tbody class="searched">
            {% for booking in bookings %}
            <tr class="searched booking-{{ booking.status.description}} booking-{{ booking.tense }}">
                <td width="10px" class="btn-booking-{{ booking.tense }}"></td>
                <td><a href="{{ url_for('show_booking', bk_no=booking.no) }}">{{ booking.no }}</a></td>
                <td><a href="{{ url_for('show_customer', customer_desc=booking.customer.no) }}">{{ booking.customer.surname }}</a></td>
                <td>{{ booking.pet_names }}</td>
                <td><a href="{{ url_for('home_page', date_arg=booking.start_date.strftime('%Y-%m-%d')) }}">{{ booking.start_date.strftime("%d/%m/%Y") }}</a></td>
                <td><a href="{{ url_for('home_page', date_arg=booking.end_date.strftime('%Y-%m-%d')) }}">{{ booking.end_date.strftime("%d/%m/%Y") }}</a></td>
                <td>{% if booking.expiry and booking.status.code == 'O' %}{{ booking.expiry.strftime("%d/%m/%Y") }}{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/bookings.js"></script>
{% endblock %}