{% extends "base.html" %}
{% block title %}Booking #{{ booking.no }}{% endblock %}
{% block body %}
<div class="narrow mb-3">
    <h1 class="border border-dark mb-3 p-2 text-center booking-{{ booking.status.description|lower}}">Booking #{{ booking.no }}</h1>
    
    <div class="row pb-3 p-3">
        <div class="col-11">
            <a href="{{ url_for('edit_booking', bk_no=booking.no) }}" class="btn w-100 btn-primary btn-lg">
                Edit
            </a>
        </div>
        <div class="col-1 d-flex align-items-center">
            <button id="refreshButton" class="btn btn-lg btn-success btn-block">
                <i class="fas fa-sync"></i>
            </button>
        </div>
    </div>
</div>
<div class="d-none" id="bk_no">{{ booking.no }}</div>

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#booking-details" class="btn btn-lg btn-secondary" type="button">{% if booking.is_daycare %}Daycare {% endif %}Booking Details</button>
</div>

<div class="collapse crowbank-group show" id="booking-details">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td><strong>Customer Name</strong></td>
                <td><a href="{{ url_for('show_customer', customer_desc=booking.customer.no) }}">{{ booking.customer.surname }}</a></td>
            </tr>
            <tr>
                <td><strong>Pets</strong></td>
                <td>
                    {% for pet in pets %}
                        {{ pet | safe }}
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Start Date</strong>
                </td>
                <td>
                    {{ booking.start_datetime.strftime("%a %d %b %Y %H:%M") }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>End Date</strong>
                </td>
                <td>
                    {{ booking.end_datetime.strftime("%a %d %b %Y %H:%M") }}
                </td>
            </tr>
            <tr>
                <td><strong>Status</strong></td>
                <td>{{ booking.status.description }}{% if booking.expiry and booking.status.description == 'Hold' %} until {{ booking.expiry.strftime("%d/%m/%Y") }}{% endif %}</td>
            </tr>
            <tr>
                <td><strong>Gross</strong></td>
                <td>&pound;{{ "{0:.2f}".format(booking.gross_amt) }}</td>
            </tr>
            <tr>
                <td><strong>Paid</strong></td>
                <td>&pound;{{ "{0:.2f}".format(booking.paid_amt) }}</td>
            </tr>
            <tr>
                <td><strong>Outstanding</strong></td>
                <td>&pound;{{ "{0:.2f}".format(booking.amt_outstanding) }}</td>
            </tr>
            {% if comment %}
            <tr>
                <td><strong>Comment</strong></td>
                <td>{{ comment | safe }}</td>
            </tr>
            {% endif %}
            {% if booking.history %}
                <tr>
                    <td><strong>Last Email Date</strong></td>
                    <td>
                        {% if booking.history.date %}
                            {{ booking.history.date.strftime("%a %d %b %Y %H:%M") }}
                        {% else %}
                            No Email Sent
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td><strong>Sent To</strong></td>
                    <td> {{ m.search_email(booking.history.destination) }} </td>
                </tr>
                <tr>
                    <td><strong>Confirmation</strong></td>
                    <td>
                        <a href="{{ url_for('display_email', hist_no=booking.history.no) }}" target="_blank">{{ booking.history.subject }}</a>
                    </td>
                </tr>
            {% else %}
                <tr><td colspan="2"><strong>No Confirmation Sent</strong></td></tr>
            {% endif %}
            {% if booking.status.allocated %}
                {% if booking.is_unallocated %}
                    <td colspan="2" style="text-align: center; background-color: red"><strong>Some Unallocated Runs</strong></td>
                {% else %}
                    <td><strong>Runs Allocated</strong></td><td>{{ run_alloc }}</td>
                {% endif %}
            {% endif %}
            </tr>
        </tbody>
    </table>
</div>

{% if booking.amt_outstanding != 0 %}
    {{ m.take_payment(pay_form) }}
{% endif %}

{% if booking.checked_in %}
    <div class="d-grid mb-3 narrow">
        <button data-bs-toggle="collapse" data-bs-target="#vet-bill" class="btn btn-lg btn-secondary" type="button">{% if booking.is_daycare %}Daycare {% endif %}Vet Bill</button>
    </div>

    <div class="crowbank-form-group collapse" id="vet-bill">
        <form autocomplete="off" autofill="off" method="POST" action="" class="form">
            {{ bill_form.hidden_tag() }}
            <div class="form-group">
                {{ bill_form.amount.label(class_="form-label") }}
                {{ bill_form.amount(class_="form-control") }}
                {% if bill_form.amount.errors %}
                    {% for error in bill_form.amount.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ bill_form.date.label(class_="form-label") }}
                {{ bill_form.date(class_="form-control", autocomplete="off", placeholder="dd/mm/yyyy") }}
            </div>
            <div class="form-group">
                {% if pet_count > 1 %}
                    {{ bill_form.pet.label(class_="form-label")}}
                    {{ bill_form.pet(class_="form-control")}}
                {% endif %}
            </div>
            <div class="form-gro">
                {{ bill_form.visits.label(class_="form-label") }}
                {{ bill_form.visits(class_="form-control") }}
            </div>
            {{ bill_form.submit(class_="btn btn-danger") }}
        </form>
    </div>
{% endif %}

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#booking-status" class="btn btn-lg btn-secondary" type="button">Change Booking Status</button>
</div>

<div class="collapse crowbank-group" id="booking-status">
    <div class="crowbank-form-group">
        <h3 class="text-center">Cancel Booking</h3>
        <form autocomplete="off" autofill="off" method="POST" action="" class="form"
            onsubmit="return confirm('Cancel Booking?')">
            {{ cancel_form.hidden_tag() }}
            <div class="form-group">
                {{ cancel_form.discount.label(class_="form-label") }}
                {{ cancel_form.discount(class_="form-control") }}
                {% if cancel_form.discount.errors %}
                    {% for error in cancel_form.discount.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            {% if booking.paid_amt > 0 %}
                <div id="voucher_group" class="form-check mb-3">
                    {{ cancel_form.voucher(
                            class_="form-check-input {% if cancel_form.voucher.errors %}has-error{% endif %}") }}
                    {{ cancel_form.voucher.label(class_="form-check-label") }}
                    {% if cancel_form.voucher.errors %}
                        {% for error in cancel_form.voucher.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% else %}
                <div id="lapsed_group" class="form-check mb-3">
                    {{ cancel_form.lapsed(checked=True,
                            class_="form-check-input {% if cancel_form.lapsed.errors %}has-error{% endif %}") }}
                    {{ cancel_form.lapsed.label(class_="form-check-label") }}
                    {% if cancel_form.lapsed.errors %}
                        {% for error in cancel_form.lapsed.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            <div id="notice_group" class="form-check mb-3">
                {{ cancel_form.notice(checked=True, class_="form-check-input {% if cancel_form.notice.errors %}has-error{% endif %}") }}
                {{ cancel_form.notice.label(class_="form-check-label") }}
                {% if cancel_form.notice.errors %}
                    {% for error in cancel_form.notice.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            {% if refund_status != 'none' %}
                <div id="refund_group" class="form-check mb-3">
                    {{ cancel_form.refund(checked=(refund_status == 'yes'), class_="form-check-input {% if cancel_form.refund.errors %}has-error{% endif %}") }}
                    {{ cancel_form.refund.label(class_="form-check-label") }}
                    {% if cancel_form.refund.errors %}
                        {% for error in cancel_form.refund.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {{ cancel_form.cancel(class_="btn btn-danger mb-3") }}
        </form>
    </div>
    {% if noshow %}
        <div class="crowbank-form-group">
            <h3 class="text-center">Mark No-Show</h3>
            <form autocomplete="off" autofill="off" method="POST" action="" class="form"
                onsubmit="return confirm('Mark Booking as No Show?')">
                {{ noshow_form.hidden_tag() }}
                <div class="form-group">
                    {{ noshow_form.discount.label(class_="form-label") }}
                    {{ noshow_form.discount(class_="form-control") }}
                    {% if noshow_form.discount.errors %}
                        {% for error in noshow_form.discount.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
                {{ noshow_form.noshow(class_="btn btn-warning") }}
            </form>
        </div>
    {% endif %}

    {% if uncancel %}
        <div class="crowbank-form-group">
            <h3 class="text-center">Uncancel</h3>
            <form autocomplete="off" autofill="off" method="POST" action="" class="form"
                onsubmit="return confirm('Uncancel Booking?')">
                {{ uncancel_form.hidden_tag() }}
                {{ uncancel_form.uncancel(class_="btn btn-success mb-2") }}
            </form>
        </div>
    {% endif %}

    {% if confirm %}
        <div class="crowbank-form-group">
            <h3 class="text-center">Confirm</h3>
            <form autocomplete="off" autofill="off" method="POST" action="" class="form"
                onsubmit="return confirm('Uncancel Booking?')">
                {{ confirm_form.hidden_tag() }}
                {{ confirm_form.confirm(class_="btn btn-success mb-2") }}
            </form>
        </div>
    {% endif %}

    {% if deposit2voucher %}
        <div class="crowbank-form-group">
            <h3 class="text-center">Deposit to Voucher</h3>
            <form method="POST" action="" class="form" onsubmit="return confirm('Convert Deposit to Voucher?')">
                {{ deposit2voucher_form.hidden_tag() }}
                {{ deposit2voucher_form.deposit2voucher(class_="btn btn-info") }}
            </form>
        </div>
    {% endif %}
</div>

<div class="d-grid mb-3 mx-auto" style="max-width: 800px">
    <button data-bs-toggle="collapse" data-bs-target="#send-notice" class="btn btn-lg btn-secondary" type="button">Send Notice</button>
</div>

<div class="collapse crowbank-group" id="send-notice">
    <div class="crowbank-form-group">
        <div class="form-group">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" value="{{ booking.customer.email }}">
        </div>
        <div class="form-group">
            <label for="reply-text" class="form-label">Reply Text</label>
            <textarea rows="4" type="text" class="form-control mb-3" id="reply-text">{{ body_raw }}</textarea>
        </div>
        <button class="btn btn-primary send-email" data-view="vwemail_confirm" id="send-confirmation">Confirmation</button>
        {% if booking.start_date >= today %}
            <button class="btn btn-success send-email" data-view="vwemail_precheckin_cash" id="send-checkin">Checkin</button>
        {% endif %}
        {% if booking.end_date >= today and invoice.outstanding > 0 %}
            <button class="btn btn-info send-email" data-view="vwemail_precheckout_cash" id="send-checkout">Checkout</button>
        {% endif %}
        {% if invoice.outstanding > 0 %}
            <button class="btn btn-warning send-email" data-view="vwemail_outstanding" id="send-outstanding">Outstanding</button>
        {% endif %}
        {% if booking.status.code == 'C' %}
            <button class="btn btn-danger send-email" data-view="vwemail_cancellation_notice" id="send-cancellation">Cancellation</button>
        {% endif %}
        <div class="border border-dark m-3 p-3 d-none" id="send-result"></div>
    </div>
</div>
<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#invoice" class="btn btn-lg btn-secondary" type="button">
        Invoice ({% if invoice.outstanding %}&pound;{{ '{:.2f}'.format(invoice.outstanding) }} outstanding{% else %}Paid in full{% endif %})
    </button>
</div>

{{ m.show_invoice(invoice) }}

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#events" class="btn btn-lg btn-secondary" type="button">
        Events ({% if audits %}{{ audits|length}}{% else %}None{% endif %})
    </button>
</div>
<div class="collapse" id="events">
    {% if audits %}
        <div class="crowbank-group">
            <table class="table table-sm table-striped" style="table-layout: fixed;">
                <thead>
                    <th>Date</th><th>Time</th><th width="20%">Type</th>
                    <th>Amount</th><th class="d-none d-sm-table-cell">From</th>
                    <th class="d-none d-sm-table-cell">To</th>
                </thead>
                <tbody>
                    {% for aud in audits %}
                        <tr>
                            <td>{{ aud.aud_date.strftime("%d/%m/%y") }}</td>
                            <td>{{ aud.aud_time }}</td>
                            <td>{% if aud.aud_rec_type == 'history' %}<a target="_blank" href="{{ url_for('display_email', hist_no=aud.aud_no) }}">{% endif %}{{ aud.aud_desc }}{% if aud.aud_rec_type == 'history' %}</a>{% endif %}</td>
                            <td>{% if aud.aud_amount %}&pound;{{ "{0:.2f}".format(aud.aud_amount) }}{% endif %}</td>
                            <td class="d-none d-sm-table-cell">{% if aud.aud_bk_start_date %}{{ aud.aud_bk_start_date.strftime("%d/%m/%y") }}{% endif %}</td>
                            <td class="d-none d-sm-table-cell">{% if aud.aud_bk_end_date %}{{ aud.aud_bk_end_date.strftime("%d/%m/%y") }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        No Events
    {% endif %}
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready( function() {
        $('#refreshButton').click( () => {
            $('#refreshButton').html('Refreshing...')
            $.getJSON($SCRIPT_ROOT + '/_refresh_booking', {
                bk_no: {{ booking.no }}
            }, function(data) {
                location.reload()
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })
    })

    $(document).ready( function() {
        $('.send-email').click(function(event) {
            $('#send-result').removeClass('d-none')
            $('#send-result').html('Sending...')
            const view = $(event.target).data('view')
            const address = $('#address').val()
            const key_no = $('#bk_no').text()
            const text = $('#reply-text').val()

            $.getJSON($SCRIPT_ROOT + '/_send_email', {
                view: view,
                address: address,
                key_no: key_no,
                text: text
            }, function(data) {
                $('#send-result').html(data.html)
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })
    })
</script>

{{ m.pay_script(booking.no, booking.customer.no) }}

{% endblock scripts %}