{% extends "base.html" %}
{% block title %}Make Booking{% endblock %}

{% block body %}

<h1 class="text-center">
    {% if booking %}
        Amend <a href="{{ url_for('show_booking', bk_no=booking.no) }}">Booking #{{ booking.no }}</a>
    {% else %}
        New Booking
    {% endif %}
    for <a href="{{ url_for('show_customer', customer_desc=customer.no) }}">{{ customer.display_name }}</a></h1>

{{ m.show_booking_form(form, booking, pets, rts, do_deluxe, do_trial, do_daycare, do_separate, availability_url,
    start_date, end_date, is_amending, customer.email, amend_text, amend_rows, 0) }}

{% endblock body %}
{% block scripts %}
    {{ m.book_script() }}
{% endblock scripts %}