{% extends "base.html" %}
{% block title %}Calendar{% endblock %}
{% block body %}
<div class="d-none" id="date-range-init">{{ date_range }}</div>
<div class="crowbank-form-group">
    <div class="form-group">
        <label for="date-range" class="form-label">Date Range</label>
        <input type="text" class="form-control date-range" id="date-range">
    </div>
    <div class="mt-3">
        <button class="btn btn-primary" id="refresh">Refresh</button>
    </div>
</div>
<div class="" id="calendar">
</div>
{% endblock %}
{% block scripts %}
<script>
    function refresh_calendar() {
        let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/;
        let s = $('#date-range').val();
        let a = r.exec(s);
        $('#calendar').html('Loading...');
        $.getJSON($SCRIPT_ROOT + '/_calendar', {
                start_date: a[1],
                end_date: a[2]
            }, function(data) {
                $('#calendar').html(data.html);
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText);
            });
        };

    $(document).ready(function() {
        $('#date-range').change(refresh_calendar);

        $('#date-range').val($('#date-range-init').text());
        $('#refresh').click(refresh_calendar);
        refresh_calendar();
    });
</script>
{% endblock %}