{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<div class="pt-3">
    <div class="px-3 py-2">
        <h1 style="text-align: center; font-size: 2rem">Your booking cancellation</h1>
        <div style="font-size: 1rem;">
            {% if record.email_lapsed %}
                {% if record.email_last_deposit_request_date %}
                    <p>On {{ record.email_last_deposit_request_date.strftime('%d/%m/%Y')}} we sent you a notice requesting a deposit to secure 
                    your booking #{{ record.email_bk_no }} for {{ record.email_pets }} starting {{ record.email_bk_start_date.strftime("%d/%m/%y") }}.</p>
                {% endif %}
                <p>As we have not received your deposit, and per our <a href="https://crowbank.co.uk/terms-and-conditions" target="_blank">terms and conditions</a>,
                your booking is now canceled.</p>
            {% else %}
                <p>We received your notice regarding cancellation of your booking #{{ record.email_bk_no }} for {{ record.email_pets }} starting {{ record.email_bk_start_date.strftime("%d/%m/%y") }}.</p>
            {% endif %}
            {% if record.email_imminent and record.email_deposit_refund == 0.0 and record.email_deposit_amount == 0.0 %}
                <p>There is no further payment due for this booking.</p>
            {% elif record.email_deposit %}
                {% if record.email_deposit_refund > 0 %}
                    <p>As you paid your deposit within the past 7 days, we will refund &pound;{{ '{:.2f}'.format(record.email_deposit_refund) }} into the account you used to pay it.</p>
                {% else %}
                    <p>Per our <a href="https://crowbank.co.uk/terms-and-conditions" target="_blank">terms and conditions</a>, your deposit is non-refundable.</p>
                    <p>However, as you cancelled your booking over 14 days prior to the booking start date, you are not liable to any additional charge.</p>
                {% endif %}
            {% endif %}
            {% if text %}
                <div class="border border-solid p-3 m-3 small">Note: {{ text }}</div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}
