
{% extends "base.html" %}
{% block title %}Checkin {{ booking.customer.surname }} (Bk #{{ booking.no }}{% endblock %}
{% block body %}
<div class="text-center">
    <h2>
        Checkin <a href="{{ url_for('show_customer', customer_desc=booking.customer.no) }}">{{ booking.customer.surname }}</a>
        Booking #<a href="{{ url_for('show_booking', bk_no=booking.no) }}">{{ booking.no }}</a>
    </h2>
    <h3>Departing {{ booking.end_date.strftime("%a %d %b") }} at {{ booking.end_time }}</h3>
</div>

{% if booking.amt_outstanding > 0.0 %}
    {{ m.take_payment(pay_form) }}
{% endif %}

<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post" class="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.checkin_date.label(class_="form-label") }}
            {{ form.checkin_date(class_="form-control", autocomplete="off", placeholder="dd/mm/yyyy")}}  
        </div>
        <div class="row mb-3">
            {{ form.submit(class_="btn btn-primary btn-block")}}
        </div>

        {% if comment %}
            <div class="form-group">
                <label class="form-label">Comments</label>
                <div class="form-control form-control-disabled">
                    {{ comment | safe }}
                </div>
            </div>
        {% endif %}
                
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            {% for pet in pets %}
                <li class="nav-item" role="presentation">
                    <button class="nav-link {% if pet.no == first_pet_no %}active{% endif %}" id="pills-{{ pet.no }}-tab"
                        data-bs-toggle="pill" data-bs-target="#pills-{{ pet.no }}" type="button" role="tab"
                        aria-controls="pills-{{ pet.no }}"
                        aria-selected="{% if pet.no == first_pet_no %}true{% else %}false{% endif %}">
                        {{ pet.name }}
                    </button>
                </li>
            {% endfor %}
        </ul>
        <div class="tab-content" id="pills-tabContent">
            {% for pet in pets %}
                <div class="tab-pane fade {% if pet.no == first_pet_no %} show active{% endif %}"
                    id="pills-{{ pet.no }}" role="tabpanel" aria-labelledby="pills-{{ pet.no }}-tab">
                    <fieldset class="border my-4 p-4">
                        {{ m.show_pet_form(form.pet_forms[loop.index0], pets[loop.index0], None, 1, questionnaires[loop.index0])}}
                    </fieldset>
                    {% if pet.no in pet_att %}
                    <div class="mt-4">
                        <h2>Attachments</h2>
                        {% for a in pet_att[pet.no] %}
                            <iframe src="/static/attachments/{{ a }}#toolbar=0" width="100%" height="400px"></iframe>
                            <a href="/static/attachments/{{ a }}" target="_blank" class="btn btn-block btn-outline-primary" download>Download Attachment</a>
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="mt-4">
                        {{ m.show_pet_docs(pets[loop.index0], docs[loop.index0]) }}
                    </div>                            
                </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
    {{ m.pet_form_script() }}
    {{ m.pay_script(booking.no, booking.customer.no) }}

{% endblock %}
