{% extends "base.html" %}
{% block title %}Check Availability{% endblock %}
{% block body %}
<style>
    #check-availability li {
        list-style-type: none;
    }

    .good-availability {
        background-color: greenyellow;
    }
    .limited-availability {
        background-color: orange;
    }
    .no-availability {
        background-color: red;
    }
</style>
<div class="narrow">
    <h1 class="text-center">Check Availability</h1>
    <p>This form mimics both the interface and the results of the <a href="https://crowbank.co.uk/check-availability">public check availability page</a> on our website.
</div>
<div class="crowbank-form-group">
    <form id="check-availability" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <div class="form-label">Accommodation Types</div>
            <ul>
                <li>{{ form.standard(class_="form-check-input") }} {{ form.standard.label(class_="form-check-label") }}</li>
                <li>{{ form.deluxe(class_="form-check-input") }} {{ form.deluxe.label(class_="form-check-label") }}</li>
                <li>{{ form.cattery(class_="form-check-input") }} {{ form.cattery.label(class_="form-check-label") }}</li>
            </ul>
        </div>
        <div class="form-group">
            {{ form.start_date.label(class_="form-label") }}
            {{ form.start_date(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.start_period.label(class_="form-label") }}
            {% for period in form.start_period %}
                {{ period(class_="form-check-input") }}{{ period.label(class_="form-check-label") }}
            {% endfor %}
        </div>
        <div class="form-group">
            {{ form.end_date.label(class_="form-label") }}
            {{ form.end_date(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.end_period.label(class_="form-label") }}
            {% for period in form.end_period %}
                {{ period(class_="form-check-input") }}{{ period.label(class_="form-check-label") }}
            {% endfor %}
        </div>

        {{ form.submit(class_="btn btn-primary btn-large btn-block") }}
    </form>
</div>
<div class="narrow mt-5 p-3" id="results"></div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(() => {
        $( "#check-availability" ).submit(( event ) => {
            const types = []
            if ($('#standard').is(':checked')) {
                types.push('standard')
            }
            if ($('#deluxe').is(':checked')) {
                types.push('deluxe')
            }
            if ($('#cattery').is(':checked')) {
                types.push('cattery')
            }

            let is_error = false;
            const types_str = types.join(',')
            const start_date = $('#start_date').val()
            const end_date = $('#end_date').val()
            const start_period = $('#start_period-0').prop('checked') ? 'am' : 'pm'
            const end_period = $('#end_period-0').prop('checked') ? 'am' : 'pm'

            if (!types_str) {
                update_status('error', 'Accommodation Type Missing')
                is_error = true
            }

            if (!start_date) {
                update_status('error', 'Start Date Missing')
                is_error = true
            }

            if (!$('#start_period-0').prop('checked') && !$('#start_period-1').prop('checked')) {
                update_status('error', 'Start Period Missing')
                is_error = true
            }

            if (!end_date) {
                update_status('error', 'End Date Missing')
                is_error = true
            }

            if (!$('#end_period-0').prop('checked') && !$('#end_period-1').prop('checked')) {
                update_status('error', 'End Period Missing')
                is_error = true
            }

            if (is_error) {
                console.log('Errors')
                return
            }
            const params = {
                types: types_str,
                start_date: start_date,
                start_time: start_period,
                end_date: end_date,
                end_time: end_period
            }
            event.preventDefault()

            const url = '/api/check_availability'

            $.getJSON($SCRIPT_ROOT + url, params, function(data) {

                const avail = data.data.overall_availability
                let html = ''
                let res_class = ''
                const booking_link = '<a href="https://crowbank.co.uk/booking">booking form</a>'

                if (avail == 1) {
                    html = `<h2>Limited Availability</h2>
<p>We have limited availablity for the period.<br>
Please use our ${booking_link} to enquire and get an accurate response.</p>`
                    res_class = 'limited-availability'
                } else if (avail == 0) {
                    html = `<h2>Good News!</h2>'
<p>We have good availability for the dates you selected.<br>
Please use our ${booking_link} to make your booking</p>`
                    res_class = 'good-availability'
                } else {
                    html = `<h2>Sorry...</h2>
<p>Unfortunately, we don't currently have availability for your dates`
                    res_class = 'no-availability'
                }
                $('#results')
                    .removeClass('no-availability')
                    .removeClass('limited-availability')
                    .removeClass('good-availability')
                    .addClass(res_class)
                    .html(html)
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })
    })
</script>
{% endblock scripts %}