{% extends "base.html" %}
{% block title %}Checkin Forms{% endblock %}
{% block head %}
<style>
    .checkin_form_selected {
        border-width: 2px;
        border-style: solid;
        border-color: darkgrey;
    }
    .booking-O {
        background-color: cornsilk !important;
    }

    .booking-V {
        background-color: lightblue!important;
    }

    .booking-B {
        background-color:lightgreen!important;
    }

</style>
{% endblock %}
{% block body %}
<h1 class="text-center">Upcoming Pets</h1>
<div class="row">
    <div class="col-md-5">
        {% for date in dates.keys()|sort %}
            <h3 class="text-center">{{ date.strftime('%a (%d/%m)') }}</h3>
            <table class="table table-sm table-hover">
                <thead>
                    <th>Bk</th>
                    <th>Cust</th>
                    <th >Pet</th>
                    <th>First</th>
                    <th>Form</th>
                    <th>Attch</th>
                </thead>
                {% for pet in dates[date] %}
                <tr class="{% if pet.cif_form %}checkin_form{% endif %} booking-{{ pet.cif_bk_status }}" data-bk-no="{{ pet.cif_bk_no }}" data-pet-no="{{ pet.cif_pet_no }}" id="{{ pet.cif_bk_no}}-{{ pet.cif_pet_no }}">
                    <td><a href="{{ url_for('show_booking', bk_no=pet.cif_bk_no) }}">{{ pet.cif_bk_no }}</a></td>
                    <td><a href="{{ url_for('show_customer', customer_desc=pet.cif_cust_no) }}">{{ pet.cif_cust_surname }}</a></td>
                    <td><a href="{{ url_for('show_pet', pet_no=pet.cif_pet_no) }}">{{ pet.cif_pet_name }} ({% if pet.cif_pet_species == 'Dog' %}{{ pet.cif_pet_breed}}{% else %}Cat{% endif %})</a></td>
                    <td class="text-center">{% if pet.cif_prior_bookings == 0 %}X{% endif %}</td>
                    <td class="text-center">{% if pet.cif_form %}X{% endif %}</td>
                    <td class="text-center">{% if pet.cif_attachments %}X{% endif %}</td>
                </tr>
                {% endfor %}
            </table>
        {% endfor %}
    </div>
    <div class="col-md-6" id="checkin_form"></div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('.checkin_form').click(function() {
            $('.checkin_form').removeClass('checkin_form_selected');
            $(this).addClass('checkin_form_selected');
            const bk_no = $(this).data('bk-no');
            const pet_no = $(this).data('pet-no');
            $('#checkin_form').html('Loading...');
            $.getJSON($SCRIPT_ROOT + '/_checkin_form', {
                bk_no: bk_no,
                pet_no: pet_no
            }, function(data) {
                $('#checkin_form').html(data.html);
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText);
            });
        })
    })
</script>
{% endblock %}