{% extends "base.html" %}
{% block title %}Checkout {{ booking.customer.surname }} Bk #{{ booking.no }}{% endblock %}
{% block body %}
<div class="text-center">
    <h2>
        Checkout <a href="{{ url_for('show_customer', customer_desc=booking.customer.no) }}">{{ booking.customer.surname }}</a>
        Booking #<a href="{{ url_for('show_booking', bk_no=booking.no) }}">{{ booking.no }}</a>
    </h2>
    <h3>Departing {{ booking.end_date.strftime("%a %d %b") }} at {{ booking.end_time }}</h3>
</div>
{% if booking.amt_outstanding > 0 %}
<div class="">
    {{ m.take_payment(pay_form) }}
</div>
{% endif %}

{% if booking.checked_out == 0 %}
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post" class="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.checkout_date.label(class_="form-label") }}
            {{ form.checkout_date(class_="form-control", autocomplete="off", placeholder="dd/mm/yyyy")}}  
        </div>
        <div class="row">
            {{ form.submit(class_="btn btn-primary btn-block")}}
        </div>
    </form>
</div>
{% endif %}

{{ m.show_invoice(booking.invoice) }}

{% endblock body %}

{% block scripts %}
    {{ m.pay_script(booking.no, booking.customer.no) }}
{% endblock scripts %}