{% extends "base.html" %}
{% block title %}Checkin Report Between {{ start_date }} and {{ end_date }}{% endblock %}
{% block body %}
<div class="d-none" id="date-range-init">{{ date_range }}</div>
<div class="crowbank-form-group noprint">
    <div class="form-group">
        <label for="date-range" class="form-label">Date Range</label>
        <input type="text" class="form-control date-range" id="date-range" value="{{ date_range }}">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="species" id="dog" {% if species=='dog' %}checked{% endif %}>
        <label class="form-check-label" for="dog">
          Kennels
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="species" id="cat" {% if species=='cat' %}checked{% endif %}>
        <label class="form-check-label" for="flexRadioDefault2">
           Cattery
        </label>
      </div>
      <div class="form-check mt-3">
        <input type="checkbox" name="kennel-notes" id="kennel-notes">
        <label class="form-check-label" for="kennel-notes">Show Kennel Notes</label>
      </div>
      <div class="mt-3">
         <button id="refresh" class="btn btn-primary">Refresh</button>
         <button id="checkout" class="btn btn-success">Checkout Report</button>
         <button id="print" class="btn btn-danger">Print</button>
      </div>
</div>
<div id="checkin_report"></div>
{% endblock body %}
{% block scripts %}
<script>
    function refresh_report() {
        let species = $("input[name='species']:checked").attr('id')
        let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
        let s = $('#date-range').val()
        let a = r.exec(s)

        $('#checkin_report').html('Loading...')
        $.getJSON($SCRIPT_ROOT + '/_checkin_report', {
            start_date: a[1],
            end_date: a[2],
            species: species
        }, function(data) {
            $('#checkin_report').html(data.html)
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText)
        })
    }
    $('document').ready(function () {
        $('#checkout').click(function() {
            var species = $("input[name='species']:checked").attr('id')
            let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
            let s = $('#date-range').val()
            let a = r.exec(s)

            var url = $SCRIPT_ROOT + '/checkout_report?start_date=' + a[1] + '&end_date=' + a[2] + '&species=' + species
            $(location).attr('href', url)
        })
        $('#print').click(function() {
            window.print()
            return false
        });
        $('#date-range').change(refresh_report)
        $("input[name='species']").change(refresh_report)
        $('#refresh').click(refresh_report)
        $('#date-range').val($('#date-range-init').text())
        $('#kennel-notes').prop('checked', true)
        $('#kennel-notes').change( () => {
            const c = $('#kennel-notes').prop('checked')
            if (c) {
                $('.kennel-notes').removeClass('d-none')
            } else {
                $('.kennel-notes').addClass('d-none')
            }
        })
        refresh_report()
    });
</script>
{% endblock %}
