{% extends "base.html" %}
{% block title %}
{% if customer %}
{{ customer.forename}} {{ customer.surname }}
{% else %}
New Customer
{% endif %}
{% endblock %}

{% block body %}
<h1 style="text-align: center;">
    {% if customer %}
        {{ customer.forename}} {{ customer.surname }}
    {% else %}
        New Customer
    {% endif %}
</h1>
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post" class="form">
        {{ form.hidden_tag() }}
    
        <div class="form-group">
            {{ form.cust_forename.label(class_="form-label") }}
            {{ form.cust_forename(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_surname.label(class_="form-label") }}
            {{ form.cust_surname(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_addr1.label(class_="form-label") }}
            {{ form.cust_addr1(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_addr3.label(class_="form-label") }}
            {{ form.cust_addr3(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_postcode.label(class_="form-label") }}
            {{ form.cust_postcode(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_telno_home.label(class_="form-label") }}
            {{ form.cust_telno_home(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_telno_mobile.label(class_="form-label") }}
            {{ form.cust_telno_mobile(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_telno_mobile2.label(class_="form-label") }}
            {{ form.cust_telno_mobile2(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_email.label(class_="form-label") }}
            {{ form.cust_email(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.cust_email2.label(class_="form-label") }}
            {{ form.cust_email2(class_="form-control") }}
        </div>
        {#
        <div class="form-row">
            <div class="col-md-6">
                {{ form.cust_contact1.name.label(class_="") }}
                {{ form.cust_contact1.name(class_="form-control") }}
                {{ form.cust_contact1.phone.label(class_="") }}
                {{ form.cust_contact1.phone(class_="form-control") }}
                {{ form.cust_contact1.email.label(class_="") }}
                {{ form.cust_contact1.email(class_="form-control") }}
            </div>
            <div class="col-md-6">
                {{ form.cust_contact2.name.label(class_="") }}
                {{ form.cust_contact2.name(class_="form-control") }}
                {{ form.cust_contact2.phone.label(class_="") }}
                {{ form.cust_contact2.phone(class_="form-control") }}
                {{ form.cust_contact2.email.label(class_="") }}
                {{ form.cust_contact2.email(class_="form-control") }}
            </div>
        </div>
        #}
        <div class="form-group">
            {{ form.cust_notes.label(class_="form-label") }}
            {{ form.cust_notes(class_="form-control")}}
        </div>
        <div class="form-group">
            {{ form.cust_fb_review.label(class_="form-label") }}
            {{ form.cust_fb_review(class_="form-control") }}
        </div>
        <div class="form-check">
            {{ form.cust_deposit(class_="form-check-input") }}
            {{ form.cust_deposit.label(class_="form-check-label") }}
        </div>
        <div class="form-check">
            {{ form.cust_sms(class_="form-check-input") }}
            {{ form.cust_sms.label(class_="form-check-label") }}
        </div>
        <div class="form-check">
            {{ form.cust_banned(class_="form-check-input") }}
            {{ form.cust_banned.label(class_="form-check-label") }}
        </div>
        <div class="form-check mb-3">
            {{ form.cust_approved(class_="form-check-input") }}
            {{ form.cust_approved.label(class_="form-check-label") }}
        </div>
        <div class="row px-2">
            {{ form.submit(class_="btn btn-primary btn-block")}}
        </div>
    </form>
</div>
{% endblock body %}