{% extends "base.html" %}
{% block title %}{{customer.name}}{% endblock %}
{% block body %}
<div class="narrow pb-3">
    <h1 class="mt-2 mb-3 text-center">{{customer.display_name}}{% if customer.banned %}<span style="margin-left: 30px; color: red">BANNED</span>{% endif %}</h2>

    <div class="row pb-3 p-3">
        <div class="col-11">
            <a href="{{ url_for('edit_customer', cust_no=cust_no) }}" class="btn btn-primary w-100 btn-lg">
                <i style="color: 0d6efd;" class="small fas fa-edit"></i> Edit
            </a>
        </div>
        <div class="col-1 d-flex align-items-center">
            <button id="refreshButton" class="btn btn-lg btn-success btn-block">
                <i class="fas fa-sync"></i>
            </button>
        </div>
    </div>
<a href="{% if customer.banned %}#{% else %}{{ url_for('book', cust_no=customer.no)}}{% endif %}" class="float{% if customer.banned %} disabled{% endif %}">
    <i class="fa fa-plus my-float"></i>
</a>

<div class="label-container">
    <div class="label-text">New Booking</div>
{#    <i class="fa fa-play label-arrow"></i> #}
</div>

<table class="narrow table table-striped table-sm">
    <tbody>
        <tr>
            <td><strong>Name</strong></td>
            <td>{{customer.display_name}}</td>
        </tr>
        <tr><td><strong>Customer Number</strong></td>
            <td>{{ cust_no }}</td>
        <tr>
            <td><strong>Address</strong></td>
            <td>{{ customer.addr1 }}<br>
                {{ customer.addr3 }}<br>
                {{ customer.postcode }}
                <small><a href="https://www.google.com/maps/dir/?api=1&destination={{ customer.postcode | urlencode }}&origin=Crowbank+Kennels" target="_blank">Map to</a></small>
            </td>
        </tr>
        <tr>
            <td><strong>Phone Numbers</strong></td>
            <td>{% if customer.telno_home %}<a href="tel:{{ customer.telno_home }}">{{ customer.telno_home }}</a><br>{% endif %}
                {% if customer.telno_mobile %}<a href="tel:{{ customer.telno_mobile }}">{{ customer.telno_mobile }}</a><br>{% endif %}
                {% if customer.telno_mobile2 %}<a href="tel:{{ customer.telno_mobile2 }}">{{ customer.telno_mobile2 }}</a>{% endif %}
            </td>
        </tr>
        <tr>
            <td><strong>Email Address(s)</strong></td>
            <td>{{ m.search_email(customer.email) }}
                {% if customer.email2 %}<br>{{ m.search_email(customer.email2) }}{% endif %}
            </td>
        </tr>
</table>

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#pets" class="btn btn-lg btn-secondary" type="button">Pets</button>
</div>

<div class="collapse show narrow mb-4" id="pets">
{% for pet in pets %}
    {{ pet | safe }}<br>
{% endfor %}
<a href="{{ url_for('add_pet', cust_no=cust_no) }}">Add Pet</a>
</div>

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#visits" class="btn btn-lg btn-secondary" type="button">Visits</button>
</div>

<div class="collapse narrow" id="visits">
    <a href="{{ url_for('create_visit', cust_no=cust_no) }}">Add Visit</a>

    {% if visits %}
        <table class="table table-sm">
            <thead>
                <th>Visit #</th><th>Date</th><th>Time</th><th>Duration</th><th>Subject</th><th>KT</th><th>MG</th><th>CT</th><th>DCA</th>
            </thead>
            <tbody>
                {% for visit in visits %}
                <tr>
                    <td><a href="{{ url_for('edit_visit', visit_no=visit.visit_no) }}">{{ visit.visit_no }}</a></td>
                    <td><a href="{{ url_for('home_page', date_arg=visit.visit_date) }}">
                        {% if visit.visit_date %}{{ visit.visit_date.strftime("%d/%m/%Y") }}{% else %}No Date{% endif %}</a></td>
                    <td>{{ visit.visit_time }}</td>
                    <td>{{ visit.visit_duration_desc }}</td>
                    <td>{{ visit.visit_subject }}</td>
                    <td>{% if visit.visit_kt %}X{% endif %}</td>
                    <td>{% if visit.visit_mg %}X{% endif %}</td>
                    <td>{% if visit.visit_ct %}X{% endif %}</td>
                    <td>{% if visit.visit_dca %}X{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>    
    {% else %}
        No Visits
    {% endif %}
</div>

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#vouchers" class="btn btn-lg btn-secondary" type="button">
        Vouchers ({% if voucher_total %}{{ '{:.2f}'.format(voucher_total) }}{% else %}No{% endif %} Balance)
    </button>
</div>

<div class="collapse narrow" id="vouchers">
    {% if vouchers %}
        <table class="table table-sm">
            <thead>
                <th></th><th>Date</th><th>Action</th><th>Amount</th>
            </thead>
            <tbody>
                {% for voucher in vouchers %}
                    <tr>
                        <td>{{ voucher.v_no }}</td>
                        <td>{% if voucher.v_date %}{{ voucher.v_date.strftime("%d/%m/%Y") }}{% else %}No Date{% endif %}</td>
                        <td>{{ voucher.v_action }}</td>
                        <td>{{ '{:.2f}'.format(voucher.v_amount) }}</td>
                    </tr>
                {% endfor %}
                <tr style="font-weight: bold"><td colspan="3">Total</td><td>{{ '{:.2f}'.format(voucher_total) }}</td></tr>
            </tbody>
        </table>
    {% else %}
        No Vouchers
    {% endif %}
</div>

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#bookings" class="btn btn-lg btn-secondary" type="button">Bookings</button>
</div>

<div class="collapse show narrow" id="bookings">
    {% if bookings %}
        <table class="table table-sm clickable_table">
            <thead>
                <th></th><th>Bk #</th><th>Dates</th><th>Pets</th><th class="d-none d-md-table-cell text-end">Gross</th>
                <th class="d-none d-md-table-cell text-end">Paid</th><th class="d-none d-md-table-cell text-end">Outstanding</th>
            </thead>
            {% for booking in bookings %}
            <tr class="booking-{{ booking.status.description|lower }}">
                <td width="10px" class="btn-booking-{{ booking.tense }}"></td>
                <td><a href="{{ url_for('show_booking', bk_no=booking.no) }}">{{ booking.no }}</a></td>
                <td>{{ booking.datetimes }}</td>
                <td>{{ booking.pet_descriptions_short }}</td>
                <td class="d-none d-md-table-cell text-end">&pound; {{ '{:.2f}'.format( booking.gross_amt) }}</td>
                <td class="d-none d-md-table-cell text-end">&pound; {{ '{:.2f}'.format( booking.paid_amt) }}</td>
                <td class="d-none d-md-table-cell text-end">&pound; {{ '{:.2f}'.format( booking.amt_outstanding) }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No Bookings
    {% endif %}
</div>

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#requests" class="btn btn-lg btn-secondary" type="button">Requests</button>
</div>

<div class="collapse narrow" id="requests">
    {% if requests %}
        <table class="table table-sm clickable_table">
            <thead>
                <th>Req #</th><th>Created</th><th class="text-center">Dates</th><th>Bk #</th><th>Status</th>
            </thead>
            {% for req in requests %}
            <tr class="request-{{ req.fd_Status }}">
                <td><a href="{{ url_for('show_request', fd_no=req.fd_no) }}">{{ req.fd_no }}</a></td>
                <td>{{ req.fd_date_created }}</td>
                <td class="text-center">{{ req.fd_bk_dates }}</td>
                <td>{% if req.fd_bk_no %}<a href="{{ url_for('show_booking', bk_no=req.fd_bk_no) }}">{{ req.fd_bk_no }}</a>{% endif %}</td>
                <td>{{ req.fd_status }}</td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No Requests
    {% endif %}
</div>

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#history" class="btn btn-lg btn-secondary" type="button">History</button>
</div>

<div class="collapse" id="history">
    {% if history %}
        <table class="table table-sm">
            <thead>
                <th>Bk #</th><th>Sent</th><th>Email</th><th>Message</th>
            </thead>
            {% for h in history %}
            <tr class="">
                <td>
                    {% if h.source == 'history' %}
                        <a href="{{ url_for('show_booking', bk_no=h.hist_bk_no) }}">{{ h.hist_bk_no }}</a>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td>{% if h.source == 'history' %}
                        {{ h.hist_date.strftime("%d/%m/%Y %H:%M") }}
                    {% else %}
                        {{ h.hist_date.strftime("%d/%m/%Y") }}
                    {% endif %}
                </td>
                <td>{% if h.source == 'history' %}{{ h.hist_destination }}{% endif %}</td>
                <td><a target="_blank" href="{{ url_for('display_email', hist_no=h.hist_no, source=h.source) }}">{{ h.hist_subject }}</a></td>
            </tr>
            {% endfor %}
        </table>
    {% else %}
        No History
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready( function() {
        $('#refreshButton').click( () => {
            $('#refreshButton').html('Refreshing...')
            $.getJSON($SCRIPT_ROOT + '/_refresh_customer', {
                cust_no: {{ customer.no }}
            }, function(data) {
                location.reload()
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })
    })
</script>
{% endblock %}