{% extends "base.html" %}
{% block title %}Customers{% endblock %}
{% block body %}

    {% if active %}
        <h1>Active Customers</h1>
    {% else %}
        <h1>All Customers</h1>
    {% endif %}
    <div>
        <input class="form-control col-6 m-3" type="search" placeholder="Search" id="search">
        {% if active %}
            <a href="{{ url_for('show_all_customers') }}" class="btn btn-info m-3">Show All</a>
        {% else %}
            <a href="{{ url_for('show_customers') }}" class="btn btn-info m-3">Show Active</a>
        {% endif %}
        <a href="{{ url_for('edit_customer', cust_no=0) }}">Add Customer</a>
    </div>
    <div class="border p-3 m-3" style="max-height: 80%; ">
        <table class="table table-sm fixed_header clickable_table" style="table-layout: fixed;" id="customers-table">
        <thead>
            <th>#</th><th>Name</th><th>Pets</th><th>Email</th><th>Phone</th>
        </thead>
        <tbody class="searched">
            {% for customer in customers %}
            <tr>
                <td width="15%"><a href="{{ url_for('show_customer', customer_desc=customer.no) }}">{{ customer.no }}</a></td>
                <td width="15%">{{ customer.display_name }}</td>
                <td width="40%">{{ customer.pet_descriptions }}</td>
                <td width="15%">{{ customer.email }}
                    {% if customer.email2 %}<br>{{ customer.email2 }}{% endif %}
                </td>
                <td width="15%">{{ customer.telno_mobile }}
                    {% if customer.telno_mobile2 %}
                        {% if customer.telno_mobile %}<br>{% endif %}
                        {{ customer.telno_mobile2 }}
                    {% endif %}
                    {% if customer.telno_home %}
                        {% if customer.telno_mobile %}<br>{% endif %}
                        {{ customer.telno_home }}
                    {% endif %}
                </td>
            </tr></a>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
{% block scripts %}
<script src="/static/customers.js"></script>
<script>
    $(document).ready(function() {
        $('#customers-table').DataTable()
    })
</script>
{% endblock %}