{% extends "base.html" %}
{% block head %}
<style>
/* Remove default bullets */
li, ul, #myUL {
    list-style-type: none;
  }
  
  /* Remove margins and padding from the parent ul */
  #myUL {
    margin: 0;
    padding: 0;
  }
  
  /* Style the caret/arrow */
  .caret, .file1 {
    cursor: pointer;
    user-select: none; /* Prevent text selection */
  }
  
  /* Create the caret/arrow with a unicode, and style it */
  .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
  }
  
  /* Rotate the caret/arrow icon when clicked on (using JavaScript) */
  .caret-down::before {
    transform: rotate(90deg);
  }
  
  /* Hide the nested list */
  .nested {
    display: none;
  }
  
  /* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
  .active {
    display: block;
  }

  .file-selected {
      background-color: blue;
      color: white;
  }
</style>
{% endblock %}
{% block title %}Daily Documents{% endblock title %}
{% block body %}
<div class="row">
    <div id="myUL" class="col-sm-2">
        {{ folders | safe }}
    </div>
    <div class="col-sm-9">
       <button class="btn btn-lg btn-success ms-3 mb-2" id="fullscreen">Full Screen</button>
       <div class="doc-box m-2 p-3 border border-dark" id="doc-box">
           <iframe src="{{ latest_path }}" #toolbar="0" width="100%" style="height: calc(100vh - 160px)"></iframe>
       </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    var currentpdf = '';

    $(document).ready(function() {
        var toggler = document.getElementsByClassName("caret");
        var i;
        
        for (i = 0; i < toggler.length; i++) {
        toggler[i].addEventListener("click", function() {
            this.parentElement.querySelector(".nested").classList.toggle("active");
            this.classList.toggle("caret-down");
        });
        };
        $('#{{ latest_name }}').addClass('file-selected');
        currentpdf = '{{ latest_path }}';
    });

    $(document).ready(function() {
        $('.file1').click(function(event) {
            let height = $('iframe').height();
            $('.file-selected').removeClass('file-selected');
            currentpdf = event.target.dataset.path
            $('#doc-box').html(
                '<iframe src="' + currentpdf + '"#toolbar=0" width="100%" height="400px"></iframe>'
            );
            $(event.target).addClass('file-selected');
            $('iframe').height(height);
        });
    });

    $(document).ready(function() {
      $('#fullscreen').click(function() {
        var params = [
        'height='+screen.height,
        'width='+screen.width,
        'fullscreen=yes' // only works in IE, but here for completeness
      ].join(',');
     // and any other options from
     // https://developer.mozilla.org/en/DOM/window.open

      var popup = window.open(currentpdf, '_blank', params);
      popup.moveTo(0,0);
      return false;
      });
    });
</script>
{% endblock %}