<div class="d-none">{{ current_slot }}</div>
<div class="day-visits d-none d-md-block mx-auto">
    {% if title %}
        <h3 class="text-center my-3">{{ title }}</h3>
    {% endif %}
    <table class="table table-sm slot-table">
        <thead>
            <th>Slot</th>
            <th>Ins</th>
            <th>Outs</th>
            <th>Visits</th>
        </thead>
        {% for (desc, slot) in visits.items() %}
            <tr class="{{ slot.class }} cursor-pointer {% if slot.start == current_slot %}current-slot{% endif %}"
            {% if field %} onclick="fillTime('{{ field }}', '{{ slot.start }}', '{{ hide_field }}');">{% endif %}
                <td>{{ desc }}</td>
                <td>
                    {% for visit in slot.in %}
                        <a href="{{ url_for('show_booking', bk_no=visit.visit_no) }}">{{ visit.visit_desc }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% for visit in slot.out %}
                        <a href="{{ url_for('show_booking', bk_no=visit.visit_no) }}">{{ visit.visit_desc}}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% for visit in slot.event %}
                        {% if visit.visit_type == 'transport' %}
                            <a href="{{ url_for('show_booking', bk_no=visit.visit_bk_no) }}">{{ visit.visit_desc }}</a><br>
                        {% else %}
                            <a href="{{ url_for('edit_visit', visit_no=visit.visit_no) }}">{{ visit.visit_desc }}</a><br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<div class="day-visits d-md-none mx-auto">
    <h3 class="text-center my-3">{{ title }}</h3>
    <table class="table">
        <thead>
            <th>Slot</th>
            <th>Ins</th>
            <th>Outs</th>
            <th>Visits</th>
        </thead>
        {% for (desc, slot) in visits.items() %}
            <tr class="{{ slot.class }} cursor-pointer {% if slot.start == current_slot %}current-slot{% endif %}"
            {% if field %} onclick="fillTime('{{ field }}', '{{ slot.start }}', '{{ hide_field }}');">{% endif %}
                <td>{{ desc }}</td>
                <td>
                    {% for visit in slot.in %}
                        <a href="{{ url_for('show_booking', bk_no=visit.visit_no) }}">{{ visit.visit_no }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% for visit in slot.out %}
                        <a href="{{ url_for('show_booking', bk_no=visit.visit_no) }}">{{ visit.visit_no }}</a><br>
                    {% endfor %}
                </td>
                <td>
                    {% for visit in slot.event %}
                        {% if visit.visit_type == 'transport' %}
                            <a href="{{ url_for('show_booking', bk_no=visit.visit_bk_no) }}">{{ visit.visit_no }}</a><br>
                        {% else %}
                            <a href="{{ url_for('edit_visit', visit_no=visit.visit_no) }}">{{ visit.visit_no }}</a><br>
                        {% endif %}
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
