{% import 'macros.html' as m %}
<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/static/external/css/bootstrap.css">
<link rel="stylesheet" href="/static/crowbank.css">

<title>{% block title%}{% endblock title %}</title>

</head>
<body>
    <table width="600px">
        <tr><td style="background-color: #56C5D0"><img src="https://crowbank.co.uk/wp-content/uploads/2020/02/big_logo.jpg" alt="Crowbank Kennels and Cattery" style="max-width: 300px;"></td></tr>
        <tr><td>
            <div class="m-3 pb-4 border-bottom" style="font-size: 20px;">
                {% block body %}{% endblock %}
            </div>
        </td></tr>
        <tr><td>
            <table class="table table-sm table-borderless table-striped border border-dark mx-auto p-4" style="width: 50%;">
                <thead class="thead-light">
                    <th colspan="3" style="text-align: center; font-weight: 700;">Crowbank Kennels and Cattery</th>
                </thead>
                <tbody style="font-size: 0.8rem; width: 50%;">
                    <tr><td></td><td style="font-weight: 700">Phone:</td><td>01236 729454</td></tr>
                    <tr><td></td><td style="font-weight: 700">Email:</td><td><a href="mailto:info@crowbank.co.uk">info@crowbank.co.uk</a></td></tr>
                    <tr><td></td><td style="font-weight: 700">Web:</td><td><a href="https://crowbank.co.uk">www.crowbank.co.uk</a></td></tr>
                    <tr><td></td><td style="font-weight: 700">Facebook:</td><td><a href="https://facebook.com/crowbank">facebook.com/crowbank</a></td></tr>
                    <tr><td></td><td style="font-weight: 700">Address:</td>
                        <td>Crowbank House, Arns<br>Cumbernauld<br>G67 3JW<br><a target="_blank" href="https://maps.google.com/?q=Crowbank">map</a></td>
                    </tr>
                </tbody>
            </table>
        </td></tr>
    </table>
</body>
</html>