{% if emps %}
<table class="table table-sm">
    <thead><th>Employee</th><th>Days Worked</th>
        {% if current_user.is_authenticated and current_user.role >= g.roles.owner %}<th>Wages</th>{% endif %}
    </thead>
    <tbody>
        {% for emp in emps %}
            <tr class="{{ emp.rc_status }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="{{ emp.rc_comments }}">
                <td>{{ emp.ts_emp_nickname }}</td>
                <td class="text-center">{{ '{:,.1f}'.format(emp.ts_c) }}</td>
                {% if current_user.is_authenticated and current_user.role >= g.roles.owner %}
                <td class="text-end">{% if emp.ts_wages %}{{ '{:,.2f}'.format(emp.ts_wages) }}{% else %}-{% endif %} </td>
                {% endif %}
            </tr>
        {% endfor %}
        {% if current_user.is_authenticated and current_user.role >= g.roles.owner %}
        <tr>
            <th>Total</th><th></th>
            <th class="text-end">{{ '{:,.2f}'.format(total) }}</th>
        </tr>
        {% endif %}
    </tbody>    
</table>
{% else %}
No Data
{% endif %}