{% extends "base.html" %}
{% block title %}Employees{% endblock %}
{% block body %}
<a href="{{ url_for('new_employee')}}" class="float"><i class="fa fa-plus my-float"></i></a>

<table class="table table-sm searched">
    <thead>
        <th>Order</th><th>Name</th><th>Rank</th><th>Start Date</th><th>Phones</th><th>Email/FB</th><th>Address</th>
    </thead>
    <tbody>
        {% for emp in employees %}
        <tr class="emp-{{ emp.emp_rank_class}}">
            <td>{% if emp.emp_order %}{{ emp.emp_order }}{% endif %}</td>
            <td><a href="{{ url_for('show_employee', emp_no=emp.emp_no) }}">{{ emp.emp_fullname }}</a></td>
            <td>{{ emp.emp_rank_desc }}</td>
            <td>{% if emp.emp_start_date %}{{ emp.emp_start_date.strftime("%d/%m/%Y") }}{% endif %}</td>
            <td><a href="tel:{{ emp.emp_telno_mobile }}">{{ emp.emp_telno_mobile }}</a>
                {% if emp.cust_telno_home %}<br><a href="tel:{{ emp.emp_telno_home }}">{{ emp.emp_telno_home }}</a>{% endif %}
                {% if emp.emp_telno_emergency %}<br><a href="{{ emp.emp_telno_emergency }}">{{ emp.emp_telno_emergency }}</a>{% endif %}
            </td>
            <td><a href="mailto://{{ emp.emp_email }}">{{ emp.emp_email }}</a><br>
            <a href="https://facebook.com/{{ emp.emp_facebook }}" target="_blank">{{ emp.emp_facebook }}</a></td>
            <td><a href="https://www.google.com/maps/dir/?api=1&origin={{ emp.emp_postcode | urlencode }}&destination=Crowbank+Kennels" target="_blank">{{ emp.emp_addr1 }}<br>{{ emp.emp_addr3 }}<br>{{ emp.emp_postcode }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}