{% extends "base.html" %}
{% block title %}
{% if employee %}
{{ employee.emp_forename}} {{ employee.emp_surname }}
{% if employee.emp_nickname != employee.emp_forename %} ("{{ employee.emp_nickname }}"){% endif %}
{% else %}
New Employee
{% endif %}
{% endblock %}

{% block body %}
<h1 style="text-align: center;">
    {% if employee %}
        {{ employee.emp_forename}} {{ employee.emp_surname }}
    {% if employee.emp_nickname != employee.emp_forename %} ("{{ employee.emp_nickname }}"){% endif %}
    {% else %}
        New Employee
    {% endif %}
    </h1>
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post" class="form">
        {{ form.hidden_tag() }}
    
        <div class="form-group">
            {{ form.emp_nickname.label(class_="form-label") }}
            {{ form.emp_nickname(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_forename.label(class_="form-label") }}
            {{ form.emp_forename(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_surname.label(class_="form-label") }}
            {{ form.emp_surname(class_="form-control") }}
        </div>
        <div class="form-group" data-toggle="tooltip" data-html="true" title="Sex">
            {{ form.emp_sex.label(class_="form-label") }}
            {{ form.emp_sex(class_="form-control") }}
            {% if form.emp_sex.errors %}
                {% for error in form.emp_sex.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.emp_addr1.label(class_="form-label") }}
            {{ form.emp_addr1(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_addr3.label(class_="form-label") }}
            {{ form.emp_addr3(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_postcode.label(class_="form-label") }}
            {{ form.emp_postcode(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_dob.label(class_="form-label") }}
            {{ form.emp_dob(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_ni.label(class_="form-label") }}
            {{ form.emp_ni(class_="form-control") }}
        </div>


        <div class="form-group">
            {{ form.emp_email.label(class_="form-label") }}
            {{ form.emp_email(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_telno_mobile.label(class_="form-label") }}
            {{ form.emp_telno_mobile(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_emergency_contact.label(class_="form-label") }}
            {{ form.emp_emergency_contact(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_telno_emergency.label(class_="form-label") }}
            {{ form.emp_telno_emergency(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_facebook.label(class_="form-label") }}
            {{ form.emp_facebook(class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.emp_start_date.label(class_="form-label") }}
            {{ form.emp_start_date(class_="form-control") }}
        </div>
        {% if employee %}
        <div class="form-group">
            {{ form.emp_end_date.label(class_="form-label") }}
            {{ form.emp_end_date(class_="form-control") }}
        </div>
        {% endif %}
        {% if current_user.is_authenticated and current_user.role >= g.roles.owner %}
            <div class="form-group">
                {{ form.emp_current_rate.label(class_="form-label") }}
                {{ form.emp_current_rate(class_="form-control") }}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form.emp_sortcode.label(class_="form-label") }}
            {{ form.emp_sortcode(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_account_no.label(class_="form-label") }}
            {{ form.emp_account_no(class_="form-control") }}
        </div>
        
        <div class="form-check">
            {{ form.emp_iscurrent.label(class_="form-check-label") }}
            {{ form.emp_iscurrent(checked=(employee.emp_iscurrent == 1 if employee else True),
                class_="form-check-input {% if form.emp_iscurrent.errors %}has-error{% endif %}") }}
            {% if form.emp_iscurrent.errors %}
                {% for error in form.emp_iscurrent.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.emp_order.label(class_="form-label") }}
            {{ form.emp_order(class_="form-control") }}
        </div>
        <div class="form-group" data-toggle="tooltip" data-html="true" title="Rank">
            {{ form.emp_rank.label(class_="form-label") }}
            {{ form.emp_rank(class_="form-control") }}
            {% if form.emp_rank.errors %}
                {% for error in form.emp_rank.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group" data-toggle="tooltip" data-html="true" title="Wage Category">
            {{ form.emp_wagecat.label(class_="form-label") }}
            {{ form.emp_wagecat(class_="form-control") }}
            {% if form.emp_wagecat.errors %}
                {% for error in form.emp_wagecat.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        {% if employee %}
        <div class="form-group">
            {{ form.emp_contract_start_date.label(class_="form-label") }}
            {{ form.emp_contract_start_date(class_="form-control") }}
        </div>

        <div class="form-group">
            {{ form.emp_contract_end_date.label(class_="form-label") }}
            {{ form.emp_contract_end_date(class_="form-control") }}
        </div>
    
        <div class="form-group" data-toggle="tooltip" data-html="true" title="Role">
            {{ form.emp_role.label(class_="form-label") }}
            {{ form.emp_role(class_="form-control") }}
            {% if form.emp_role.errors %}
                {% for error in form.emp_role.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.emp_code_no.label(class_="form-label") }}
            {{ form.emp_code_no(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_short_code_no.label(class_="form-label") }}
            {{ form.emp_short_code_no(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_id.label(class_="form-label") }}
            {{ form.emp_id(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.emp_ref.label(class_="form-label") }}
            {{ form.emp_ref(class_="form-control") }}
        </div>
        {% endif %}
        <div class="row px-2">
            {{ form.submit(class_="btn btn-primary btn-block")}}
        </div>
        {% if current_user.is_authenticated and current_user.role >= g.roles.admin %}
        <div class="mt-2">
            <a class="btn btn-danger btn-block" href="{{ url_for('reset_password', user_id=form.emp_no.data) }}">Reset Password</a>
        </div>
        {% endif %}

    </form>
</div>
{% endblock body %}