<table class="table table-striped table-sm">
    <tbody>
        {% for field in fields %}
        {% if field.order %}
            <tr>
                <td><strong>{{ field.description }}</strong></td>
                <td>{{ field.value }}</td>
            </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
