{% extends "base.html" %}
{% block title %}Health Reports{% endblock %}
{% block body %}

{% for the_date in filenames.keys() %}
    <div class="border p-3">
        <h2>{{ the_date.strftime("%a %d %b %Y") }}</h2>
        <iframe src="/static/health/{{ filenames[the_date] }}#toolbar=0" width="100%" height="400px"></iframe>
    </div>
{% endfor %}

{% endblock %}