<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Good News!</title>

</head>
<body>
    <div class="container">
        <div class="row">
            <img src="https://crowbank.co.uk/wp-content/uploads/2020/02/big_logo.jpg" width="100%" alt="Crowbank Kennels and Cattery">
        </div>
        <div class="row">
            <div class="pt-3 col-sm-8" style="background-color: #56C5D0">
                <div class="px-3 py-2" style="background-color: #D4F0F3">
                <h1 style="text-align: center;  font-size: 1.5rem">GOOD NEWS!!</h1>
                <h2 style="text-align: center; font-size: 1.25rem">We have your dates</h2>
                <p>Please check the details and costs carefully. Once the booking is made, it may be difficult to make changes.</p>
                <table class="table">
                    <tbody>
                        <tr><td><strong>Boarders</strong></td><td>{{ booking.pet_names }}</td></tr>
                        <tr><td><strong>Arrival</strong></td><td>{{ booking.start_date.strftime("%a %d %b %Y %H:%M") }}</td></tr>
                        <tr><td><strong>Departure</strong></td><td>{{ booking.end_date.strftime("%a %d %b %Y %H:%M") }}</td></tr>
                        <tr><td><strong>Cost</strong></td><td>&pound;{{ "{:.2f}".format(booking.gross_amt) }}</td></tr>
                        <tr><td><strong>Ref #</strong></td><td>{{ booking.no }}</td></tr>
                        <tr><td colspan="2"><strong>Booking is subject to <a href="https://crowbank.co.uk/terms-and-conditions" target="_blank">Terms and Conditions</a></strong></td></tr>
                    </tbody>
                </table>

                <p>Click the button to pay the &pound;{{ "{:.2f}".format(booking.deposit)}} deposit and make your booking. An automatic confirmation email will be sent within a few hours.</p>
                <a href="{{ booking.deposit_link }}" target="_blank"><button class="payButton btn-block my-4">Book Now</button></a>
            </div>
            </div>
            <div class="pt-3 col-sm-4" style="background-color: #56C5D0">
                <h3>Not quite ready to book? That is fine too!</h3>
                <p>We will hold availability until {% if booking.expiry %} {{ booking.expiry.strftime("%a %d %b %Y") }} {% else %} Wed 27 Feb 2020 {% endif %}, while you work out those flight details.</p>
                <p>If you have not made the booking by then, the space will be automatically released to other customers.  This may mean that your chosen dates will no longer be available. </p>
            </div>
        </div>
        <div class="row px-3 py-3" style="background-color:#56C5D0; color:white">
            <h3>Find Us</h3>
        </div>
        <div class="row" style="background-color:#56C5D0; color:white">
            <div class="col-md-7">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d17867.347550281982!2d-3.924328684162904!3d55.9594509806091!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48886ff4a691213b%3A0x1f5975f47a8cdf6d!2sCrowbank%20Kennels%20and%20Cattery!5e0!3m2!1sen!2suk!4v1582118623269!5m2!1sen!2suk" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen=""></iframe>            </div>
            <div class="col-md-5">
                Crowbank Kennels and Cattery<br>
                Arns Road, Cumbernauld<br>
                G67 3JW<br><br>

                <table class="table table-sm">
                    <tbody>
                        <tr><td>Phone:</td><td>01236 729454</td></tr>
                        <tr><td>Email:</td><td><a href="mailto:info@crowbank.co.uk">info@crowbank.co.uk</a></td></tr>
                        <tr><td>Web:</td><td><a href="https://crowbank.co.uk">www.crowbank.co.uk</a></td></tr>
                        <tr><td>Facebook:</td><td><a href="https://facebook.com/crowbank">facebook.com/crowbank</a></td></tr>
                    </tbody>
                </table>
            </div>            
        </div>
    </div>
</body>
</html>