{% extends "base.html" %}
{% block title %}{{ the_date.strftime("%a %d %b %Y") }} Daily{% endblock title %}
{% block body %}
<script type=text/javascript>
    printRunCard = function(bk_no, pet_no) {
        var url = '../runcard/' + bk_no + '/' + pet_no;
        var w = window.open(url);
        w.print();
        w.close();
      }

    function confirm_employee(emp_no, the_date) {
        console.log(emp_no)
        console.log(the_date)
    }
</script>
<div class="row pb-3 pt-4">
    <div class="col-3">
        <a href="{{ url_for('home_page', date_arg=(the_date | prev_day).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-left"></i></a></div>
    <div class="col-6">
        <h1 class="text-center">{{ the_date.strftime("%a %d %b") }}</h1>
    </div>
    <div class="col-3 text-end">
        <a href="{{ url_for('home_page', date_arg=(the_date | next_day).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-right"></i></a></div>
</div>
<hr/>
{% if raw_warnings %}
<h3>Raw Food Warnings</h3>
<table class="table table-sm">
    <thead><th>Dismiss</th><th>Booking #</th><th>Customer</th><th>Pet Name</th><th>Start Date</th><th>Food Comment</th></thead>
    <tbody>
        {% for raw in raw_warnings %}
            <tr id="raw-{{ raw.pet_no}}">
                <td><button class="btn btn-sm btn-primary raw-dismiss" data-pet="{{ raw.pet_no }}"><i class="fas fa-times"></i></button></td>
                <td><a href="{{ url_for('show_booking', bk_no=raw.bk_no) }}">{{ raw.bk_no }}</a></td>
                <td><a href="{{ url_for('show_customer', customer_desc=raw.cust_no) }}">{{ raw.cust_surname }}</a></td>
                <td><a href="{{ url_for('show_pet', pet_no=raw.pet_no) }}">{{ raw.pet_name }}</a></td>
                <td>{{ raw.start_date.strftime("%d/%m/%y") }}</td>
                <td>{{ raw.food_comment }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<div class="row">
    <div class="p-3 col">
        <a href="{{ url_for('show_inventory', date_arg=the_date.strftime('%d-%m-%Y')) }}">
            <button class="btn btn-info me-3">Inventory</button>
        </a>
        {% if g.notes %}
        <a href="{{ url_for('daily_notes', date_arg=the_date.strftime('%d-%m-%Y')) }}">
            <button class="btn btn-warning">Notes ({{ note_count }})</button>
        </a>
        {% endif %}
    </div>
    <div class="bg-light border border-solid p-3 my-2 col" id="next-event">
        {% if next_visit %}
            <h3>Next</h3>
            {% for visit in next_visit %}
                {{ visit.visit_time }} - {{ visit.visit_desc }}<br>
            {% endfor %}
        {% else %}
            Done for today
        {% endif %}
    </div>
</div>
<div class="pb-2">
    <h3>Staff</h3>
        {% if emps %}
        {% if current_user.is_authenticated and current_user.role >= g.roles.manager %}
            <div>
                <button class="btn btn-success my-3" id="refresh-employees">Refresh</button>
            </div>
        {% endif %}
        <div class="table-responsive">
            <table class="table table-sm{% if current_user.is_authenticated and current_user.role >= g.roles.manager %} employee-table{% endif %}">
                <thead>
                    <th class="col-3 col-lg-2">Employee</th>
                    {% if current_user.is_authenticated and current_user.role >= g.roles.manager %}
                        <th class="col-2 col-lg-1">Start</th>
                        <th class="col-2 col-lg-1">End</th>
                        <th class="col-1 col-lg-1">Lunch</th>
                        <th class="col-4 col-lg-6 d-none d-lg-block">Comment</th>
                        <th class="col-1">Confirm</th>
                    {% endif %}
                </thead>
            <tbody>
                {% for emp in emps|sort(attribute='order') %}
                    <tr class="emp-{{ emp.class }} emp-{% if emp.approved %}approved{% else %}unapproved{% endif %}" data-emp_no="{{ emp.emp_no }}">
                        <td><a href="{{ url_for('show_employee', emp_no=emp.emp_no) }}">{{ emp.employee }}</a></td>
                        {% if current_user.is_authenticated and current_user.role >= g.roles.manager %}
                            <td><input type="text" class="employee-start form-control expandable-text status-{{ emp.start_status }}"
                                value="{{ emp.start_punch.strftime('%H:%M') if emp.start_punch else '' }}">
                            </td>
                            <td><input type="text" class="employee-end form-control expandable-text status-{{ emp.end_status }}"
                                value="{{ emp.end_punch.strftime('%H:%M') if emp.end_punch else '' }}">
                            </td>
                            <td class="td-centered"><input type="checkbox" class="employee-lunch"{% if emp.lunch %} checked{% endif %}>
                            </td>
                            <td class="d-none d-lg-table-cell"><input type="text" class="employee-comment form-control expandable-text"
                                value="{{ emp.comment }}">
                            </td>
                            <td class="td-centered"><button data-emp_no="{{ emp.emp_no }}" type="button" class="btn emp-confirm-button td-centered">
                                    <i class="fa fa-check" aria-hidden="true"></i>
                                </button>                    
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
            </table>
        </div>
        {% else %}
        No Staff
        {% endif %}
    </div>
<div class="row pb-3">
    <div class="col-lg-6">
        <h3>Events</h3>
        {% if 1==1 %}
        <table class="table table-sm clickable_table">
            <thead><th>Time</th><th>Type</th><th>Event</th></thead>
            <tbody>
            {% for visit in visits%}
            <tr {% if visit.visit_completed %}class="arrived_class"{% endif %}>
                <td>{{ visit.visit_time }}</td>
                <td>
                    {% if visit.visit_type == 'interview' or visit.visit_type == 'visit' or visit.visit_type == 'event' %}
                        <a href="{{ url_for('edit_visit', visit_no=visit.visit_no) }}">{{ visit.visit_type }}</a>
                    {% else %}
                        {{ visit.visit_type }}
                    {% endif %}
                </td>
                <td>{{ visit.visit_name }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('add_event', datearg=the_date.strftime('%d-%m-%Y')) }}">Add Event</a>
        {% else %}
        <div>
            {{ visit_html | safe }}
        </div>
        {% endif %}
        {% if tbc %}
        <h4 class="mt-3">Intraday TBCs</h4>
        <table class="table table-sm">
            <thead><th>Location</th><th>Depart</th><th>Arrive</th></thead>
            <tbody>
                {% for tb in tbc %}
                <tr class="{{ tb.tbc_type}} {% if tb.tbc_overlap %}tbc-overlap{% endif %}">
                    <td>{{ tb.tbc_run_code }}</td>
                    <td>{{ tb.tbc_leave_time }}</td>
                    <td>{{ tb.tbc_arrive_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}

    </div>
    <div class="col-lg-6">
        <h3>To Do</h3>
        {% if requests %}
            <a href="{{ url_for('show_requests') }}" target="_blank">{% if requests == 1 %}There is one open request{% else %}There are {{ requests }} open requests{% endif %}</a>
        {% endif %}
        <br>
        {% if amendments %}
            <a href="{{ url_for('show_amendments') }}" target="_blank">{% if amendments == 1 %}There is one open amendement{% else %}There are {{ amendments }} amendment requests{% endif %}</a>
        {% endif %}
        <h5 class="mt-3"><a href="{{ url_for('weight_report') }}" target="_blank">Weights</a></h5>
        <table class="table table-sm mb-3">
            <tr {% if weight_status.due %}class="table-warning"{% endif %}><th>Due Today</th><td>{{ weight_status.due }}</td></tr>
            <tr {% if weight_status.overdue %}class="table-danger"{% endif %}><th>Overdue</th><td>{{ weight_status.overdue }}</td></tr>
            {% if weight_status.changes %}
                <tr class="table-danger"><th>Weight Changes</th>
                    <td>
                        <table class="table table-sm">
                            <thead>
                                <tr><th>Name</th><th>Change (%)</th></tr>
                            </thead>
                            {% for change in weight_status.changes %}
                                <tr>
                                    <td>{{ change.pet_name }}</td><td>{{ "%.1f"|format(change.weight_change * 100) }}</td>
                                </tr>
                            {% endfor %}
                            <tr></tr>
                        </table>
                    </td>

                </tr>
            {% endif %}
            
            {% if dogs_to_weigh %}
                <tr>
                    <td>
                        <select id="dog-to-weigh" class="form-select">
                            <option selected>Dog Name</option>
                            {% for dog in dogs_to_weigh %}
                                <option value="{{ dog.dw_pet_no }}">{{ dog.dw_pet_name }} {{ dog.dw_cust_surname }} ({{ dog.dw_breed_desc }})</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td class="d-flex align-items-center">
                        <label for="weight" class="me-2">Weight</label>
                        <input id="weight" class="form-control form-control-sm" placeholder="0.0" type="text">
                        <i id="submit-weight" class="border border-primary p-2 ms-3 fas fa-arrow-turn-down"></i>
                    </td>
                </tr>
            {% endif %}
        </table>
        {% if current_user.is_authenticated and current_user.role >= g.roles.manager %}
            <h5 class="mt-3">Payments Collected:</h5>
            <table class="table table-sm">
                <thead><tr><th>Method</th><th>Number</th><th>Amount</th></tr></thead>
                <tbody>
                    {% if payments %}
                        {% for payment in payments %}
                            <tr><td>{{ payment.pay_type }}</td>
                                <td>{{ payment.pay_count }}</td>
                                <td>&pound;{{ "{:,.2f}".format(payment.pay_total) }}<td>
                        {% endfor %}
                        {% if current_user.is_authenticated and current_user.role >= g.roles.owner %}
                            <tr><td><strong>Total</strong></td>
                                <td><strong>{{ total_pay.pay_count }}</strong></td>
                                <td><strong>&pound;{{ "{:,.2f}".format(total_pay.pay_total) }}<td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr><td>No payments yet</td></tr>
                    {% endif %}
                    <tr><td><strong>Still Expected</strong></td><td></td><td>&pound;{{ "{:,.2f}".format(expected) }}</td></tr>
                </tbody>
            </table>
        {% endif %}
    </div>
</div>
<hr/>
<div class="row pb-3">
    <div class="col-lg-6 pb-2">
        {% set free_color = '#16d416' %}
        {% set limited_color = 'orange' %}
        {% set full_color = 'red' %}
        {% if kennel_availability.am == 0 %}{% set am_avail = free_color %}{% elif kennel_availability.am == 1 %}{% set am_avail = limited_color %}{% else %}{% set am_avail = full_color %}{% endif %}
        {% if kennel_availability.pm == 0 %}{% set pm_avail = free_color %}{% elif kennel_availability.pm == 1 %}{% set pm_avail = limited_color %}{% else %}{% set pm_avail = full_color %}{% endif %}
        <h2 class="p-3 text-center" style="border: 1px solid black; background-image: linear-gradient(to bottom right, {{ am_avail }} 50%, {{ pm_avail }} 50%)"><a href="{{ url_for('show_inventory', date_arg=datestr) }}">Kennels</a></h2>
        {% set capacity = 34 %}
        
        <div style="overflow-x:auto;">
            {% if kennel_inv %}
                <table class="table table-sm">
                    <thead><th>Time</th><th>Occupied</th><th>Daycare</th><th>Available</th><th>Ins</th><th>Outs</th></thead>
                    <tbody>
                        <tr>
                            <td>Morning</td><td>{{  kennel_inv.morning }}</td><td></td>
                            <td>{{ capacity - kennel_inv.morning }}</td>
                            <td></td><td></td></tr>
                        <tr {% if kennel_inv.am > capacity %}class="alert alert-warning"{% endif %}>
                            <td>AM</td><td>{{ kennel_inv.am }}</td>
                            <td>{{ kennel_inv.am_day }}</td>
                            <td> {{ capacity - kennel_inv.am }}</td>
                            <td>{{ kennel_inv.am_ins }}</td>
                            <td>{{ kennel_inv.am_outs }}</td>
                        </tr>
                        <tr><td>Noon</td><td>{{ kennel_inv.noon }}</td><td></td>
                            <td>{{ capacity - kennel_inv.noon }}</td>
                            <td></td><td></td>
                        </tr>
                        <tr {% if kennel_inv.pm > capacity %}class="alert alert-warning"{% endif %}>
                            <td>PM</td><td>{{ kennel_inv.pm }}</td>
                            <td>{{ kennel_inv.pm_day }}</td>
                            <td>{{ capacity - kennel_inv.pm }}</td>
                            <td>{{ kennel_inv.pm_ins }}</td><td>{{ kennel_inv.pm_outs }}</td>
                        </tr>
                        <tr><td>Evening</td><td>{{ kennel_inv.evening }}</td><td></td>
                            <td>{{ capacity - kennel_inv.evening }}</td>
                            <td></td><td></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <h4>No Dogs</h4>
            {% endif %}
        </div>
    </div>
    <div class="col-lg-6 pb-2">
        {% if cattery_availability.am == 0 %}{% set am_avail = free_color %}{% elif cattery_availability.am == 1 %}{% set am_avail = limited_color %}{% else %}{% set am_avail = full_color %}{% endif %}
        {% if cattery_availability.pm == 0 %}{% set pm_avail = free_color %}{% elif cattery_availability.pm == 1 %}{% set pm_avail = limited_color %}{% else %}{% set pm_avail = full_color %}{% endif %}
        <h2 class="p-3 text-center" style="border: 1px solid black; background-image: linear-gradient(to bottom right, {{ am_avail }} 50%, {{ pm_avail }} 50%)"><a href="{{ url_for('show_inventory', date_arg=datestr) }}">Cattery</a></h2>
        {% set capacity = 34 %}
        
        <div style="overflow-x:auto;">

            {% if cattery_inv %}
                <table class="table table-sm">
                    <thead><th>Time</th><th>Occupied</th><th>Available</th><th>Ins</th><th>Outs</th></thead>
                    <tbody>
                        <tr>
                            <td>Morning</td><td>{{  cattery_inv.morning }}</td>
                            <td>{{ capacity - cattery_inv.morning }}</td>
                            <td></td><td></td></tr>
                        <tr {% if cattery_inv.am > capacity %}class="alert alert-warning"{% endif %}>
                            <td>AM</td><td>{{ cattery_inv.am }}</td><td> {{ capacity - cattery_inv.am }}</td>
                            <td>{{ cattery_inv.am_ins }}</td>
                            <td>{{ cattery_inv.am_outs }}</td>
                        </tr>
                        <tr><td>Noon</td><td>{{ cattery_inv.noon }}</td>
                            <td>{{ capacity - cattery_inv.noon }}</td>
                            <td></td><td></td>
                        </tr>
                        <tr {% if cattery_inv.pm > capacity %}class="alert alert-warning"{% endif %}>
                            <td>PM</td><td>{{ cattery_inv.pm }}</td>
                            <td>{{ capacity - cattery_inv.pm }}</td>
                            <td>{{ cattery_inv.pm_ins }}</td><td>{{ cattery_inv.pm_outs }}</td>
                        </tr>
                        <tr><td>Evening</td><td>{{ cattery_inv.evening }}</td>
                            <td>{{ capacity - cattery_inv.evening }}</td>
                            <td></td><td></td>
                        </tr>
                    </tbody>
                </table>
            {% else %}
                <h4>No Cats</h4>
            {% endif %}
        </div>
    </div>
</div>
<div class="d-grid mb-3">
    <button data-bs-toggle="collapse" data-bs-target="#checks" class="btn btn-lg btn-secondary" type="button">
        Checkins ({% if ins_c %}{{ ins_c }}{% else %}None{% endif %} to go) and
        Checkouts ({% if outs_c %}{{ outs_c }}{% else %}None{% endif %} to go)
    </button>
</div>
<div class="collapse row bp-3 show" id="checks" style="font-size: 0.8rem">
    <div class="col-xl-6 pb-2">
        <h3>Checking In</h3>
        {% if pets_in or pets_day %}
        <table class="table table-sm-xs">
            <thead>
                <th></th><th>Bk #</th><th>Time</th><th>Surname</th><th>Pet(s)</th></tr>
            </thead>
            <tbody>
            {% for bk_no, pet_rec in pets_day.items() %}
            <tr data-bk_no="{{ bk_no }}" class="daycare {% if pet_rec.done %}arrived_class{% else %}{% if pet_rec.is_deluxe %}deluxe_class{% endif %}{% endif %} {% if pet_rec.scheduled==0 %}d-none{% endif %}">
                <td>
                    <a href="#markin" data-bk_no="{{ bk_no }}" class="btn btn-sm btn-success {% if pet_rec.done %} disabled{% endif %}">
                        <i class="fas fa-check" data-bk_no="{{ bk_no }}"></i>
                    </a>
                    <a href="#marknoshow" data-bk_no="{{ bk_no }}"
                        class="btn btn-sm btn-danger {% if pet_rec.done %} disabled{% endif %}">
                        <i class="fas fa-times" data-bk_no="{{ bk_no }}"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('show_booking', bk_no=bk_no) }}" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="{{ pet_rec.tooltip }}">
                        {{ bk_no }}
                    </a>
                </td>
                <td>{{ pet_rec.slot }}</td>
                <td><a href=" {{ url_for('show_customer', customer_desc=pet_rec.pet.customer.no) }}">{{ pet_rec.pet.customer.surname }}</a></td>
                <td>
                    <table>
                        <tr><td class="d-none d-sm-table-cell" style="width: 70px"></td><td class="p-0">{{ pet_rec.button | safe }}</td></tr>
                    </table>
                </td>
                <td class="d-none d-sm-table-cell text-center">{{ pet_rec.run }}</td>
            </tr>
            {% endfor %}
            {% for bk_no, c in pets_in.items() %}
            <tr class="{% if c.status %}confirmed{% else %}unconfirmed{% endif %}{% if c.done %} arrived_class{% else %}{% if c.is_deluxe %} deluxe_class{% endif %}{% endif %}">
                <td>
                    <a href="{{ url_for('checkin', bk_no=bk_no) }}" class="btn btn-sm btn-success {% if c.done %} disabled{% endif %}">
                        <i class="fas fa-check"></i>
                    </a>
                </td>
                <td>
                    <a href="{{ url_for('show_booking', bk_no=bk_no) }}" data-bs-html="true" data-bs-placement="right" data-bs-toggle="tooltip" title="{{ c.tooltip }}">
                        {{ bk_no }}
                    </a>
                </td>
                <td>{{ c.bk_time }}</td>
                <td><a href=" {{ url_for('show_customer', customer_desc=c.cust_no) }}">{{ c.surname }}</a></td>
                <td>
                    <table class="" style="width: 100%">
                    {% for pet_no, pet in c.pets.items() %}
                        <tr>
                            <td class="d-none d-sm-table-cell" style="width: 80px;">
                                {{ m.pet_icones(pet.is_first, pet.form_filled, pet.form_class, pet.has_meds, pet.warning, pet.vaccinations, pet.vet_clinic,
                                    url_for('checkin_form', bk_no=bk_no, pet_no=pet_no), pet.has_questionnaire, pet.kennel_notes) }}
                            </td>
                            <td class="p-0">{{ pet.button | safe }}</td>
                            {% if 0 %}
                            <td class="mb-1 align-top text-end d-none d-sm-table-cell">
                                <a onclick="printRunCard({{ bk_no }}, {{ pet_no }})" class="btn btn-sm {% if not c.done %}border {% if c.form %} bg-light{% endif %}{% endif %}">
                                    <i class="fa fa-print"></i>
                                </a>
                            </td>
                            {% endif %}
                            <td class="d-none d-sm-table-cell text-center">
                                {% if pet.run_count > 1 %}({% endif %}{{ pet.run_code }}{% if pet.run_count > 1 %}){% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                </td>
            </tr>
            {% endfor %}
            <tr><td colspan="2">
                <div class="dropdown">
                    <span class="dropdown-toggle" type="button" id="potential_daycare" data-bs-toggle="dropdown">
                      Add Daycare
                    </span>
                    <ul class="dropdown-menu">
                        {% for pet in pets_daycare_available %}
                            <li><span class="dropdown-item potential-daycare" data-pet_no="{{ pet.no }}" data-pet_name="{{ pet.name }}">
                                {{ pet.name }} ({{ pet.breed.description }})
                            </span></li>
                        {% endfor %}
                    </ul>
                  </div>
            </td><td colspan="3"></td></tr>
            </tbody>
        </table>
        {% else %}
        No checkin
        {% endif %}
    </div>
    <div class="col-xl-6 pb-2">
        <h3>Checking Out</h3>
        {% if pets_out %}
        <table class="table">
            <thead>
                <th></th><th>Bk #</th><th>Time</th><th>Surname</th><th>Pet(s)</th><th class="d-none d-sm-block">Balance</th></tr>
            </thead>
            <tbody>
            {% for bk_no, c in pets_out.items() %}
            <tr class="{% if c.done %}arrived_class{% endif %}">
            <td><a href="{{ url_for('checkout', bk_no=bk_no) }}" class="btn btn-primary {% if c.done %} disabled{% endif %}"><i class="fas fa-shopping-cart"></i></a></td>
            <td><a href="{{ url_for('show_booking', bk_no=bk_no) }}" data-toggle="tooltip" data-html=true title="{{ c.tooltip }}">{{ bk_no }}</a></td>
            <td>{{ c.bk_time }}</td>
            <td><a href=" {{ url_for('show_customer', customer_desc=c.cust_no) }}">{{ c.surname }}</a></td>
            <td>
                {% for pet_no, pet in c.pets.items() %}
                    {{ pet.button | safe }}
                {% endfor %}
            </td>
            <td class="d-none d-sm-table-cell">&pound;{{ "{0:.2f}".format(c.balance) }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
        No checkouts
        {% endif %}
    </div>
</div>

<div class="d-grid mb-3">
    <button data-bs-toggle="collapse" data-bs-target="#events" class="btn btn-lg btn-secondary" type="button">
        Events ({% if audits %}{{ audits|length }}{% else %}None{% endif %})
    </button>
</div>
<div class="collapse" id="events">
{% if audits %}
<div class="mt-4 mx-2 p-3 border border-dark small">
    <table class="table table-sm table-striped" style="table-layout: fixed;" id="events">
        <thead>
            <th>Time</th><th>Booking</th><th width="20%">Type</th>
            <th>Amount</th><th class="d-none d-sm-table-cell">From</th>
            <th class="d-none d-sm-table-cell">To</th>
        </thead>
        <tbody>
            {% for aud in audits %}
                <tr>
                    <td>{{ aud.aud_time }}</td>
                    <td><a href="{{ url_for('show_booking', bk_no=aud.aud_bk_no) }}"  data-toggle="tooltip" data-html=true title="{{ aud.tooltip }}">{{ aud.aud_bk_no }}</a></td>
                    <td>{% if aud.aud_rec_type == 'history' %}<a target="_blank" href="{{ url_for('display_email', hist_no=aud.aud_no) }}">{% endif %}{{ aud.aud_desc }}{% if aud.aud_rec_type == 'history' %}</a>{% endif %}</td>
                    <td>{% if aud.aud_amount %}&pound;{{ "{0:.2f}".format(aud.aud_amount) }}{% endif %}</td>
                    <td class="d-none d-sm-table-cell">{% if aud.aud_bk_start_date %}{{ aud.aud_bk_start_date.strftime("%d/%m/%y") }}{% endif %}</td>
                    <td class="d-none d-sm-table-cell">{% if aud.aud_bk_end_date %}{{ aud.aud_bk_end_date.strftime("%d/%m/%y") }}{% endif %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
    No Events
{% endif %}
</div>

{% endblock %}
{% block scripts %}
<script>
    const the_date = '{{ the_date.strftime('%d-%m-%Y') }}'
    $(document).ready(function() {
        $('#submit-weight').click(() => {
            const pet_no = $('#dog-to-weigh').val()
            const weight = $('#weight').val()
            $.getJSON($SCRIPT_ROOT + '/_submit_weight', {
                pet_no: pet_no,
                weight: weight
            }, data=> {
                const name=data.pet_name
                const weight=data.weight
                const date=data.weight
                const msg = `Weight for ${name} updated to ${weight}`
                update_status('info', msg)
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })

        $("#the_date").change(() => {
            var the_date_string = $(this).val();
            var new_date = the_date_string.substr(6, 4)+'-'+the_date_string.substr(3, 2)+'-'+the_date_string.substr(0, 2);
            location.assign('/home/' + new_date);
        })

        $('a[href="#markin"]').click(event => {
            event.preventDefault()
            const bk_no = $(event.target.parentElement).data('bk_no')
            $.getJSON($SCRIPT_ROOT + '/_markin', {
                bk_no: bk_no,
                the_date: the_date
            }, data=> {
             update_status('info', data.status)   
            })
        })

        $('a[href="#marknoshow"]').click(event => {
            event.preventDefault()
            const bk_no = $(event.target.parentElement).data('bk_no')
            $.getJSON($SCRIPT_ROOT + '/_marknoshow', {
                bk_no: bk_no,
                the_date: the_date
            }, data=> {
                update_status('info', data.status)   
                $(`tr[data-bk_no=${bk_no}].daycare`).addClass('d-none')
            })
        })

        $('.potential-daycare').click(event => {
            const target = $(event.target)
            const pet_no = target.data('pet_no')
            const date_arg = "{{ the_date.strftime('%d-%m-%y') }}"

            location.assign(`/book_daycare?pet_no=${pet_no}&date=${date_arg}`)
        })

        $('.raw-dismiss').click(event => {
            event.preventDefault()
            const pet_no = $(event.target).parent().data('pet')
            $.getJSON($SCRIPT_ROOT + '/_raw_dismiss', {
                pet_no: pet_no
            }, data=> {
                $(`#raw-${pet_no}`).hide()
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })
    })

    $('#refresh-employees').click(() => {
        const date_arg = "{{ the_date.strftime('%d-%m-%y') }}"
        update_status('info', 'Refreshing employees')
        $.getJSON($SCRIPT_ROOT + '/_refresh_employee_daily', {
            date: date_arg
        }, data => {
        location.reload()
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText)
        })
    })

    $('.emp-confirm-button').click(function() {
        const emp_no = $(this).data('emp_no')
        const tr = $(this).closest('tr')
        const comment_field = tr.find('.employee-comment')
        const comment = comment_field.val()
        const date_arg = "{{ the_date.strftime('%d-%m-%y') }}"
        const start = tr.find('.employee-start').val()
        const end = tr.find('.employee-end').val()
        const lunch = tr.find('.employee-lunch').prop('checked')

        const url = '/_approve_employee'
      
        $.post({
            url: url,
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({
                emp_no: emp_no,
                start: start,
                end: end,
                lunch: lunch,
                date: date_arg,
                comment: comment
            }),
            success: function(data, status) {
                // handle successful response
                console.log('Success:', data.success)
                if (data.success) {
                    update_status('info', 'Employee status updated')
                    tr.addClass('emp-approved')
                } else {
                    update_status('danger', 'Employee status not updated')
                }
            }
        })
      })
      
</script>
{% endblock %}