{% extends "base.html" %}
{% block head %}
<style type="text/css">
    @media (max-width: 576px) {
        html {
            font-size: 0.75rem;
        }
    }
</style>
{% endblock head%}
{% block title %}{{ the_date.strftime("%a %d %b %Y") }} Inventory{% endblock title%}
{% block body %}
<div class="row pb-3 pt-4">
    <div class="col-3">
        <a href="{{ url_for('show_inventory', date_arg=(the_date | prev_day).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-left"></i></a></div>
    <div class="col-6">
        <h1 class="text-center">Inventory for {{ the_date.strftime("%a %d %b") }}</h1>
    </div>
    <div class="col-3 text-end">
        <a href="{{ url_for('show_inventory', date_arg=(the_date | next_day).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-right"></i></a></div>
</div>

<hr/>
<div class="row pb-3">
    <h2>Kennels</h2>
    <table class="table table-sm">
        <thead><th>Type</th><th>#</th><th>Run</th><th>Bk #</th><th>From</th><th>To</th><th>Surname</th><th>Pets</th><th>In/Out</th></thead>
        <tbody>
            {% for run in dog_runs %}
                <tr><td>{% if loop.index == 1 or run.rt != loop.previtem.rt %}{{ run.rt}}{% endif %}</td>
                    <td>{{ run.order }}</td>
                    <td>{{ run.run_code }}</td>
                    <td><a href="{{ url_for('show_booking', bk_no=run.bk_no) }}">{{ run.bk_no }}</a></td>
                    <td>{{ run.start_date.strftime('%d/%m') }}</td>
                    <td>{{ run.end_date.strftime('%d/%m') }}</td>
                    <td><a href="{{ url_for('show_customer', customer_desc=run.cust_no) }}">{{ run.surname }}</a></td>
                    <td>
                        {% for pet in run.pets %}
                        <a href="{{ url_for('show_pet', pet_no=pet[0]) }}">{{ pet[1] }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ run.in_out }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<div class="row pb-3">
    <h2>Cattery</h2>
    <table class="table table-sm">
        <thead><th>Type</th><th>#</th><th>Bk #</th><th>From</th><th>To</th><th>Surname</th><th>Pets</th><th>In/Out</th></thead>
        <tbody>
            {% for run in cat_runs %}
                <tr><td>{% if loop.index == 1 or run.rt != loop.previtem.rt %}{{ run.rt}}{% endif %}</td>
                    <td>{{ run.order }}</td>
                    <td><a href="{{ url_for('show_booking', bk_no=run.bk_no) }}">{{ run.bk_no }}</a></td>
                    <td>{{ run.start_date.strftime('%d/%m') }}</td>
                    <td>{{ run.end_date.strftime('%d/%m') }}</td>
                    <td><a href="{{ url_for('show_customer', customer_desc=run.cust_no) }}">{{ run.surname }}</a></td>
                    <td>
                        {% for pet in run.pets %}
                        <a href="{{ url_for('show_pet', pet_no=pet[0]) }}">{{ pet[1] }}</a>
                        {% endfor %}
                    </td>
                    <td>{{ run.in_out }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $("#the_date").change(function() {
            var the_date_string = $(this).val();
            var new_date = the_date_string.substr(6, 4)+'-'+the_date_string.substr(3, 2)+'-'+the_date_string.substr(0, 2);
            location.assign('/inventory/' + new_date);
        });
    });
</script>
{% endblock scripts%}
