{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<div class="pt-3" style="background-color: #56C5D0">
    <div class="px-3 py-2" style="background-color: white">
        <h1 style="text-align: center; font-family: 'Allan'; font-size: 3rem">Your July Booking</h1>
        <div style="font-size: 20px;">
            <p>We have a booking for {{ record.email_pets }} for {{ record.email_start_date.strftime("%d/%m/%Y") }}</p>
            <p>The booking was made before the start of the Covid lockdown. We understand that most people's 
                travel plans have been disrupted. </p>
            <p>Crowbank is ready to accept boarders in July. If you still want to go ahead with the booking,
                we'll be happy to leave it in place. </p>
            <p>If your plans have changed, we'll be happy to rebook your pets to a different date. At this point,
                we have availability for all future dates.</p>
            <p>Finally, if know you won't go ahead with the booking, we'd appreciate you letting us know.</p>
            <p>We hope you are all keeping safe, and are looking forward to seeing you as soon as possible!</p>
        </div>
    </div>
</div>
{% endblock %}