{% extends "base.html" %}
{% block title %}Login
{% endblock %}

{% block body %}
<h1 style="text-align: center;">
    Login
</h1>
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post" class="form">
        {{ form.hidden_tag() }}
    
        <div class="form-group">
            {{ form.name.label(class_="form-label") }}
            {{ form.name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control") }}
        </div>
        <div class="row px-2">
            {{ form.submit(class_="btn btn-primary btn-block")}}
        </div>
    </form>
</div>
{% endblock body %}