{% macro show_note(note, ver_no) %}
<div class="kennel-note d-flex flex-column card" data-note-no="{{ note.no }}" data-ver-no="{{ ver_no }}">
</div>
{% endmacro %}

{% macro photo_modal() %}
<div class="modal fade" id="photo-modal" tabindex="-1" role="dialog" aria-labelledby="photoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="photoModalLabel">Note Photo</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img id="full-size-photo" src="" alt="Full-Sized Photo" class="img-fluid">
        </div>
      </div>
    </div>
</div>
{% endmacro %}

{% macro show_meds(meds) %}
<div>
    <table class="table">
        <thead>
            <th>Drug</th>
            <th>Dose</th>
            <th>Comment</th>
            <th colspan="5" style="text-align: center;">Times</th>
            <th>Freq</th>
            <th>Acute</th>
            <th>Start</th>
            <th>End</th>
        </thead>
        <thead style="font-size:x-small; text-align: center;">
            <th></th>
            <th></th>
            <th></th>
            <th>8am</th>
            <th>Bfast</th>
            <th>Lunch</th>
            <th>Dinner</th>
            <th>Night</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </thead>
        <tbody>
            {% if meds %}
                {% for med in meds %}
                    <tr>
                        <td>{{ med.pm_drug }}</td>
                        <td>{{ med.pm_dose }}</td>
                        <td>{{ med.pm_comment }}</td>
                        <td style="text-align: center;">{% if med.pm_morning == 'Y' %}X{% endif %}</td>
                        <td style="text-align: center;">{% if med.pm_breakfast == 'Y' %}X{% endif %}</td>
                        <td style="text-align: center;">{% if med.pm_lunch == 'Y' %}X{% endif %}</td>
                        <td style="text-align: center;">{% if med.pm_dinner == 'Y' %}X{% endif %}</td>
                        <td style="text-align: center;">{% if med.pm_night == 'Y' %}X{% endif %}</td>
                        <td>{{ med.pm_frequency }}</td>
                        <td style="text-align: center;">{% if med.pm_acute == 'Y' %}X{% endif %}</td>
                        <td>{% if med.pm_start_date %}{{ med.pm_start_date.strftime("%d/%m") }}{% endif %}</td>
                        <td>{% if med.pm_end_date %}{{ med.pm_end_date.strftime("%d/%m") }}{% endif %}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
</div>
{% endmacro %}

{% macro directions(address) %}
    <small><a href="https://www.google.com/maps/dir/?api=1&destination={{ address | urlencode }}&origin=Crowbank+Kennels" target="_blank">Map to</a></small>
{% endmacro %}

{% macro take_payment(pay_form) %}

<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#payment" class="btn btn-lg btn-secondary " type="button">Payment</button>
</div>

<div class="crowbank-form-group collapse show" id="payment">
    <form autocomplete="off" autofill="off" method="POST" action="" class="form">
        {{ pay_form.hidden_tag() }}
        <div class="form-group">
            {{ pay_form.amount.label(class_="form-label") }}
            {{ pay_form.amount(class_="form-control") }}
            {% if pay_form.amount.errors %}
                {% for error in pay_form.amount.errors %}
                <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ pay_form.pay_date.label(class_="form-label") }}
            {{ pay_form.pay_date(class_="form-control", autocomplete="off", placeholder="yyyy-mm-dd")}}
        </div>
        <div class="form-group">
            {{ pay_form.cash(class_="btn btn-success px-3 me-3 mb-2") }}
            {{ pay_form.payzone(class_="btn btn-primary me-3 mb-2") }}
            {{ pay_form.pbl(class_="btn btn-warning me-3 mb-2") }}
            {% if pay_form.voucher_balance.data and pay_form.voucher_balance.data > 0.0 %}
                {{ pay_form.voucher(class_="btn btn-secondary")}}
            {% endif %}
            <button type="button" class="btn btn-info me-3 mb-2" id="stripe-pay" disabled>Terminal</button>
            <button type="button" class="btn btn-danger mb-2" id="stripe-cancel" disabled>Cancel Payment</button>
            <button type="button" class="btn btn-primary mb-2" id="payment-link">Copy Payment Link</button>
        </div>
    </form>
</div>
{% endmacro %}

{% macro pay_script(bk_no, cust_no) %}
<script>
    const bk_no = {{ bk_no }}
    const cust_no = {{ cust_no }}
    $(document).ready(() => {
        $('#payment-link').click(() => {
            const amount = $('#amount').val()
            get_payment_link(bk_no, amount, (url) => {
                navigator.clipboard.writeText(url)
                    .then(() => {
                        update_status('info', 'URL Copied')
                    })
            })
        })
    })

    $(document).ready( async () => {
        $('#stripe-cancel').prop('disabled', true).toggle()
        const terminal = get_terminal()
        if (stripeConnect(terminal, () => {
                $('#stripe-pay').prop('disabled', false)
        })) {

            $('#stripe-pay').click(async (event) => {
                const amount = $('#amount').val()
                $('#stripe-pay').prop('disabled', true).toggle()
                $('#stripe-cancel').prop('disabled', false).toggle()
                collectPayment(terminal, amount, bk_no, cust_no, () => {
                    $('#stripe-pay').prop('disabled', false).toggle()
                    $('#stripe-cancel').prop('disabled', true).toggle()
                    update_status('info', 'Payment processed')
                    location.reload()
                }, (id) => {
                    localStorage.setItem('payment_id', id)
                })
            })

            $('#stripe-cancel').click(async (event) => {
                cancelPayment(terminal).then(() => {
                    $('#stripe-cancel').prop('disabled', true).toggle()
                    $('#stripe-pay').prop('disabled', false).toggle()

                })
            })
        }
    }
    )   
</script>
{% endmacro %}

{% macro test_macro(msg) %}
<a href="/flash/msg?redirect={{ request.url | urlencode }}"><button type="button" class="btn btn-info"></button></a>
{% endmacro %}

{% macro availability_cell(type, count, avail, fraction, code, width) %}
{% set colour = '#f08d96' %}
{# {% if code == 0 %}{% set colour = '#99ff99' %}{% endif %}
{% if code == 1 %}{% set colour = 'orange' %}{% endif %}
{% if code == 2 %}{% set colour = 'red' %}{% endif %}
#}
<td class="{{type}}-col" style="font-size: 1.5rem; font-weight: bold; {% if width %}width: {{ width }}%; {% endif %}background: linear-gradient(to right, {{ colour }}, {{ colour }} {{ 100 * fraction }}%, white {{ fraction }}%); text-align: right">
    <small>{{ count }} ({{ avail }})</small></td>
{% endmacro %}

{% macro show_pet_form(form, pet, meds, is_subform, questionnaire) %}
    {{ form.hidden_tag() }}
    <div class="d-grid mb-3 narrow">
        <button data-bs-toggle="collapse" data-bs-target="#pet_details" class="btn btn-lg btn-secondary" type="button">
            Pet Details
        </button>
    </div>
    <div class="collapse.show narrow" id="pet_details">
        <div class="form-group">
            {{ form.pet_name.label(class_="form-label") }}
            {{ form.pet_name(class_="form-control") }}
            {% if form.pet_name.errors %}
                {% for error in form.pet_name.errors %}
                    <span style="color:red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        {% if is_subform %}
            <div class="form-group">
                <div class="form-label">Pet #</div>
                <div class="form-control"><a href="{{ url_for('show_pet', pet_no=pet.no) }}">{{ pet.no }}</a></div>
            </div>
        {% endif %}

        <div class="form-group">
            {{ form.species.label(class_="form-label") }}
            {% for subfield in form.species %}
                <div class="form-check">
                    {{ subfield(class_="form-check-input") }}
                    {{ subfield.label(class_="form-check-label")}}
                </div>
            {% endfor %}

            {% if form.species.errors %}
                {% for error in form.species.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group breed-group" {% if pet.spec_no == 2 %}style="display: none"{% endif %}>
            {{ form.breed.label(class_="form-label") }}
            {{ form.breed(class_="form-control") }}
            {% if form.breed.errors %}
                {% for error in form.breed.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.dob.label(class_="form-label") }}
            {{ form.dob(class_="form-control") }}
            {% if form.dob.errors %}
                {% for error in form.dob.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.sex.label(class_="form-label") }}
            {% for subfield in form.sex %}
                <div class="form-check">
                    {{ subfield(class_="form-check-input") }}
                    {{ subfield.label(class_="form-check-label")}}
                </div>
            {% endfor %}
            {% if form.sex.errors %}
                {% for error in form.sex.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.neutered.label(class_="form-label") }}
            {% for subfield in form.neutered %}
                <div class="form-check">
                    {{ subfield(class_="form-check-input") }}
                    {{ subfield.label(class_="form-check-label")}}
                </div>
            {% endfor %}
            {% if form.neutered.errors %}
                {% for error in form.neutered.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group" id="vet-details" data-bs-toggle="tooltip" content="My new tooltip">
            {{ form.vet.label(class_="form-label") }}
            <div class="d-flex justify-content-between">
                {{ form.vet(class_="form-control", style="width: 50%") }}
                {% if pet.vet %}
                    <div class="vet-phone ms-3"><span><a href="tel:{{ pet.vet.telno|remove_spaces }}">
                        <i class="fas fa-phone fa-solid"></i>
                        {{ pet.vet.telno }}</a></span>
                        <span class="ms-3">{{ pet.vet.addr1 + ', ' + pet.vet.addr3 + ', ' + pet.vet.postcode }} ({{ directions(pet.vet.postcode) }})</div>
                        </span>
                    </div>
                {% endif %}
            {% if form.vet.errors %}
                {% for error in form.vet.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.microchip.label(class_="form-label") }}
            {{ form.microchip(class_="form-control") }}
            {% if form.microchip.errors %}
                {% for error in form.microchip.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.insurer.label(class_="form-label") }}
            {{ form.insurer(class_="form-control") }}
            {% if form.insurer.errors %}
                {% for error in form.insurer.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.daycare_approved(class_="form-check-input") }}
            {{ form.daycare_approved.label(class_="form-check-label") }}
            {% if form.daycare_approved.errors %}
                {% for error in form.daycare_approved.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    
        <div class="form-group">
            {{ form.deceased(class_="form-check-input") }}
            {{ form.deceased.label(class_="form-check-label") }}
            {% if form.deceased.errors %}
                {% for error in form.deceased.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    
        <div class="form-group">
            {{ form.diabetic(class_="form-check-input") }}
            {{ form.diabetic.label(class_="form-check-label") }}
            {% if form.diabetic.errors %}
                {% for error in form.diabetic.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>

    <div class="d-grid mb-3 narrow">
        <button data-bs-toggle="collapse" data-bs-target="#vaccinations" class="btn btn-lg btn-secondary" type="button">
            Vaccinations ({% if pet.vaccination_status == 'Valid' %}Up to date{% else %}Not up to date{% endif %})
        </button>
    </div>
    <div class="collapse narrow" id="vaccinations">
        <div class="p-2 mb-4 m-1 border border-info rounded"
                style="background-color: {% if pet.vaccination_status == 'Valid' %}#BEFFC1{% else %}#FFCABE{% endif %};">
            <div class="form-group">
                {{ form.vacc.label(class_="form-label") }}
                {{ form.vacc(class_="form-control") }}
                {% if form.vacc.errors %}
                    {% for error in form.vacc.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>

            {% if pet.spec_no == 1 %}
                <div class="mx-auto">
                    <i id="transfer-date-to-kc" class="fas fa-5x fa-long-arrow-alt-right"></i>
                </div>
                <div class="form-group">
                    {{ form.kc.label(class_="form-label") }}
                    {{ form.kc(class_="form-control ") }}
                    {% if form.kc.errors %}
                        {% for error in form.kc.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
    <div class="d-grid mb-3 narrow">
        <button data-bs-toggle="collapse" data-bs-target="#weight" class="btn btn-lg btn-secondary" type="button">
            Weight
        </button>
    </div>
    <div class="collapse narrow" id="weight">
        <div class="form-group mt-3" id="body-score">
            {{ form.body_score.label(class_="form-label") }}
            {{ form.body_score(class_="form-control body-score") }}
            {% if form.body_score.errors %}
                {% for error in form.body_score.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
            <div class="mt-3 px-3 py-2 mx-4 bg-info border border-dark rounded body-score-desc" style="background-color: white" id="body_score_desc">
            </div>
        </div>
        <div class="form-group">
            {{ form.weight_date.label(class_="form-label") }}
            {{ form.weight_date(class_="form-control", autocomplete="off", placeholder="dd/mm/yyyy") }}
        </div>
        <div class="form-group">
            {{ form.weight.label(class_="form-label") }}
            {{ form.weight(class_="form-control", placeholder=pet.weight) }}
        </div>
        <div class="form-group">
            {{ form.weight_comment.label(class_="form-label") }}
            {{ form.weight_comment(class_="form-control") }}
        </div>
    </div>

    <div class="d-grid mb-3 narrow">
        <button data-bs-toggle="collapse" data-bs-target="#notes" class="btn btn-lg btn-secondary" type="button">
            Kennel Notes{% if pet.spec_no == 1 %} & New Dog Questionnaire{% endif %}
        </button>
    </div>

    <div class="collapse narrow" id="notes">
        <div class="form-group">
            {% if pet.spec_no == 1 %}
            <div class="mb-2"><span class="fw-bold form-label">New Dog Questionnaire</span> - {{ pet.questionnaire_status }}
                <div class="narrow text-end"><button id="send-questionnaire" class="btn btn-warning">Send Questionnaire</button>
                    <div id="send-status"></div>
                </div>
            </div>
            {% endif %}
            {{ form.warning.label(class_="form-label") }}
            {{ form.warning(class_="form-control") }}
            {% if form.warning.errors %}
                {% for error in form.warning.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.kennel_notes.label(class_="form-label") }}
            {{ form.kennel_notes(rows=6, class_="form-control") }}
            {% if form.kennel_notes.errors %}
                {% for error in form.kennel_notes.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div id="new-dog-questionnaire" class="p-3 bg-light border border-dark rounded rounded-3">{{ questionnaire.pd_html | safe }}</div>

        <div class="form-group d-none">
            {{ form.feeding.label(class_="form-label") }}
            {{ form.feeding(class_="form-control") }}
            {% if form.feeding.errors %}
                {% for error in form.feeding.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group d-none">
            {{ form.health.label(class_="form-label") }}
            {{ form.health(class_="form-control") }}
            {% if form.health.errors %}
                {% for error in form.health.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group d-none">
            {{ form.behaviour.label(class_="form-label") }}
            {{ form.behaviour(class_="form-control") }}
            {% if form.behaviour.errors %}
                {% for error in form.behaviour.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group d-none">
            {{ form.inventory.label(class_="form-label") }}
            {{ form.inventory(class_="form-control") }}
            {% if form.inventory.errors %}
                {% for error in form.inventory.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="d-grid mb-3 narrow">
        <button data-bs-toggle="collapse" data-bs-target="#meds" class="btn btn-lg btn-secondary" type="button">
            Medications
        </button>
    </div>
    <div class="collapse narrow" id="meds">
        <div class="form-group">
            {{ form.meds(class_="form-check-input meds-check", id="has-meds-"+(pet.no|string)) }}
            {{ form.meds.label(class_="form-check-label") }}
            <div class="border my-4" id="meds-panel-{{ pet.no }}"><h2>Meds</h2>
                {{ show_meds(meds) }}
            </div>
        </div>
    </div>

    {% if is_subform %}
        <div class="row mb-3">
            {{ form.save(class_="btn btn-success btn-block")}}
        </div>
    {% endif %}

{% endmacro %}

{% macro show_pet_docs(pet, docs) %}
<div class="d-grid mb-3">
    <button data-bs-toggle="collapse" data-bs-target="#docs" class="btn btn-lg btn-secondary" type="button">
        Documents ({% if docs %}{{ docs|length }}{% else %}None{% endif %})
    </button>
</div>
<div class="collapse container" id="docs">
    <div class="row">
        <div class="col-sm-8">
            <select class="form-select" name="document" id="document">
                {% for doc in docs %}
                    <option class="doc-{{ doc.pd_category }}-{{ doc.pd_type }}" value="{{ doc.pd_n }}">
                        {{ doc.pd_name }}{% if doc.pd_date %} ( {{ doc.pd_date.strftime("%d-%m-%Y")}} ){% endif %}
                    </option>
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-3">
            <button class="btn btn-lg btn-success ms-3 mb-2" id="fullscreen">Full Screen</button>
         </div>     
    </div>
    <div class="">
        {% for doc in docs %}
            <div class="doc-box" id="doc-html-{{ doc.pd_n }}" style="display: none">
                <div class="m-2 p-3 border border-dark">
                    {{ doc.pd_html | safe }}
                </div>
                {% if doc.pd_category == 'document' or doc.pd_type == 'attachments' %}
                    <a href="{{ doc.pd_link }}" target="_" download><button style="margin: auto; display: block;" class="m-2 col-12 btn btn-outline-primary" type="button">
                        <i class="fas fa-download me-3"></i>Download</button></a>
                {% endif %}
            </div>
        {% endfor %}
    </div>
</div>
{% endmacro %}

{% macro show_booking(booking) %}
<div class="booking_table border border-dark mx-auto p-2 bg-light" style="border-radius: 0.5rem"> 
    <table class="table table-sm table-noborder">
        <tbody>
            <tr><td width="40%" class=""><strong>Booking #</strong></td>
                <td width-"60%">{{ booking.no }}</td>
            </tr>
            <tr><td><strong>For</strong></td><td>{{ booking.pet_descriptions }}</td></tr>
            <tr><td><strong>From</strong></td>
                <td>{{ booking.start_date.strftime('%a %d/%m/%y') }} at {{ booking.start_time }}</td></tr>
            <tr><td><strong>To</strong></td>
                    <td>{{ booking.end_date.strftime('%a %d/%m/%y') }} at {{ booking.end_time }} </td></tr>
            {% if booking.kennel_type %}
                <tr><td><strong>Kennel Type</strong></td><td>{{ booking.kennel_type }}</td></tr>
            {% endif %}
            <tr><td><strong>Total Amount</strong></td><td class="">&#163;{{ '{:.2f}'.format( booking.gross_amt) }}</td></tr>
            <tr><td><strong>Paid</strong></td><td class="">&#163;{{ '{:.2f}'.format( booking.paid_amt ) }}</td></tr>
            <tr><td><strong>Balance Due</strong></td><td class="">&#163;{{ '{:.2f}'.format( booking.amt_outstanding ) }}</td></tr>
        </tbody>
    </table>
</div>
{% endmacro %}
{% macro show_booking_form(form, booking, pets, rts, do_deluxe, do_trial, do_daycare, do_separate, availability_url,
    start_date, end_date, is_amending, email_address, email_text, email_rows, req_no) %}
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post" autofill="off" class="form">
        {{ form.hidden_tag() }}

        <div id="rts" style="display: none">{{ rts }}</div>
        <div id="start_date" style="display: none">{{ start_date.strftime("%d/%m/%Y") }}</div>
        <div id="end_date" style="display: none">{{ end_date.strftime("%d/%m/%Y") }}</div>
        <div class="mb-3">
            <label class="form-label">Pets</label>
            {% for pet in pets %}
                <div class="form-check">
                    {{ form.pets[loop.index0].hidden_tag() }}
                    {{ form.pets[loop.index0].pet_in(checked=(pet.check == 1), pet_spec=pet.species,
                        class_="form-check-input")}}
                    <span class="form-check-label">{{ pet.name }}</span>
                    {% if form.pets[loop.index0].pet_in.errors %}
                        {% for error in form.pets[loop.index0].pet_in.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endfor %}
        </div>
        <div class="mb-3">
            <label class="form-label">Options</label>
            {% if do_deluxe %}
                <div id="deluxe_group" class="form-check">
                    {{ form.deluxe.label(class_="form-check-label") }}
                    {{ form.deluxe(checked=(booking.is_deluxe == 1 if booking else False), class_="form-check-input {% if form.deluxe.errors %}has-error{% endif %}") }}
                    {% if form.deluxe.errors %}
                        {% for error in form.deluxe.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {% if do_separate %}
                <div id="separate_group" class="form-check">
                    {{ form.separate.label(class_="form-check-label") }}
                    {{ form.separate(checked=(booking.is_separate == 1 if booking else False), class_="form-check-input {% if form.separate.errors %}has-error{% endif %}") }}
                    {% if form.separate.errors %}
                        {% for error in form.separate.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            {% if do_trial %}
                <div id="trial_group" class="form-check">
                    {{ form.trial.label(class_="form-check-label") }}
                    {{ form.trial(checked=(booking.is_trial == 1 if booking else False), class_="form-check-input") }}
                    {% if form.trial.errors %}
                        {% for error in form.trial.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}

                </div>
            {% endif %}
            {% if do_daycare %}
                <div id="daycare_group" class="form-check">
                    {{ form.daycare.label(class_="form-check-label") }}
                    {{ form.daycare(checked=(booking.is_daycare == 1 if booking else False),
                        class_="form-check-input {% if form.daycare.errors %}has-error{% endif %}") }}
                    {% if form.daycare.errors %}
                        {% for error in form.daycare.errors %}
                            <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            {% endif %}
            <div id="transport_group" class="form-check">
                {{ form.transport.label(class_="form-check-label") }}
                {{ form.transport(checked=(booking.is_transport == 1 if booking else False), class_="form-check-input {% if form.transport.errors %}has-error{% endif %}") }}
                {% if form.transport.errors %}
                    {% for error in form.transport.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% if do_deluxe %}
            <div id="kennel_size_group" class="form-group"></div>
                {{ form.runtype.label(class_="form-label") }}
                {{ form.runtype(class_="form-control") }}
                {% if form.runtype.errors %}
                    {% for error in form.runtype.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}

        <div class="form-group" id="date-range">
            {{ form.date_range.label(class_="form-label") }}
            {{ form.date_range(class_="form-control date-range") }}    
            {% if form.date_range.errors %}
                {% for error in form.date_range.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="mb-3" id="availability-vector"></div>
        <div class="mb-3">
            <button class="btn btn-primary" id="refresh-availability" type="button">Refresh</button>
            <button class="btn btn-outline-dark" id="runview" type="button">Run View</button>
            <button class="btn btn-outline-dark" id="availability" type="button">Availability</button>
        </div>

        {% if do_daycare %}
            <div class="form-group show-on-daycare">
                {{ form.slot.label(class_="form-label me-5") }}
                {% for period in form.slot %}
                    {{ period(class_="form-check-input") }}{{ period.label(class_="form-check-label ms-1 me-3") }}
                {% endfor %}
            </div>
            <div class="form-group show-on-daycare">
                {{ form.run.label(class_="form-label me-5") }}
                {{ form.run(class_="form-control") }}
            </div>
        {% endif %}
        <div class="form-group hide-on-trial hide-on-daycare" id="start-time">
            <div class="form-group">
                {{ form.start_period.label(class_="form-label") }}
                {% for period in form.start_period %}
                    {{ period(class_="form-check-input") }}{{ period.label(class_="form-check-label") }}
                {% endfor %}
            </div>
            <div class="form-group">
                {{ form.start_time.label(class_="form-label") }}
                {{ form.start_time(class_="form-control")}}
            </div>
            {% if form.start_time.errors %}
                {% for error in form.start_time.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
            <div class="row my-3" id="start_time_selector">
            </div>
        </div>

        <div class="hide-on-trial hide-on-daycare" id="end-time">
            <div class="form-group">
                {{ form.end_period.label(class_="form-label") }}
                {% for period in form.end_period %}
                    {{ period(class_="form-check-input") }}{{ period.label(class_="form-check-label") }}
                {% endfor %}
            </div>
            
            <div class="form-group">
                {{ form.end_time.label(class_="form-label") }}
                {{ form.end_time(class_="form-control") }}
                {% if form.end_time.errors %}
                    {% for error in form.end_time.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="row my-3" id="end_time_selector">
            </div>    
        </div>
    
        <div class="form-group">
            {{ form.comment.label(class_="form-label") }}
            {{ form.comment(class_="booking-comment form-control") }}
        </div>

        <div class="form-group">
            {{ form.additional_text.label(class_="form-label") }}
            {{ form.additional_text(class_="mb-3 form-control") }}
            {% if booking %}
                <div class="px-3 d-flex justify-content-around">
                    {{ form.amend(class_="btn btn-success me-3")}}
                    {{ form.confirm_change(checked=(True if is_amending else False), class_="form-check-input") }}
                    {{ form.confirm_change.label(class_="form-check-label")}}
                    {{ form.retain_invoice(class_="ms-3 form-check-input") }}
                    {{ form.retain_invoice.label(class_="form-check-label")}}
                </div>
            {% else %}
                <div class="d-flex justify-content-around">
                    {{ form.book(class_="btn btn-block btn-success")}}
                    {{ form.reject(class_="btn btn-block btn-danger")}}
                    {{ form.reply(class_="btn btn-block btn-outline-dark")}}
                </div>
            {% endif %}
        </div>
    </form>
</div>
{% endmacro %}

{% macro pet_script() %}
<script>
    var currentpdf
    
    $(document).ready(function() {
        $('#fullscreen').click(function() {
            var params = [
            'height='+screen.height,
            'width='+screen.width,
            'fullscreen=yes' // only works in IE, but here for completeness
        ].join(',');
        // and any other options from
        // https://developer.mozilla.org/en/DOM/window.open
    
        var popup = window.open(currentpdf, '_blank', params)
        popup.moveTo(0,0)
        return false
        })
    })
    
    function refresh_vet_tooltip () {
        $.get('../_vetdetail', {
            vet_no: $('#pet_form-vet').val()
        }, function(data) {
            const title = data.title;
            const tooltip = new bootstrap.Tooltip($('#vet-details'), {
                html: true,
                title: title
            })
        })
    }

    $(document).ready(function() {
        $('#pet_form-vet').change(refresh_vet_tooltip);
        refresh_vet_tooltip();
    })
</script>
{% endmacro %}

{% macro pet_form_script() %}
<script
    var body_score_table

    $(document).ready(() => {
        $.get('../_body_score_table', {},
            data => {
                body_score_table = data.data
                $('.body-score').each((i, e) => get_body_score_description(e))
            }
        )
    }

    function get_body_score_description(target) {
        const score_value = $(target).find(":selected")[0].value
        const description = body_score_table.filter(e=>e.score==score_value)[0].description
        $($(target).parent().find('.body-score-desc')[0]).html(description)
    }

    $(document).ready(() => {
    $('.body-score').change((e) => {
            get_body_score_description(e.target)
        })
    })
</script>
{% endmacro %}

{% macro book_script() %}
<script>
    attach_date_to_time_field('start_time', 'start_time_selector',
    {
        period_function: (() => $("input[name='start_period']:checked").val()),
        date_function: date_from_range_field('date_range', 'start'),
        refresh_fields: ['date_range', 'start_time', 'start_period-0', 'start_period-1']
    })

    attach_date_to_time_field('end_time', 'end_time_selector',
    {
        period_function: (() => $("input[name='end_period']:checked").val()),
        date_function: date_from_range_field('date_range', 'end'),
        refresh_fields: ['date_range', 'end_time', 'end_period-0', 'end_period-1']
    })

    trigger_date_range()

    function availability_run_view_call(view)
    {
        var rts = $('#rts').text()
        var species= rts == 'cat' ? 'cat' : 'dog'
        let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/
        let r1 = /(\d\d\/\d\d\/\d\d\d\d)/
        let s = $('#date_range').val()
        let a = r.exec(s)
        var s_date, e_date
        if (a == null) {
            a = r1.exec(s)
            s_date = a[1]
            e_date = s_date
        } else {
            s_date = a[1]
            e_date = a[2]
        }
        
        var url = $SCRIPT_ROOT + '/' + view + '?start_date=' + s_date.replace(/\//g, '-') + '&end_date=' + e_date.replace(/\//g, '-') + '&species=' + species
        $("<a>").prop({
            target: "_blank",
            href: url
        })[0].click()
    }

    $(document).ready( function() {
        $('#runview').click(function() {
            availability_run_view_call('runview')
        })
        $('#availability').click(function() {
            availability_run_view_call('availability')
        })
    })

    $(document).ready( function() {
        $('.send-email').click(function(event) {
            $('#send-result').removeClass('d-none')
            $('#send-result').html('Sending...')
            const view = 'vwemail_blank'
            const address = $('#address').val()
            const key_no = $(event.target).data('bkno')
            const text = $('#reply-text').val()
            const type = $(event.target).data('type')

            const url = address ? '/_send_email' : '/_email_docs'
            $.getJSON($SCRIPT_ROOT + url, {
                view: view,
                key_no: key_no,
                key_type: type,
                address: address,
                text: text
            }, function(data) {
                $('#send-result').html(data.html)
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })
    })


</script>
{% endmacro %}

{% macro pet_icones(first_time, form_filled, form_class, has_meds, warning, vaccinations, vet_clinic, cif_link, has_questionnaire, kennel_notes) %}
<table>
    <tr>
        <td class="text-center text-{{'success' if vaccinations == 'Valid' else 'light' }}"><i class="fas fa-syringe" data-bs-toggle="tooltip" data-bs-placement="top" title="Vaccinations"></i></td>
        <td class="text-center text-{{'success' if first_time else 'light' }}"><i class="fas fa-seedling" data-bs-toggle="tooltip" data-bs-placement="top" title="First time"></i></td>
        <td class="text-center text-{{ form_class }}">
            {% if form_filled %}<a target="_blank" href="{{ cif_link }}">{% endif %}
                <i class="fas fa-file-import" data-bs-toggle="tooltip" data-bs-placement="top" title="Checkin form filled{% if form_class == 'primary'%} with attachments {% endif %}"></i>
            {% if form_filled %}</a>{% endif %}
        </td>
        <td class="text-center text-{{'success' if has_questionnaire else 'light'}}"><i class="fas fa-book" data-bs-toggle="tooltip" data-bs-placement="top" title="New Dog Questionnaire"></i></td>
    </tr>
    <tr>
        <td class="text-center text-{{'light' if vet_clinic == 'Unknown' else 'primary'}}"><i class="fas fa-user-md" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Vet: {{ vet_clinic }}"></i></td>
        <td class="text-center text-{{'primary' if has_meds else 'light'}}"><i class="fas fa-prescription-bottle-alt" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Has meds"></i></td>
        <td class="text-center text-{{'danger' if warning else 'light'}}"><i class="fas fa-exclamation" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ warning }}"></i></td>
        <td class="text-center text-{{'danger' if kennel_notes else 'light'}}"><i class="fas fa-file-text" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ kennel_notes }}"></i></td>
    </tr>
</table>
{% endmacro %}


{% macro show_invoice(invoice, as_email=False) %}
<div class="container {% if not as_email %}btn-crowbank collapse crowbank-form-group{% endif %} mx-auto" id="invoice">
    <div class="row">
        <div class="col-xs-7 p-1">
            <div class="border border-dark m-2 p-2 {% if invoice.outstanding > 0.0 %}bg-light{% else %}bg-success{% endif %}"  style="border-radius: 0.5rem">
                <table class="table table-sm">
                    <thead style="font-size: 1rem;"><th>Description</th><th class="text-end">Rate</th><th class="text-end">Units</th><th class="text-end">Cost</th></thead>
                    <tbody style="font-size: 0.9rem;">
                        {% for item in invoice.items %}
                            <tr>
                                <td>{{ item.description }}{% if item.pet %} ({{ item.pet.name }}){% endif %}</td>
                                <td class="text-end">&#163;{{ '{:.2f}'.format(item.rate) }}</td>
                                <td class="text-end">{{ item.units }}</td>
                                <td class="text-end">&#163;{{ '{:.2f}'.format(item.cost) }}</td>
                            </tr>
                        {% endfor %}
                        {% if invoice.discount %}
                            <tr><td>Discount</td><td></td><td></td><td class="text-end">&pound;({{ '{:.2f}'.format(invoice.discount) }})</td></tr>
                        {% endif %}
                        <tr><td colspan="3"><strong>TOTAL</strong></td><td class="text-end"><strong>&pound;{{ '{:.2f}'.format(invoice.total) }}</strong></td></tr>
                        <tr><td colspan="3">Paid</td><td class="text-end">&#163;{{ '{:.2f}'.format(invoice.paid) }}</td></tr>
                        <tr><td colspan="3"><strong>Outstanding</strong></td><td class="text-end"><strong>&pound;{{ '{:.2f}'.format(invoice.outstanding) }}</strong></td></tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        {% if invoice.payments %}
            <div class="col-md-5 p-1">
                <div class="border border-dark m-2 p-2 bg-light" style="border-radius: 0.5rem">
                    <h5>Payments</h5>
                    <table class="table table-sm">
                        <thead style="font-size: 1rem;">
                            <th>Date</th><th>Type</th><th class="text-right">Amount</th>
                        </thead>
                        <tbody style="font-size: 0.9rem;">
                            {% for payment in invoice.payments %}
                                <tr><td>{{ payment.date.strftime("%d/%m/%Y") }}</td>
                                    <td>{{ payment.type }}</td>
                                    <td class="text-right">&pound;{{ '{:.2f}'.format(payment.amount) }}</td></tr>
                            {% endfor %}
                            <tr><td colspan="2"><strong>Total</strong></td><td class="text-right">&pound;{{ '{:.2f}'.format(invoice.paid) }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        {% endif %}
    </div>
</div>
{% endmacro %}

{% macro search_email(email) %}
    <a target="_blank" href="https://mail.google.com/mail/u/0/#search/{{ email | urlencode }}">{{ email }}</a>
{% endmacro %}

{% macro send_email_a(email, subject, body) %}
    <a target="_blank" href="https://mail.google.com/mail/?from=info@crowbank.co.uk&view=cm&fs=1&to={{ email | urlencode }}&su={{ subject | urlencode }}&body={{ body | urlencode }}">
{% endmacro %}

{% macro more_text(text, count, label, id) %}
    {% if text %}
        {% if (text|length) < count %}{{ text }}{% else %}
        <span class="show-read-more">{{ text[:count] }}<a href="javascript:void(0);" class="read-more">...  more</a>
		<span class="more-text">{{ text[count:] }}</span></span>
        {% endif %}
    {% endif %}
{% endmacro %}