{# This template expects 'files', an array of doublets of the form (file_name, file_desc) #}
{% extends 'base.html' %}
{% block body %}
    <div class="d-none" id="view_options">{{ view_options }}</div>
    <div class="crowbank-form-group noprint">
        <div class="form-group">
            <label for="view" class="form-label"></label>
            <select name="view" id="view">
            </select>
        </div>
        <div class="form-group">
            <label for="email" class="form-label">Email Address (leave empty for display-only)</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="bk_no" class="form-label">Booking/Request # (leave empty for first-available)</label>
            <input type="text" class="form-control" id="bk_no">
        </div>
        <div class="form-group">
            <label for="reply-text" class="form-label">Additional Text</label>
            <textarea rows="4" type="text" class="form-control mb-3" id="reply-text"></textarea>
        </div>
        <div class="form-group">
            <p><strong>Format</strong></p>
            <input type="radio" id="html" name="format" value="html" checked>
            <label class="me-4" for="html">Html</label>
            <input type="radio" id="text" name="format" value="text">
            <label for="text">Text</label>
        </div>
        <div class="row">
            <button class="btn btn-primary" id="submit">Submit</button>
        </div>
    </div>
    <div class="mx-auto p-3 border" style="width: 720px;" id="notice"></div>
{% endblock body %}
{% block scripts %}
<script>
    $(document).ready(function() {
        const view_options = JSON.parse($('#view_options').text());
        for (view of view_options) {
            $('#view').append(new Option(view.desc, view.view));
        }

        $('#submit').click(() => {
            const view = $('#view').find(":selected").val();
            const bk_no = $('#bk_no').val();
            const email = $('#email').val();
            const reply_text = $('#reply-text').val();
            const is_text = $('input[name=format]:checked').val();

            $.getJSON($SCRIPT_ROOT + '/_email_docs', {
                view: view,
                key_no: bk_no,
                address: email,
                text: reply_text,
                is_text: is_text
            }, function(data) {
                $('#notice').html(data.html);
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText);
            });
        })
    });

</script>
{% endblock scripts %}
