<form autocomplete="off" autofill="off">
    <div class="form-group">
        <label for="date_selector">Date</label>
        <input type="text" class="form-control" id="date_selector" placeholder="dd/mm/yyyy">
    </div>
</form>