{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<style>
    .petButton {
        text-decoration: none;
        font-size: 1rem;
        width: 200px;
        background-color: lightblue;
        border-color: darkgray;
        border-width: 1px;
        border-radius: 5px;
        border-style: solid;
        color: black;
        padding: 5px 10px;
        margin: 0px 10px;
        width: 120px;
        display: inline-block;
        text-align: center;
    }
</style>
<h1 style="text-align: center; font-size: 2.5rem; margin-bottom: 20px;">New Dog Questionnaire</h1>
<div>
    <p>You are booked to bring your dog{% if record.email_count > 1 %}s{% endif %} to Crowbank for the first time.</p>
    <p>Ahead of their first visit, we would like to ask you to complete our New Dog Questionnaire{% if record.email_count > 1%} for each dog{% endif %} by clicking on the button{% if record.email_count > 1%}s{% endif %} below.</p>
        
        {% if text %}
            <div class="border border-solid p-3 m-3 small">Note: {{ text }}</div>
        {% endif %}
<p></p>
    {% for pet in pets %}
        <a class="petButton" href="https://crowbank.co.uk/new-dog-questionnaire/?cust_no={{ record.email_key }}&cust_surname={{ record.email_surname }}&bk_no={{ record.email_bk_no }}&cust_email={{ record.email_address }}&pet_no={{ pet.no }}&pet_name={{ pet.name }}", target="_blank">
            {{ pet.name }}</a>
    {% endfor %}
    <p></p><p>Thanks!</p>
</div>
{% endblock body %}
