{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<style>
    .confirmButton {
        text-decoration: none;
        font-size: 1.2rem;
        background-color: lightgreen;
        border-color: black;
        border-width: 2px;
        border-radius: 10px;
        border-style: solid;
        color: black;
        padding: 15px 50px;
        margin: 0px 30px;
    }
</style>
<h1 style="text-align: center; font-size: 2rem; margin-bottom: 20px;">Crowbank Booking - Rate Update</h1>
<div>
    <p>You currently have a booking (#{{ record.email_bk_no }}) for {{ record.email_pets }}<br>
from {{ record.email_start_date.strftime("%A, %d/%m/%Y") }} at {{ record.email_start_time }}<br>
until {{ record.email_end_date.strftime("%A, %d/%m/%Y") }} at {{ record.email_end_time }}.</p>
        {% if record.email_bk_deluxe %}<p><strong>This is a deluxe booking.</strong></p>{% endif %}

        <p>The new cost for this booking, updated with our 2022-23 rates, is 
                &pound;{{ "{:.2f}".format(record.email_outstanding) }} (see details below).</p>

        <p>At this time we ask that you pay a deposit of &pound;{{ "{:.2f}".format(record.email_deposit_amount) }} to secure the booking.</p>

        <div style="text-align: center; margin: 50px;">
            <a class="confirmButton" href="{{record.email_deposit_link}}", target="_blank">Pay Deposit</a>
        </div>

        <p>If you do not wish to go ahead with the booking, please let us know by replying to this email.</p>
    {% if record.email_outstanding > 0 %}
    <hr class="my-4">
    <h5 class="text-center">Invoice Details</h5>
    {{ m.show_invoice(record.email_invoice, as_email=True) }}
    {% endif %}
</div>
{% endblock body %}
