{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<h1 style="text-align: center; font-size: 2rem; margin-bottom: 20px;">Crowbank Booking - Rate Update</h1>
<div>
    <p>You currently have a booking (#{{ record.email_bk_no }}) for {{ record.email_pets }}<br>
from {{ record.email_start_date.strftime("%A, %d/%m/%Y") }} at {{ record.email_start_time }}<br>
until {{ record.email_end_date.strftime("%A, %d/%m/%Y") }} at {{ record.email_end_time }}.</p>
        {% if record.email_bk_deluxe %}<p><strong>This is a deluxe booking.</strong></p>{% endif %}

        <p>Unfortunately, due to increased costs, particularly wages, energy and food,
            we have no choice but to increase our rates effective April 1st. </p>
        <p>We understand this is a difficult time for everyone.
            Should you wish to cancel your booking, please let us know by replying to this email,
            and we'll be happy to refund your deposit</p>
        <p>The new total cost for this booking, updated with our 2023-24 rates, is 
                &pound;{{ "{:.2f}".format(record.email_gross) }} (see details below).</p>
        <p>The new balance (net of the deposit you already paid) is
            &pound;{{ "{:.2f}".format(record.email_outstanding) }}. That balance is due in cash when you check in.</p>

    <hr class="my-4">
    <h5 class="text-center">Invoice Details</h5>
    {{ m.show_invoice(record.email_invoice, as_email=True) }}
</div>
{% endblock body %}
