{% extends "base.html" %}
{% block title %}Outstanding Balances{% endblock title %}
{% block body %}
<h1>Outstanding Balances</h1>
<table class="table table-striped table-sm">
    <thead>
        <th>#</th>
        <th>Customer</th>
        <th>Phone</th>
        <th>Pets</th>
        <th>End Date</th>
        <th>Balance</th>
        <th style="width: 20%">History</th>
        <th>Notes</th>
    </thead>
    <tbody>
        {% for booking in bookings.values() %}
            <tr>
                <td><a target="_blank" href="{{ url_for('show_booking', bk_no=booking.no) }}">{{ booking.no }}</a></td>
                <td><a target="_blank" href="{{ url_for('show_customer', customer_desc=booking.customer.no) }}">{{ booking.customer.surname }}</a><br>
                <span style="font-size: 0.75rem">{{ m.search_email(booking.customer.email) }}</span></td>
                <td>{{ booking.customer.telno_mobile }}</td>
                <td>
                    {% for pet in booking.pets %}
                        {{ pet.button|safe }}
                    {% endfor %}
                </td>
                <td>{{ booking.end_date.strftime('%d/%m') }}</td>
                <td class="text-end">&pound;{{ '{:.2f}'.format(booking.amt_outstanding) }}</td>
                <td>
                    {% if booking.no in histories %}
                        <table>
                            {% for h in histories[booking.no] %}
                                <tr><td>{{ h.date.strftime('%m/%d %H:%M') }} (<a target="_blank" href="/static/confirmations/{{ h.msg }}">{{ h.subject }}</a>)</td></tr>
                            {% endfor %}
                        </table>
                    {% endif %}
                </td>
                <td style="font-size: 0.75rem">{{ booking.customer.notes }}</td>
            </tr>
        {% endfor %}
        <tr class="table-dark"><td colspan="6">Total</td><td class="text-end">&pound;{{ '{:.2f}'.format(total) }}</td><td></td></tr>
    </tbody>
</table>
{% endblock %}