{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<div class="pt-3">
    <div class="px-3 py-2">
        <h1 style="text-align: center; font-size: 2.5rem; margin-bottom: 20px;">Outstanding Balance</h1>
        <div style="font-size: 1rem;">
            {% if text %}
                <div class="border border-solid p-3 m-3 small">Note: {{ text }}</div>
            {% endif %}
            <p>You have an outstanding balance of <strong>&pound;{{ '{:.2f}'.format(record.email_deposit_amount) }}</strong>
                on your recent booking #{{ record.email_bk_no }} for {{ record.email_pets }}
                which ended on {{ record.email_end_date.strftime("%a %d %b %Y") }}. See details below.</p>

            <p>Please use the button below to pay the balance.</p>
            <div class="text-center">
                <a href="{{ record.email_paylink }}" target="_blank"><button class="payButton m-4">Pay Balance</button></a>
            </div>    

            <p>Alternatively, you can pay the balance via a bank transfer to our account:</p>
            <table class="table table-striped border mx-auto" style="width: 60%;">
                <tr><td><strong>Name:</strong></td><td>Crowbank Pet Boarding T/A Crowbank Kennels and Cattery</td></tr>
                <tr><td><strong>Sort Code:</strong></td><td>20-33-96</td></tr>
                <tr><td><strong>Account:</strong></td><td>80982210</td></tr>
                <tr><td><strong>Reference:</strong></td><td>{{ record.email_bk_no }}</td></tr>
            </table>
            <p>Thanks, and we hope to see you again soon!</p>
        </div>
        <h5 class="mt-5" style="text-align: center">Invoice Details</h5>
        {{ m.show_invoice(record.email_invoice, True) }}
    </div>
</div>
{% endblock body %}
