{% extends "base.html" %}
{% block title %}Change Password
{% endblock %}

{% block body %}
<h1 style="text-align: center;">
    Change Password
</h1>
<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post" class="form">
        {{ form.hidden_tag() }}
    
        {% if user == current_user %}
            <div class="form-group">
                {{ form.current_pwd.label(class_="form-label") }}
                {{ form.current_pwd(class_="form-control") }}
                {% if form.current_pwd.errors %}
                    {% for error in form.current_pwd.errors %}
                        <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
        {% endif %}
        <div class="form-group">
            {{ form.new_pwd.label(class_="form-label") }}
            {{ form.new_pwd(class_="form-control") }}
            {% if form.new_pwd.errors %}
                {% for error in form.new_pwd.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.confirm.label(class_="form-label") }}
            {{ form.confirm(class_="form-control") }}
            {% if form.confirm.errors %}
                {% for error in form.confirm.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="row px-2">
            {{ form.submit(class_="btn btn-primary btn-block")}}
        </div>
    </form>
</div>
{% endblock body %}
