{% extends "base.html" %}
{% block title %}{% if pet %}{{ pet.name }} {{ customer.surname }}{% else %}New Pet{% endif %}{% endblock %}
{% block body %}

<h1 style="text-align: center;">{% if pet %}{{ pet.name }} <a href="{{ url_for('show_customer', customer_desc=cust_no) }}">
    {{ customer.surname }}</a>
    {% else %}New Pet for <a href="{{ url_for('show_customer', customer_desc=cust_no) }}">{{ customer.surname }}</a>
    {% endif %}
</h1>


    {% if pet.image_file %}
        <div class="text-center py-2">
            <img src="/static/photos/{{ pet.image_file }}" height="60%" width="60%">
        </div>
    {% endif %}
    {% if g.notes %}
    <div>
        {% if pet.note_count %}
            <button class="btn btn-primary" type="button">
                <a href="{{ url_for('pet_notes', pet_no=pet.no) }}" style="color: white;">Notes ({{ pet.note_count }})</a>
            </button>
        {% endif %}
        <button class="btn btn-success" type="button" hx-get="/_note_edit?pet_no={{ pet.no }}" hx-target="#note-body" hx-swap="innerHTML" id="add-pet-note">
            Add Note
        </button>
    </div>
    {% endif %}
    <div class="crowbank-form-group">
        <form autocomplete="off" autofill="off" action="" method="post" class="form">
            <div class="form-group d-flex">
                {% if pet and not bookings %}
                    {{ form.delete(class_="btn btn-danger", onclick="return confirm('Delete pet?')") }}
                {% endif %}
            </div>
    
                {{ m.show_pet_form(form.pet_form, pet, meds, 0, questionnaire) }}
            <div class="row px-3">
                {{ form.submit(class_="btn btn-primary btn-large btn-block") }}
            </div>
        </form>
    </div>
    <div class="narrow mt-4">
        {{ m.show_pet_docs(pet, docs) }}
    </div>

    <div class="d-grid mb-3 narrow">
        <button data-bs-toggle="collapse" data-bs-target="#bookings" class="btn btn-lg btn-secondary" type="button">
            Bookings ({% if bookings %}{{ bookings|length }}{% else %}None{% endif %})
        </button>
    </div>
    <div class="collapse narrow" id="bookings">
    {% if bookings %}
    <table class="table table-sm">
        <thead>
            <th></th><th>Bk #</th><th>Dates</th><th>Run Card</th><th>Med Sheet</th>
        </thead>
        {% for booking in bookings %}
    <tr class="booking-{{ booking.status.description|lower }}">
            <td width="10px" class="btn-booking-{{ booking.tense }}"></td>
            <td><a href="{{ url_for('show_booking', bk_no=booking.no) }}" data-toggle="tooltip" data-html=true title="{{ booking.tooltip }}">{{ booking.no }}</a></td>
            <td>{{ booking.dates }}</td>
            <td>
            {% if booking.run_card %}
                <a href="/static/run_cards/{{ booking.run_card }}" target="_blank">Run Card</a>
            {% endif %}
            </td>
            <td>
            {% if booking.med_sheet %}
                <a href="/static/meds/{{ booking.med_sheet }}" target="_blank">Med Sheet</a>
            {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    No Bookings
    {% endif %}
</div>
<div class="d-grid mb-3 narrow">
    <button data-bs-toggle="collapse" data-bs-target="#weights" class="btn btn-lg btn-secondary" type="button">
        Weights ({% if weights %}{{ weights|length }}{% else %}None{% endif %})
    </button>
</div>
<div class="collapse narrow" id="weights">
    {% if weights %}
        <mt-4>
            <table class="table table-sm">
                <thead><th>Date</th><th>Weight</th><th>Comment</th></thead>
                <tbody>
                    <tr><td>Current</td><td>{{ pet.weight }}</td></tr>
                    {% for weight in weights %}
                        <tr>
                            <td>{{ weight.pw_date.strftime('%d/%m/%Y') }}</td><td>{{ weight.pw_weight }}</td><td>{{ weight.pw_notes }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </mt-4>
    {% else %}
        No Weights
    {% endif %}
</div>

{% endblock %}
{% block scripts %}
    {{ m.pet_script() }}
    {{ m.pet_form_script() }}
    <script>
        const cust_no = {{ customer.no }}

        $(document).ready(function(){
            $('#send-questionnaire').click( (e)=> {
                e.preventDefault()
                $('#send-status').text('Sending...')
                $.getJSON($SCRIPT_ROOT + '/_send_email', {
                    key_no: cust_no,
                    view: 'vwemail_new_dog',
                    replay_text: '',
                    address: '{{ customer.email }}',
                    key_type: 'C'
                }, function(data) {
                    $('#send-status').text('Sent successfully')
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    update_status(textStatus, jqXHR.responseText)
                })
        
            })
        })
    </script>
{% endblock %}