{% import 'macros.html' as m %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/external/css/bootstrap.css">
    <link rel="stylesheet" href="/static/external/css/bootstrap-toggle.css">
    <link rel="stylesheet" href="/static/external/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/external/css/fas.css">
    <link rel="stylesheet" href="/static/crowbank.css">
    <link rel="shortcut icon" href="/static/favicon.ico">
    {% block head %} {% endblock head %}

    <title>{% block title %}{% endblock title %}</title>
    
    </head>
    <body>
    <div class="container">
        {% block body %}
        {% endblock body %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/external/js/jquery-3.4.1.js"></script>
    <script src="/static/external/js/bootstrap.bundle.js"></script>
    <script src="/static/external/js/bootbox.js"></script>
    <script src="/static/external/js/jquery-confirm.min.js"></script>
    <script src="/static/external/js/fas.js"></script>
    <script src="/static/crowbank.js"></script>

    {% block scripts %}
    {% endblock scripts %}
</html>
