{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<div class="pt-3" style="background-color: #56C5D0">
    <div class="px-3 py-2" style="background-color: white">
        <h1 style="text-align: center; font-size: 1.5rem">Checking Out of Crowbank</h1>
        <div style="font-size: 1rem;">
            <p>You are scheduled to collect {{ record.email_pets }} at about {{ record.email_end_time }}
                on {{ record.email_end_date.strftime("%d/%m/%Y") }}. </p>
                {% if record.email_deposit_amount > 0 %}
                The balance outstanding on the booking is &pound;{{ "{:.2f}".format(record.email_deposit_amount) }} - see details below.
                {% else %}
                The booking has been paid in full - thank you!
                {% endif %}
            <p>As part of our Covid procedures, please note the following rules:</p>
                <ol>
                <li>Upon arrival, please ring the bell in reception, but then wait outside. Depending on the weather, you might find it more comfortable
                    to wait in your car.
                </li>
                <li>We will bring {{ record.email_pets }} and their belonging to you.</li>
                {% if record.email_deposit_amount > 0 %}
                {% if record.email_cashonly %}
                <div class="border border-solid border-dark text-white bg-danger m-3 me-5 p-2"><strong>We are currently having difficulties with our card service, and ask that you bring cash with you.</strong></div>
                {% else %}
                <li>We are able to accept cash payments</li>
                <li>Alternatively, you may use the button below to pay the balance online.</li>
                {% endif %}
                {% endif %}
            </ol>
        </div>

        {% if record.email_deposit_amount > 0 and not record.email_cashonly %}
            <div class="text-center">
                <a href="{{ record.email_paylink }}" target="_blank"><button class="payButton mb-2">Pay Balance</button></a>
            </div>

            <h4>Invoice Details</h4>
            {{ m.show_invoice(record.email_invoice, as_email=True) }}
        {% endif %}
    </div>
</div>
{% endblock %}