{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<style>
    .petButton {
        text-decoration: none;
        font-size: 1rem;
        background-color: lightblue;
        border-color: darkgray;
        border-width: 1px;
        border-radius: 10px;
        border-style: solid;
        color: black;
        padding: 5px 10px;
        margin: 0px 10px;
    }
</style>
<h1 style="text-align: center; font-size: 2.5rem; margin-bottom: 20px;">Checking In to Crowbank</h1>
<div>
    <p>You are scheduled to bring in {{ record.email_pets }} at {{ record.email_start_time }}
        on {{ record.email_start_date.strftime("%d/%m/%Y") }}. </p>

        {% if text %}
            <div class="border border-solid p-3 m-3 small">Note: {{ text }}</div>
        {% endif %}

        {% if record.email_outstanding > 0 %}
        <p class="border border-dark bg-light m-2 p-2 text-center">We now require full payment upon arrival.<br>
            We accept both cash and cards.</p>
        {% else %}
        <p>Your booking is fully-paid - thank you!</p>
        {% endif %}
    <p>To save time at check in, please fill in the checkin forms linked here for your pets:</p>
    {% for pet in pets %}
        <a class="petButton" href="https://crowbank.co.uk/checkin-form/?bk_no={{ record.email_bk_no }}&pet_no={{ pet.no }}&pet_name={{ pet.name }}&vacc_req={% if pet.vacc_req %}Y{% else %}N{% endif %}&vet_req={% if pet.vet %}N{% else %}Y{% endif %}&spec={{ pet.species }}", target="_blank">
            {{ pet.name }}</a>
    {% endfor %}
    <div class="mt-3">
    <p>Please check your pets for fleas before arriving. </p>
    <p>
        <strong>We cannot accept pets with fleas.</strong>
    </p>
    </div>
    <br>
    <div class="mt-4">
        <span style="font-size: 0.75rem;">Booking #{{ record.email_bk_no }}</span>
    </div>
    {% if record.email_outstanding > 0 %}
    <hr class="my-4">
    <h4>Invoice Details</h4>
    {{ m.show_invoice(record.email_invoice, as_email=True) }}
{% endif %}

</div>
{% endblock body %}
