{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<div class="pt-3" style="background-color: #56C5D0">
    <div class="px-3 py-2" style="background-color: white">
        <h1 style="text-align: center; font-size: 3rem">Checking In to Crowbank</h1>
        <div style="font-size: 20px;">
            <p>You are scheduled to bring in {{ record.email_pets }} at about {{ record.email_start_time }}
                on {{ record.email_start_date.strftime("%d/%m/%Y") }}. </p>
            <p>Under the circumstances we are trying to minimize the use of our reception. We ask for your cooperation and understanding with the following new rules:</p>
            <ol>
                <li>Upon arrival, please ring the bell in reception, but then wait outside. Depending on the weather, you might find it more comfortable
                    to wait in your car.
                </li>
                <li>We will come and collect {{ record.email_pets }} and their belonging from you.</li>
                <li>To save time, please fill in the checkin forms linked here for your pets:</li>
                <li style="list-style-type: none">
                    {% for pet in pets %}
                        <a href="https://crowbank.co.uk/checkin-form/?bk_no={{ record.email_bk_no }}&pet_no={{ pet.no }}&pet_name={{ pet.name }}&vacc_req={{ pet.vacc_req }}&vet_req={{ pet.vet_req }}&spec={{ pet.spec_desc }}", target="_blank">
                            <button class="btn btn-primary btn-lg mt-5">{{ pet.name }}</button></a>
                    {% endfor %}
                </ul>
            </ol>
        </div>
    </div>
</div>
{% endblock body %}
