{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<h1 style="text-align: center; font-size: 2.5rem; margin-bottom: 20px;">Checking Out of Crowbank</h1>
<div>
    <p>You are scheduled to collect {{ record.email_pets }} at {{ record.email_end_time }}
        on {{ record.email_end_date.strftime("%d/%m/%Y") }}. </p>
        {% if text %}
        <div class="border border-solid p-3 m-3 small">Note: {{ text }}</div>
        {% endif %}

        {% if record.email_outstanding > 0 %}
        <div class="border border-solid border-dark text-white text-center bg-danger m-3 me-5 p-2" style="border-radius: 5px;">
            The balance outstanding on the booking is <strong>&pound;{{ "{:.2f}".format(record.email_outstanding) }}</strong> <br>
            We accept both cash and card payments.</div>
    {% else %}
        The booking has been paid in full - thank you!
        {% endif %}
</div>
<div>
    <span style="font-size: 0.75rem;">Booking #{{ record.email_bk_no }}</span>
</div>

{% if record.email_outstanding > 0 and not record.email_cashonly %}
<hr>
    <h4 class="mt-4">Invoice Details</h4>
    {{ m.show_invoice(record.email_invoice, as_email=True) }}
{% endif %}
{% endblock %}