{% macro show_rate(rate) %}
<td class="text-center">&pound;{{ '{:.2f}'.format(rate) }}</td>
{% endmacro %}

{% macro rate_table(r) %}
<style>
    .pricetable h2 {
        text-align: center;
    }
</style>
<table class="table table-striped table-bordered">
    <thead class="text-center table-dark">
        <tr>
            <th></th>
            <th colspan="2">Cat</th>
            <th colspan="2">Small Dog</th>
            <th colspan="2">Medium Dog</th>
            <th colspan="2">Large Dog</th>
            <th colspan="2">Deluxe</th>
        </tr>
        <tr>
            <th>Days</th>
            <th>Single</th><th>Double</th>
            <th>Single</th><th>Double</th>
            <th>Single</th><th>Double</th>
            <th>Single</th><th>Double</th>
            <th>Single</th><th>Double</th>
        </tr>

    </thead>
    <tbody>
        {% for (n, rates) in r.items() %}
        <tr>
            <td class="text-center">{{n}}</td>
            {{ show_rate(rates['cat'][0]) }}
            {{ show_rate(rates['cat'][1]) }}
            {{ show_rate(rates['dog small'][0]) }}
            {{ show_rate(rates['dog small'][1]) }}
            {{ show_rate(rates['dog medium'][0]) }}
            {{ show_rate(rates['dog medium'][1]) }}
            {{ show_rate(rates['dog large'][0]) }}
            {{ show_rate(rates['dog large'][1]) }}
            {{ show_rate(rates['deluxe'][0]) }}
            {{ show_rate(rates['deluxe'][1]) }}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endmacro %}


{% extends "base.html" %}

{% block body %}

<p>
    <a class="btn btn-primary" data-toggle="collapse" href="#current" role="button"
    aria-expanded="false" aria-controls="collapseExample">
      Current Rates (to 31/03/2023)
    </a>
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#future"
    aria-expanded="false" aria-controls="collapseExample">
      Future Rates (from 01/04/2023)
    </button>
  </p>

<div class="pricetable" id="current">
    <h2>Current Rates (to 31/03/2024)</h2>
    {{ rate_table(current) }}
</div>

<div class="pricetable" id="future">
    <h2>Future Rates (from 01/04/2024)</h2>
    Future Rates have not yet been set.
    <!--  rate_table(future) -->
</div>

{% endblock body %}
