{% import 'macros.html' as m %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/static/external/css/bootstrap.css">
    <link rel="stylesheet" href="/static/external/css/bootstrap-toggle.css">
    <link rel="stylesheet" href="/static/external/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/static/external/css/fas.css">
    <link rel="stylesheet" href="/static/crowbank.css">
    <link rel="stylesheet" media="print" href="/static/print.css">

    {% block head %} {% endblock head %}

    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type=text/javascript>
        urlParam = function(sParam)
        {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }

        function close_window(url) {
            var newWindow = window.open('', '_self', ''); //open the current window
            newWindow.close(url);
         }

        printAndExit = function() {
            p = urlParam('printPage')
            if (p == 'yes') {
                window.print();
                window.close();
            }
        }
    </script>
    <title>{% block title %}{% endblock title %}</title>
    
    </head>
    <body onload="printAndExit()">
    <div style="width: 930px;" class="border border-light m-0 p-0">
        {% block body %}
        {% endblock body %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="/static/external/js/jquery-3.4.1.js"></script>
    <script src="/static/external/js/bootstrap.bundle.js"></script>
    <script src="/static/external/js/jquery-confirm.min.js"></script>
    <script src="/static/external/js/fas.js"></script>
    <script src="/static/crowbank.js"></script>

    {% block scripts %}
    {% endblock scripts %}
</html>
