{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
    <h1 style="text-align: center; font-size: 2.5rem; margin-bottom: 20px;">Your Crowbank booking request</h1>
    <div>
        <p>You inquired about booking {{ record.email_pets }} at Crowbank between {{ record.email_start_date.strftime('%d/%m/%y') }} ({{ record.email_start_slot }})
            and {{ record.email_end_date.strftime('%d/%m/%y') }} ({{ record.email_end_slot }}).</p>
        <p>We do have a space available as of {{ record.email_now }}. The total charge for this booking would be 
            &pound;{{ "{:.2f}".format(record.email_outstanding) }} (see details below).
            If you would like to reserve your space,
            please press the button below to pay a &pound;{{ "{:.2f}".format(record.email_deposit) }} deposit.</p>
        <p><strong>The space will not be reserved until the deposit is paid.</strong></p>
        <p>If a space is no longer available, we will let you know and refund your deposit.</p>
    </div>
    <div class="text-center">
        <a href="{{ record.email_depositlink }}" target="_blank"><button class="payButton btn-block my-4">Pay Deposit</button></a>
    </div>
    <div>
        <span style="font-size: 0.75rem;">Ref #{{ record.email_bk_no }}</span>
    </div>

    <hr>
    <h5 class="text-center mt-4">Invoice Details</h5>
    {{ m.show_invoice(record.email_invoice, as_email=True) }}
{% endblock %}