{% extends "base.html" %}
{% block title %}New Dog Questionnaires{% endblock %}
{% block body %}

<div class="row">
    <div class="col-8 mt-3 mb-4"><h2>New Dog Questionnaires</h2></div>
    <div class="col-4 form-check align-middle mt-3">
        <input class="form-check-input" type="checkbox" value="0" id="show_all">
        <label class="form-check-label" for="show_all">Show All</label>
    </div>
</div>
<table class="table table-sm table-hover" style="font-size: 0.8rem;" id="questionnaire-table">
    <thead><th>#</th><th>First Visit</th><th>Customer</th><th>Dog</th><th>Status</th><th>Visit</th><th>Behaviour</th><th>Strangers</th><th>Health</th></thead>
    <tbody class="searched">
        {% for questionnaire in questionnaires %}
            <tr class="table-row {% if questionnaire.ndf_open %}questionnaire-open{% else %}questionnaire-closed{% endif %}" data-href="{{ url_for('new_dog_questionnaire', ndf_no=questionnaire.ndf_no)}}">
                <td>{{ questionnaire.ndf_no }}</td>
                <td>{% if questionnaire.ndf_first_date %}{{ questionnaire.ndf_first_date.strftime('%a %d/%m') }}{% endif %}</td>
                <td><a href="{{ url_for('show_customer', customer_desc=questionnaire.ndf_cust_no) }}">{{ questionnaire.ndf_surname }}</a></td>
                <td><a href="{{ url_for('show_pet', pet_no=questionnaire.ndf_pet_no) }}" target="_blank">{{ questionnaire.ndf_pet_name }} ({{ questionnaire.ndf_breed_desc }})</a></td>
                <td>{{ questionnaire.ndf_status }}</td>
                <td>{% if questionnaire.ndf_visit_no %}
                        <a href="{{ url_for('show_visit', visit_no=questionnaire.ndf_visit_no) }}" target="_blank">
                    {% endif %}
                    {{ questionnaire.ndf_visit_desc }}
                    {% if questionnaire.ndf_visit_no %}</a>{% endif %}
                </td>
                <td>{{ m.more_text(questionnaire.ndf_behaviour, 50, 'behaviour', questionnaire.ndf_no) }}</td>
                <td>{{ m.more_text(questionnaire.ndf_strangers, 50, 'strangers', questionnaire.ndf_no) }}</td>
                <td>{{ m.more_text(questionnaire.ndf_health, 50, 'health', questionnaire.ndf_no) }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        const table = $('#questionnaire-table').DataTable({
            pageLength: 25,
            initComplete: function() {
                // Apply the filter on initialization
                this.api().column(4).search('open').draw()
            }      
        })

        inject_column_filter(table, 4)
    })

/*
    function filterRequests() {
        var showAll = $("#show_all").prop('checked');
        var value = '';
        if ( $("#search").length ) {
            value = $("#search").val().toLowerCase();
        }
    
        $(".searched tr").filter(function() {
            $(this).toggle(
                $(this).text().toLowerCase().indexOf(value) > -1 &&
                (showAll || $(this).hasClass('questionnaire-open'))
            )
        })
    }
    $(document).ready(function(){
        $("#search").on("keyup", filterRequests);
        $("#show_all").prop('checked', false);
        $('#show_all').change(filterRequests);
        $(".search-toggle").change(filterRequests);
        $("#search").focus();
        filterRequests();
    });
*/  
</script>
{% endblock scripts %}