{% extends "base.html" %}
{% block title %}New Dog Questionnaire for {{ questionnaire.ndf_pet_name }} {{ questionnaire.ndf_surname }}{% endblock %}
{% block body %}
<style>
    .pet-visit-button {
        width: 120px;
        font-weight: bold;
        border-width: 2px;
    }
</style>
<h1 class="narrow text-center mb-5">New Dog Questionnaire for {{ questionnaire.ndf_pet_name }} {{ questionnaire.ndf_surname }}</h1>
<table class="narrow table table-sm">
    <tr><td><strong>Submitted</strong></td><td>{{ questionnaire.ndf_date_created.strftime('%d/%m/%y') }}</td></tr>
    <tr><td><strong>Status</strong></td><td id="ndf-iconstatus">{{ questionnaire.ndf_status }}</td></tr>
    <tr><td><strong>Customer</strong></td>
        <td><a href="{{ url_for('show_customer', customer_desc=questionnaire.ndf_cust_no) }}" target=>{{ questionnaire.ndf_surname }}</a></td>
    </tr>
    <tr><td><strong>Pet</strong></td>
        <td><a href="{{ url_for('show_pet', pet_no=questionnaire.ndf_pet_no) }}">{{ questionnaire.ndf_pet_name }} ({{ questionnaire.ndf_breed_desc }})</a></td>
    </tr>
    <tr><td><strong>Booking</strong></td>
        <td>
            {% if questionnaire.ndf_bk_no %}
            <a href="{{ url_for('show_booking', bk_no=questionnaire.ndf_bk_no) }}" target="_blank">{{questionnaire.ndf_bk_no}}</a> starting {{ questionnaire.ndf_first_date.strftime('%d/%m/%y') }}
            {% else %}None{% endif %}</td></tr>
    <tr><td><strong>Visit</strong></td>
        <td>
            {% if questionnaire.ndf_visit_no %}
                <a href="{{ url_for('show_visit', visit_no=questionnaire.ndf_visit_no) }}" target="_blank">
            {% endif %}
            {{ questionnaire.ndf_visit_desc }}
            {% if questionnaire.ndf_visit_no %}</a>{% endif %}
        </td></tr>
</table>

<div class="crowbank-form-group">
    <div class="form-group">
        {{ m.send_email_a(questionnaire.ndf_cust_email, 'Your New Dog Questionnaire', email_subject) }}
        <button type="button" class="btn btn-info" id="email_customer">Email Customer</button></a>
    </div>
    <div class="form-group mt-3">
        <label>Visit</label>
        <div class="ms-4 btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="visit" value="must" id="must-visit" autocomplete="off" {% if questionnaire.ndf_pet_visit == 'must' %}checked{% endif %}>
            <label class="pet-visit-button btn btn-outline-danger" for="must-visit">Must</label>
          
            <input type="radio" class="btn-check" name="visit" value="may" id="may-visit" autocomplete="off" {% if questionnaire.ndf_pet_visit == 'may' %}checked{% endif %}>
            <label class="pet-visit-button btn btn-outline-warning" for="may-visit">May</label>
          
            <input type="radio" class="btn-check" name="visit" value="no" id="no-visit" autocomplete="off" {% if questionnaire.ndf_pet_visit == 'no' %}checked{% endif %}>
            <label class="pet-visit-button btn btn-outline-success" for="no-visit">No</label>
          
            <input type="radio" class="btn-check" name="visit" value="na" id="na-visit" autocomplete="off" {% if not questionnaire %}checked{% endif %}>
            <label class="pet-visit-button btn btn-outline-dark" for="na-visit">N/A</label>
        </div>
    </div>
    <div class="form-group mt-3">
        <label for="warning">Warning</label>
        <input type="text" class="form-control" name="warning" id="warning" value="{{ questionnaire.ndf_warning }}">
    </div>
    <div class="form-group mt-3">
        <label for="kennel-notes">Kennel Notes</label>
        <textarea class="form-control" id="kennel-notes" rows="3">{% if notes %}{{ notes|safe }}{% endif %}</textarea>
    </div>
    <div class="form-group mt-3">
        <button type="button" class="btn btn-primary" id="submit-questionnaire-review">Submit</button>
    </div>
    <div class="border border-dark m-3 p-3 d-none" id="send-result"></div>
</div>

<div id="questionnaire" class="narrow">
    <h2>Questionnaire Answers</h2>
    {% include 'form_output.html' %}
</div>
{% endblock %}
{% block scripts %}
<script>
    const ndf_no = {{ questionnaire.ndf_no }}
    $(document).ready(function() {
        $('#submit-questionnaire-review').click(() => {
            const notes = $('#kennel-notes').val()
            const visit = $("input[name='visit']:checked").val()
            const warning = $('#warning').val()

            $('#send-result').removeClass('d-none')
            $('#send-result').html('Updating...')

            const url = '/_update_questionnaire'
            $.getJSON($SCRIPT_ROOT + url, {
                ndf_no: ndf_no,
                notes: notes,
                visit: visit,
                warning: warning
            }, function(data) {
                $('#send-result').html(data.html)
                $('#ndf-status').text('reviewed')
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            });
        }
    )
    })
</script>
{% endblock scripts %}