{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<h1 style="text-align: center; font-size: 2rem; margin-bottom: 20px;">Your Crowbank Booking Request</h1>
<div>
    <p>
    <p>You have submitted a booking request for {{ record.email_pets }} between {{ record.email_start_date.strftime('%d/%m/%y') }}
    and {{ record.email_end_date.strftime('%d/%m/%y') }}.</p>

    <p>Unfortunately, we don't current have availability for those dates. </p>
    <p>At this point, we are not in a position to confirm your request.</p>
    <p>We have placed you on our waiting list and will get in touch if and when a space does become available. You might want to make alternative plans in the meantime.</p>
    <p>The busy periods of Easter, July, and, later in the year, September and October, tend to fill quickly. This year we have seen exceptional demand due to the apparent wind-down of Covid-related travel restrictions. </p>
    <p>We do hope we will be able to accommodate you in the future and suggest you consult our <a target="_blank" href="crowbank.co.uk/availability">boarding availability  calendar</a> before finalizing your travel plans to avoid disappointment. </p>
    <p>If you have already received an email confirming your booking, please ignore this email.</p>
    <p>Regards,</p>
    <p>Eran</p>

    <div class="mt-4">
        <span style="font-size: 0.85rem;">Request #{{ record.email_key }}</span>
    </div>
</div>
{% endblock body %}
