{% extends "base.html" %}
{% block title %}Request #{{ req.fd_no }} by {{ req.fd_surname }}{% endblock %}
{% block body %}
<div class="d-none" id="fd_no">{{ req.fd_no }}</div>
<div class="d-none" id="email">{{ req.fd_email }}</div>
<h3 class="text-center mb-5">Request #{{ req.fd_no }} by 
    {% if req.fd_cust_no %}
    <a href="{{ url_for('show_customer', customer_desc=req.fd_cust_no) }}">{{ req.fd_surname }}</a>
    {% else %}
    {{ req.fd_surname }} ({{ req.fd_email}})
    {% endif %}
</h3>
<table class="table table-sm">
<tr><td><strong>Submitted</strong></td><td>{{ req.fd_date_created.strftime("%d/%m/%Y %H:%M") }}</td></tr>
<tr><td><strong>Email</strong></td><td><a target="_blank" href="https://mail.google.com/mail/u/0/#search/{{ req.fd_email | urlencode }}">{{ req.fd_email }}</a></td></tr>
<tr><td><strong>Dates</strong></td><td>{{ req.fd_period }}</td></tr>
<tr><td><strong>Pets</strong></td><td>
    {% for pet in pets %}
    {{ pet | safe }}<br>
    {% endfor %}
</td></tr>
<tr><td><strong>Status</strong></td><td>{{ req.fd_status }}{% if req.fd_be_expiry and req.fd_status == 'hold' %} until {{ req.fd_be_expiry.strftime("%d/%m/%Y") }}{% endif %}</td></tr>
{% if req.fd_bk_no %}
<tr><td><strong>Booking</strong></td><td>
    <a href="{{ url_for('show_booking', bk_no=req.fd_bk_no) }}"  data-toggle="tooltip" data-html=true title="{{ req.fd_tooltip }}">{{ req.fd_bk_no }}</a></td></tr>
{% endif %}
{% if issues %}
    <tr><td><strong>Issues</strong></td>
        <td>
            <ul class="list-group list-group-flush">
                {% for issue in issues %}
                    <li class="list-group-item">{{ issue }}</li>
                {% endfor %}
            </ul>
        </td></tr>
{% endif %}
{% if req.fd_comments %}
        <tr><td><strong>Comment</strong></td>
            <td>
                {{ comment | safe }}
            </td>
        </tr>
{% endif %}
{% if req.fd_visit %}
<tr><td><strong>Visit Requested</strong></td>
    <td></td>
</tr>
{% endif %}
</table>
<div class="crowbank-form-group">
    <div class="form-group">
        <label for="reply-text" class="form-label">Email Customer</label>
        <textarea rows="7" type="text" class="form-control mb-3" id="reply-text"></textarea>
        <div class="form-group">
            <label for="address" class="form-label">Address</label>
            <input type="text" class="form-control" id="address" value="{{ req.fd_email }}">
        </div>
        <div class="d-flex justify-content-between">
            <button class="btn btn-primary"
                data-bkno="{{ booking.no if booking else req_no }}"
                data-type="{{ 'B' if booking else 'R' }}"
                id="send-reply">Send</button>

                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="markas">
                        Template...
                    </button>
                    <div class="dropdown-menu" id="email-template"><ul>
                        {% for template in email_templates %}
                            <li><a href="#" class="email-template" 
                                data-id="{{ template.mail_no }}"
                                data-subject="{{ template.mail_subject }}"
                                data-content="{{ template.mail_content }}">
                                {{ template.mail_short_desc }}
                            </a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        <div class="border border-dark m-3 p-3 d-none bg-light" id="send-result"></div>
    </div>
</div>
    {% if booking_form.cust_no.data and not req.fd_bk_no and not missing_pets %}
    <h2 style="text-align: center;" class="mt-4">Book</h2>
    
    {{ m.show_booking_form(booking_form, 0, pet_data, rts, do_deluxe, do_trial, do_daycare,
        do_separate, availability_url, start_date, end_date, 0, req.fd_email,
        """Regarding your Crowbank booking request:

""", 3, req.fd_no) }}
{% endif %}
<div class="crowbank-form-group">
    <div class="form-group">
        <div class="dropdown">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" id="markas">
                Mark As...
            </button>
            <div class="dropdown-menu" id="statuschange" aria-labelledby="markas">
                {% for status in request_status_list %}
                    <a class="dropdown-item" href="{{ url_for('mark_request', fd_no=req.fd_no, status=status[0]) }}">{{ status[1] }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% if not req.fd_bk_no %}
    <div class="crowbank-form-group">
        <form autocomplete="off" autofill="off" action="" method="POST" class="form">
            {{ change_customer_form.hidden_tag() }}
            <div class="form-group">
                {{ change_customer_form.cust_no.label(class_="form-label") }}
                {{ change_customer_form.cust_no(class_="form-control") }}
            </div>
            {{ change_customer_form.change(class_="btn btn-info") }}
        </form>
    </div>
{% endif %}

<div>
    {{ req.fd_html_body | safe }}
</div>
{% endblock %}

{% block scripts %}
    {{ m.book_script() }}
    <script>
        $(document).ready(function() {
            $('#send-reply').click(() => {
                $('#send-result').removeClass('d-none')
                $('#send-result').html('Sending email...')
                const reply_text = $('#reply-text').val()
                const fd_no = $('#fd_no').text()
                const email = $('#address').val()
    
                $.getJSON($SCRIPT_ROOT + '/_send_email', {
                    view: 'vwemail_request_response',
                    key_no: fd_no,
                    key_type: 'R',
                    address: email,
                    text: reply_text,
                    is_text: 1
                }, function(data) {
                    $('#send-result').html(data.html)
                })
                .fail(function(jqXHR, textStatus, errorThrown) {
                    update_status(textStatus, jqXHR.responseText)
                })
            })

            /*
            var dropdown = $("#statuschange")
            $.each(result, function() {
                dropdown.append($("<option />").val(this.ImageFolderID).text(this.Name))
            })
            */
        })
        </script>
{% endblock scripts %}