{% extends "base.html" %}
{% block title %}Open Requests{% endblock %}
{% block body %}
<div class="row">
    <div class="col-8 mt-3 mb-4"><h2>Booking Requests</h2></div>
    <div class="col-4 form-check align-middle mt-3">
        <input class="form-check-input" type="checkbox" value="0" id="show_all">
        <label class="form-check-label" for="show_all">Show All</label>
    </div>
</div>

<table class="table table-sm" id="request-table">
    <thead><th>#</th><th>Created</th><th>Customer</th><th>Dogs</th><th>Cats</th><th>Period</th><th>Status</th><th>Availability</th><th>Prior Bookings</th></thead>
    <tbody class="searched">
        {% for request in requests %}
            <tr class="{% if request.fd_open %}request-open{% else %}request-closed{% endif %}"">
                <td><a href="{{ url_for('show_request', fd_no=request.fd_no)}}">{{ request.fd_no }}</a></td>
                <td>{{ request.fd_date_created }}</td>
                {% if request.fd_cust_no %}
                <td><a href="{{ url_for('show_customer', customer_desc=request.fd_cust_no) }}">{{ request.fd_surname }}</a></td>
                {% else %}
                <td>{{ request.fd_surname }} ({{ request.fd_email }})</td>
                {% endif %}
                <td>{% if request.fd_dogs %}X{% endif %}</td>
                <td>{% if request.fd_cats %}X{% endif %}</td>
                <td>{{ request.fd_period }}</td>
                <td>{{ request.fd_status }}</td>
                <td class="text-center avail_{{ request.fd_availability }}">
                    {% if request.fd_availability == 0 %}Good{% elif request.fd_availability == 1 %}Limited{% else %}No{% endif %} Availability
                </td>
                <td class="text-center">{{ request.fd_prior_bookings }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function() {
        let isTableInitialized = false
    
        const table = $('#request-table').DataTable({
            pageLength: 25,
            order: [[1, 'desc']],
            initComplete: function() {
                isTableInitialized = true
                this.api().draw(false)  // Trigger an initial draw
            },
            drawCallback: function() {
                if (!isTableInitialized) {
                    return
                }
                
                const api = this.api()
    
                if ($('#show_all').is(':checked')) {
                    api.rows().nodes().each(function(row) {
                        $(row).show()
                    })
                } else {
                    api.rows().nodes().each(function(row) {
                        if (!$(row).hasClass('request-open')) {
                            $(row).hide()
                        } else {
                            $(row).show()
                        }
                    })
                }
            }
        })
    
        inject_column_filter(table, 6)
        
    $('#show_all').change(function() {
        $('#request-table').DataTable().draw(false)  // Trigger a re-draw
    })
    })
</script>
{% endblock scripts %}