{% if as_email %}{% extends 'email_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<style>
    .confirmButton {
        text-decoration: none;
        font-size: 1.2rem;
        background-color: lightblue;
        border-color: black;
        border-width: 2px;
        border-radius: 3px;
        border-style: solid;
        color: black;
        padding: 15px 50px;
        margin: 0px 30px;
    }
</style>
<h1 style="text-align: center; font-size: 2.5rem; margin-bottom: 20px;">Your Crowbank Booking Request</h1>
<div>
    <p>We received your booking request for {{ record.email_pets }} from {{ record.email_start_date.strftime("%d/%m/%Y") }} ({{ record.email_start_slot }}) until
        {{ record.email_end_date.strftime("%d/%m/%Y") }} ({{ record.email_end_slot }}).</p>
        {{ text }}
</div>
{% endblock body %}
