<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<%!
    import decimal
%>
<html><head>
    <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type"><title>Booking Request Response</title>
    <style type="text/css">
        body {
        font-family: Calibri;
        }
        .head1 {
            font-size: 14px;
            font-weight: bold;
            background-color:#EEE;
            border-bottom:1px solid #DFDFDF;
            padding:7px 7px;
        }
        .head2 {
            font-size: 12px;
        }
        </style>        
</head>
    
    <body style="width: 800px;">
        <div>
            <table style="margin-bottom: 40pt; border-style: solid; border-width: 1pt" width="99%" border="0" cellpadding="10" cellspacing="0" bgcolor="#EAEAEA">
                    <tr>
                        <td colspan="3" class="head1">Form #${fd_no}</td>
                   </tr>
                   <tr bgcolor="#EAF2FA">
                    <td colspan="4">
                        <font class="head2" ><strong>Known Issues</strong></font>
                    </td>
               </tr>
               <tr bgcolor="#FFFFFF">
                    <td width="20">&nbsp;</td>
                    <td colspan="3" class="head2">
                            <ul class='bulleted'>
% for issue in issues:
                                <li>${issue}</li>
% endfor
                            </ul>                            
                    </td>
               </tr>
               <tr bgcolor="#EAF2FA">
                <td colspan="4" class="head2">
                    <strong>Action</strong>
                </td>
           </tr>
           <tr bgcolor="#FFFFFF">
                <td width="20">&nbsp;</td>
                <td class="head2">
                        <a href='http://localhost:5000/request/${fd_no}' target="_blank"><button type="button">View Online</button></a>
                </td>
                <td class="head2">
                        <a href='mailto:${email}?subject=${subject}&body=${body}' target="_blank"><button type="button">Reply to Customer</button></a>
                </td>
                <td class="head2">
% if fatal == 1:
                        <button type="button">Broken Form - Cannot Process Request</button>
% else:
                        <a href='http://hp-server/book/${fd_no}' target="_blank"><button type="button">Process Request (not yet functional)</button></a>
% endif
                    </td>
           </tr>
        </table>
        </div>
        ${html}
	</body>
</html>