{% extends "printbase.html" %}
{% block title %}{{ pet.name }} Run Card{% endblock title %}
{% block body %}
<div class="mt-3">
    <table class="table table-borderless align-middle my-1" width="100%">
        <tr>
            <td style="line-height: 1.8em; width: 35%;" class="border">
                <h1>{{ pet.name }}</h1>
                {{ pet.breed.description }} ({{pet.sex}}{% if pet.neutered %}, {% if pet.neutered == 'Y' %}N{% else %}I{% endif %}){% endif %}<br>
                {{ pet.customer.surname }}<br>
                <small>Age: {{pet.age}}</small>
        </td>
        <td style="width: 35%; line-height: 1.8em;" class="border">
            <table class="table table-borderless"><tr><td><span style="font-size: 1.0em; margin-right: 10px;">Arr</span></td>
            <td><span style="font-size: 1.5em; text-align: right;">{{ booking.start_date.strftime("%a %d/%m %H:%M") }}</span></td></tr>
            
            <tr><td><span style="font-size: 1.0em; margin-right: 10px;">Dep</span></td>
            <td><span style="font-size: 1.5em; text-align: right;">{{ booking.end_date.strftime("%a %d/%m %H:%M") }}</span></td></tr>
        </table>
    </td>
        <td style="width: 30%;" class="border">
                <table class="table align-middle table-borderless">
                    <tr ><td style="font-size: 1.2em; font-weight: bold; line-height: 1em;">WARNINGS</td></tr>
                    <tr><td style="font-size: 1em;">
                        {{ pet.warning }}
                    </td></tr>
                </table>
            </td>
        </tr>
        <tr>
        </tr>
        <tr><td style="vertical-align: center;" colspan="2">Vet: {{pet.vet_practice_name}}</td>
            <td style="vertical-align: top; text-align: center; color: #eee; font-size: 4em; font-weight: bold;">
                M
            </td>
        </tr>
</table>
</div>
<div class="border border-dark" style="background-color: light-grey; height: 200px;">
    Space Holder
</div>
<div class="">
    <div class="align-middle border border-dark" style="height: 200px;">
        <div style="background-color: black" class="p-0 m-0">
            <h5 style="color: white;" class="p-2">Food</h5>
        </div>
        <div class="m-2 p-2">
            {{ petinfo.feeding }}
        </div>
    </div>

    <div class="align-middle border border-dark mt-4" style="height: 200px;">
        <div style="background-color: black" class="p-0 m-0">
            <h5 style="color: white;" class="p-2">Health</h5>
        </div>
        <div class="m-2 p-2">
            {{ petinfo.health }}
        </div>
    </div>

    <div class="align-middle border border-dark mt-4" style="height: 200px;">
        <div style="background-color: black" class="p-0 m-0">
            <h5 style="color: white;" class="p-2">Behaviour/Other</h5>
        </div>
        <div class="m-2 p-2">
            {{ petinfo.behaviour }}
        </div>
    </div>

    <div class="align-middle border border-dark mt-4" style="height: 200px;">
        <div style="background-color: black" class="p-0 m-0">
            <h5 style="color: white;" class="p-2">Inventory</h5>
        </div>
        <div class="m-2 p-2">
            {{ petinfo.inventory }}
        </div>
    </div>
</div>
{% endblock %}