{% extends "base.html" %}
{% block title %}Run View{% endblock %}
{% block head %}
<style>
    .runview-O {
        background-color: cornsilk !important;
    }

    .runview-V {
        background-color: lightblue!important;
    }

    .runview-B {
        background-color:lightgreen!important;
    }

    .runview-D {
        background-color: lightpink!important;
    }
    
    .vsmall {
        font-size: 0.75rem;
    }
    
    .ro-table a {
        color: black!important
    }
</style>
{% endblock %}
{% block body %}
<div class="d-none" id="date-range-init">{{ date_range }}</div>
<div class="crowbank-form-group noprint">
    <div class="form-group">
        <label for="date-range" class="form-label">Date Range</label>
        <input type="text" class="form-control date-range" id="date-range" value="{{ date_range }}">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="species" id="dog" {% if species=='dog' %}checked{% endif %}>
        <label class="form-check-label" for="dog">
          Kennels
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="species" id="cat" {% if species=='cat' %}checked{% endif %}>
        <label class="form-check-label" for="flexRadioDefault2">
          Cattery
        </label>
      </div>
      <div class="mt-3">
        <button id="refresh" class="btn btn-primary">Refresh</button>
        <button id="availability" class="btn btn-success">Availability</button>
      </div>
</div>
<div id="runview"></div>
{% endblock %}
{% block scripts %}
<script>
    function refresh_runview() {
        let species = $("input[name='species']:checked").attr('id');
        let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/;
        let s = $('#date-range').val();
        let a = r.exec(s);

        $('#runview').html('Loading...');
        $.getJSON($SCRIPT_ROOT + '/_runview', {
            start_date: a[1],
            end_date: a[2],
            species: species
        }, function(data) {
            $('#runview').html(data.html);
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText);
        });
    }
    $('document').ready(function () {
        $('#date-range').change(refresh_runview);
        $("input[name='species']").change(refresh_runview);
        $('#refresh').click(refresh_runview);
        $('#availability').click(function() {
            var species = $("input[name='species']:checked").attr('id');
            let r = /(\d\d\/\d\d\/\d\d\d\d) - (\d\d\/\d\d\/\d\d\d\d)/;
            let s = $('#date-range').val();
            let a = r.exec(s);

            var url = $SCRIPT_ROOT + '/availability?start_date=' + a[1] + '&end_date=' + a[2] + '&species=' + species
            $(location).attr('href', url);
        })
        $('#date-range').val($('#date-range-init').text());
        refresh_runview();
    });
</script>
{% endblock %}
