{% extends "base.html" %}
{% block title %}Search Results{% endblock %}
{% block body %}
<div class="text-center">
    <h2>
        Search Results
    </h2>
</div>

<div>
    <table class="table table-striped">
        <thead>
            <th>Priority</th>
            <th>Customer</th>
            <th>Pets</th>
            <th>Booking</th>
            <th>Visit</th>
        </thead>
        <tbody>
            {% for res in results %}
                <tr>
                    <td>{{ res.priority_desc }}</td>
                    <td><a href="{{ url_for('show_customer', customer_desc = res.cust_no) }}">
                        {% if res.cust_forename %}{{ res.cust_forename }} {% endif %}{{ res.cust_surname }}</a>
                    </td>
                    <td>
                        {% for pet in res.pets %}
                            <a href="{{ url_for('show_pet', pet_no=pet.no) }}">{{ pet.description }}</a>
                        {% endfor %}
                    </td>
                    <td>
                        {% if res.bk_no %}
                            <a href="{{ url_for('show_booking', bk_no=res.bk_no) }}">{{ res.bk_no }}</a>
                            <span class="d-none d-md-inline">({{ res.bk_start_date.strftime('%d/%m') }} - {{ res.bk_end_date.strftime('%d/%m') }})</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if res.visit_no %}
                            <a href="{{ url_for('show_visit', visit_no=res.visit_no) }}">{{ res.visit_no }}</a>
                            <span class="d-none d-md-inline">( {{ res.visit_date.strftime('%d/%m') }})</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}