<table class="table table-striped">
    <thead><th>Start</th><th>SQL</th><th>Args</th><th>Elapsed</th></thead>
    <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event[0].strftime('H:M:S') }}</td>
                <td>{{ event[1] }}</td>
                <td>
                    {% for arg in event[2] %}
                        {{ arg }}<br>
                    {% endfor %}
                </td>
                <td>{{ event[3] }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>