{% extends "base.html" %}
{% block title %}SQL Profiler{% endblock %}
{% block body %}
<div class="crowbank-form-group">
    <div class="form-group d-flex">
        <button class="btn btn-primary me" id="start">Start</button>
        <button class="btn btn-primary" id="end">End</button>
    </div>
    <div id="events">
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    function start_profiling() {
        $.getJSON($SCRIPT_ROOT + '/_start_sql_profiler', {
            }, function(data) {
                $('#events').text('Started')
                get_profiling_status()
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        }

    function end_profiling() {
        $.getJSON($SCRIPT_ROOT + '/_end_sql_profiler', {
        }, function(data) {
            $('#events').html(data.events)
            get_profiling_status()
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText)
        })
    }

    function get_profiling_status() {
        $.getJSON($SCRIPT_ROOT + '/_sql_profiler_status', {
        }, function(data) {
            const profiler_status = data.status
            $('#start').prop('disabled', profiler_status)
            $('#end').prop('disabled', !profiler_status)
        })
    }

    $(document).ready(function() {
        $('#start').click(start_profiling)
        $('#end').click(end_profiling)
        get_profiling_status()
    })
</script>
{% endblock %}