{% extends "base.html" %}
{% block title %}Starters{% endblock %}
{% block body %}
    <h1>Active Starters</h1>
    {% if not starters %}
        <h2>All Starter Forms have been processed</h2>
    {% else %}
        <h2>New Unprocessed Starter Forms</h2>
        <div class="border p-3 m-3" style="max-height: 80%; ">
            <table class="table table-sm fixed_header clickable_table" style="table-layout: fixed;">
            <thead>
                <th>#</th><th>Name</th><th>Date Submitted</th><th>Email</th><th>Phone</th>
            </thead>
            <tbody>
            {% for starter in starters %}
            <tr>
                <td width="10%">{{ starter.no }}</td>
                <td width="45%"><a href="{{ url_for('new_employee_from_starter', sf_no=starter.no) }}">{{ starter.name }}</a></td>
                <td width="15%">{{ starter.date_created.strftime('%d/%m %H:%M') }}</td>
                <td width="15%">{{ starter.email }}</td>
                <td width="15%">{{ starter.telno_mobile }}</td>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
{% block scripts %}
<script src="/static/customers.js"></script>
{% endblock %}