{% extends "base.html" %}
{% block title %}Test Page{% endblock %}

{% block head %}
<style>

</style>
{% endblock %}

{% block body %}
<main>
<h1>Occupancy Block Test</h1>
{% for step in steps %}
<section>
    <h2>Step {{step.step}}</h2>
    <p>Move: {{step.step_desc}}</p>
    <table class="table">
        <thead>
            <th>No</th><th>id</th><th>Run</th><th>Start Slot</th><th>End Slot</th><th>Pets</th><th>Deleted</th><th>Dirty</th>
        </thead>
        <tbody>
            {% for b in step.blocks %}
            <tr>
                <td>{{ b.no }}</td>
                <td>{{ b.id }}</td>
                <td>{{ b.run }}</td>
                <td>{{ b.start_slot }}</td>
                <td>{{ b.end_slot }}</td>
                <td>{{ b.pets | safe }}</td>
                <td>{% if b.deleted %}X{% endif %}</td>
                <td>{% if b.dirty %}X{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</section>
{% endfor %}
</main>
{% endblock %}

{% block scripts %}
<script>
</script>
{% endblock %}
