{% extends "base.html" %}
{% block title %}Timesheet for {{ start_date.strftime("%d/%m/%y") }} to {{ end_date.strftime("%d/%m/%y") }} {% endblock title %}
{% block head %}
<style>
    .draggable {
        cursor: grab;
    }

    .ui-state-hover {
        background-color: lightblue;
    }

    .over-xx {
        background-color: #92D050;
    }

    .over-x {
        background-color: #C6E0B4;
    }

    .over {
        background-color: #E2EFDA;
    }

    .under {
        background-color: #FCE4D6;
    }

    .under-x {
        background-color: #FF9999;
    }

    .under-xx {
        background-color: #FF0000;
    }

    #revenue-and-wages {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #controls {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-bottom: 20px;
        margin-right: 20px;
    }

    #staff-summary {
        flex-grow: 1;
        margin-left: 10px;
        background-color: white;
        border: 1px solid #ccc;
        padding: 10px;
        height: fit-content;
    }

    #publisher {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 15px;
    }

    #publisher.published {
        background-color: #92D050;
    }

    #publisher.unpublished {
        background-color: white;
    }

    #publisher.dirty {
        background-color: goldenrod;
    }

    .published #publish-buttons {
        display: none;
    }

    #publisher-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    #publisher-text {
        font-size: small;
    }
</style>
{% endblock %}
{% block body %}

<div class="row pb-3 pt-4">
    <div class="col-3">
        <a href="{{ url_for('show_timesheet', date_arg=(start_date | prev_week).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-left"></i></a></div>
    <div class="col-6">
        <h1 class="text-center">Timesheet for {{ start_date.strftime("%d/%m/%y") }} to {{ end_date.strftime("%d/%m/%y") }}</h1>
    </div>
    <div class="col-3 text-end">
        <a href="{{ url_for('show_timesheet', date_arg=(start_date | next_week).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-right"></i></a></div>
</div>

<div class="d-flex">
    <div id="controls">
        <div id="revenue-and-wages" class="p-2 {{ ratioClass }}">
            {% if current_user.is_authenticated and current_user.role >= g.roles.owner %}
                <div class="rw-item">
                    <span class="me-4"><strong>Revenue: </strong>&#163;<span id="revenue">{% if revenue %}{{ '{:,.2f}'.format(revenue) }}{% else %}0.00{% endif %}</span></span>
                </div>
                <div class="rw-item">
                    <span class="me-4"><strong>Wages: </strong>&#163;<span id="wages">{{ '{:,.2f}'.format(wages) }}</span></span>
                </div>
                <div class="rw-item">
                    <span class="me-4"><strong>Ratio: </strong><span id="ratio">{{ '{:.1f}'.format(ratio) }}</span>%</span>
                </div>
            {% else %}
                <div class="rw-item">
                    <span id="ratioDesc">{{ ratioDesc }}</span> Spend
                </div>
            {% endif %}
            </div>
        <div id="publisher">
            <div id="publisher-text"></div>
            <div id="publish-buttons">
                <button class="btn btn-success m-1" id="publish">Publish</button>
                <button class="btn btn-danger m-1" id="revert">Revert</button>
            </div>
        </div>
    </div>
</div>
<hr/>
<div class="d-flex">
<table class="table">
    <thead>
        <th width="9%"></th>
        {% for d in dates.values() %}
            <th width="12%" class="text-center"><a href="{{ url_for('home_page', date_arg=d.strftime('%d-%m-%y')) }}" target="_blank">{{ d.strftime('%a<br>%d/%m') | safe }}</a></th>
        {% endfor %}
    </thead>
    <tbody id="occupancy-summary" style="font-size: 1rem; text-align: center;">
        <tr>
            <td>
                <table class="table table-sm">
                    <tr><td>Dogs</td><td>Cats</td></tr>
                    <tr><td>Daycare</td><td>AM/PM</td></tr>
                    <tr><td>Ins/Outs</td><td>Visits</td></tr>
                    <tr><td>Required</td><td>Actual</td></tr>
                </table>
            </td>
            {% for d in dates.values() %}
                <td><table class="table table-sm">
                    <tr><td>{{ kennel_inv[d].morning }}</td><td>{{ cattery_inv[d].morning }}</td></tr>
                    <tr><td>{{ kennel_inv[d].am_day }}</td><td>{{ kennel_inv[d].pm_day }}</td></tr>
                    <tr><td>{{ summary[d].ins }}/{{ summary[d].outs }}</td><td>{{ summary[d].visits }}</td></tr>
                    <tr id="{{ d.strftime('%d-%m-%Y') }}-staff-tr" class="{{ summary[d].staff_class }}">
                        <td id="{{ d.strftime('%d-%m-%Y') }}-required">{{ "%.1f"|format(summary[d].req_staffing) }}</td>
                        <td id="{{ d.strftime('%d-%m-%Y') }}-actual-staff">{{ summary[d].staff }}</td>
                    </tr>
                </table></td>
            {% endfor %}            
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td></td>
            {% for d in dates.keys() %}
                <td>
                </td>
            {% endfor %}
        </tr>
    </tbody>
    <tbody id="employees">
        <tr id="working">
            <td><span class="spn-left">Staff</span></td>
            {% for d in dates.keys() %}
                <td data-date="{{ dates[d].strftime('%d-%m-%Y') }}" data-status="XX" class="emp-bucket" id="{{ dates[d].strftime('%d-%m-%Y') }}-w">
                    {{ emps[d].working | safe }}
                </td>
            {% endfor %}
        </tr>
        <tr id="available">
            <td>Available</td>
            {% for d in dates.keys() %}
                <td data-date="{{ dates[d].strftime('%d-%m-%Y') }}" data-status="  " class="emp-bucket" id="{{ dates[d].strftime('%d-%m-%Y') }}-a">
                    {{ emps[d].available | safe }}
                </td>
            {% endfor %}
        </tr>
        <tr id="unavailable">
            <td>Unavailable</td>
            {% for d in dates.keys() %}
            <td data-date="{{ dates[d].strftime('%d-%m-%Y') }}" data-status="UU" class="emp-bucket"  id="{{ dates[d].strftime('%d-%m-%Y') }}-u">
                {{ emps[d].unavailable | safe }}
            </td>
        {% endfor %}
    </tbody>
    <tbody>
        </tr>
        <tr><td colspan="8" class="text-center h4">Kennels</td></tr>
        <tr><td>AM (ins/outs)</td>
            {% for d in dates.values() %}
                <td>{{kennel_inv[d].morning}} ({{ kennel_inv[d].am_ins }}/{{ kennel_inv[d].am_outs }})</td>
            {% endfor %}
        </tr>
        <tr><td>PM (ins/outs)</td>
            {% for d in dates.values() %}
                <td>{{kennel_inv[d].noon}} ({{ kennel_inv[d].pm_ins }}/{{ kennel_inv[d].pm_outs }})</td>
            {% endfor %}
        </tr>

        <tr><td colspan="8" class="text-center h4">Cattery</td></tr>
        <tr><td>AM (ins/outs)</td>
            {% for d in dates.values() %}
                <td>{{cattery_inv[d].morning}} ({{ cattery_inv[d].am_ins }}/{{ cattery_inv[d].am_outs }})</td>
            {% endfor %}
        </tr>
        <tr><td>PM (ins/outs)</td>
            {% for d in dates.values() %}
                <td>{{cattery_inv[d].noon}} ({{ cattery_inv[d].pm_ins }}/{{ cattery_inv[d].pm_outs }})</td>
            {% endfor %}
        </tr>
        <tr><td colspan="8" class="text-center h4">Events</td></tr>
        <tr><td></td>
            {% for d in dates.values() %}
                <td>
                    {% if visits[d] %}
                        {% for visit in visits[d] %}
                            {{ visit.visit_time }} - {% if visit.visit_type == 'interview' or visit.visit_type == 'visit' or visit.visit_type == 'event' %}
                                <a target="_blank" href="{{ url_for('edit_visit', visit_no=visit.visit_no) }}">{{ visit.visit_name }}</a>
                                    {% else %}
                                    {{ visit.visit_name }}
                                {% endif %}
                            <br class="my-3">
                        {% endfor %}
                    {% else %}
                        No Events
                    {% endif %}
                <br>
            {% endfor %}
        </tr>
    </tbody>
</table>
<div id="staff-summary">Staff Summary</div>
</div>
{% endblock %}
{% block scripts %}
<script>
    const status_changes = {
        'XX': 'X ',
        'X ': ' X',
        ' X': 'XX',
        'UU': 'HH',
        'HH': 'NN',
        'NN': 'UU'
    }

    const start_date = ddmmyyyy2date('{{ start_date.strftime("%d/%m/%Y") }}')
    const weekstart_str = "{{ start_date.strftime('%d-%m-%Y') }}"

    function update_emp_status(emp_no, date, status) {
        const required = parseFloat($(`#${date}-required`).text())

        $.getJSON($SCRIPT_ROOT + '/_day_emp', {
            date: date,
            emp_no: emp_no,
            status: status,
            required: required
        }, function(data) {
            $(`#${date}-w`).html(data.emps['working'])
            $(`#${date}-a`).html(data.emps['available'])
            $(`#${date}-u`).html(data.emps['unavailable'])
            $('#revenue').text(data.revenue)
            $('#wages').text(data.wages)
            $('#ratio').text(data.ratio)
            $('#ratioDesc').text(data.ratioDesc)
            $('#revenue-and-wages')
                .removeClass()
                .addClass(data.ratioClass)
                .addClass('p-2')
            $(`#${date}-staff-tr`).removeClass().addClass(data.s_class)
            $(`#${date}-actual-staff`).text(data.actual)
            $('#staff-summary').html(data.emp_summary_html)

            get_status()
            make_draggable()
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText)
        });
    }

    function make_draggable() {
        $( ".draggable" )
            .draggable({ axis: "y",  containment: "#employees", scroll: false })
        $( ".emp-card" ).click( function(event) {
            const emp = $(event.target)            
            const old_status = emp.data('status')
            const emp_no = emp.data('emp_no')
            const date = emp.data( 'date' )
            if (old_status in status_changes) {
                const new_status = status_changes[old_status]
                update_emp_status(emp_no, date, new_status)
            }
        })
    }

    var staff_expand;

    function update_timesheet_status(timesheet_status) {
        console.log('update_timesheet_status: ', timesheet_status)
        let className = 'unpublished'
        let publisher_text = `<p>Last saved ${timesheet_status.latest}.<br>
Never Published</p>`
        if (timesheet_status.code == 1) { // Published
            className = 'published'
            publisher_text = `<p>Published ${timesheet_status.latest}</p>`
        } else if (timesheet_status.code == 2) { // Dirty
            className = 'dirty'
            publisher_text = `<p>Last saved ${timesheet_status.latest}.</p>
<p>Last published ${timesheet_status.published}</p>`
        }
        if (timesheet_status.path) {
            publisher_text += `<p>saved as ${timesheet_status.path}`
        }
        $('#publisher')
            .removeClass('unpublished')
            .removeClass('published')
            .removeClass('dirty')
            .addClass(className)

        $('#publisher-text').html(publisher_text)
    }

    function get_status() {
        $.getJSON($SCRIPT_ROOT + '/_timesheet_status', {
            weekstart: date2ddmmyyyy(start_date)
        }, function(data) {
            console.log(data);
            if (data.status == 'success') {
                update_timesheet_status(data);
            } else {
                update_status(data.status, data.timesheet_status);
            }
        })
        .fail(function(jqXHR, textStatus, errorThrown) {
            update_status(textStatus, jqXHR.responseText);
        })
    }

    function revert_to_published() {
        window.location.href = $SCRIPT_ROOT + '/_timesheet_revert/' + date2date_arg(start_date)
    }

    $(document).ready( function() {
        $('#publish').click(() => {
            $.getJSON($SCRIPT_ROOT + '/_timesheet_publish', {
                weekstart: date2ddmmyyyy(start_date)
            }, function(data) {
                if (data.status == 'success') {
                    update_timesheet_status(data);
                } else {
                    update_status(data.status, data.timesheet_status);
                }
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })

        $('#revert').click(revert_to_published)

        make_draggable()
        get_status()
        update_emp_status(null, weekstart_str, null)

        $( ".emp-bucket" ).droppable( {
            drop: function(event, ui) {
                const emp_no = ui.draggable.data( 'emp_no' )
                const target = $(event.target)
                const date = target.data( 'date' )
                const status = target.data( 'status' )
                update_emp_status(emp_no, date, status)
            },
            classes: {
                "ui-droppable-hover": "ui-state-hover"
            },
        })
    })

</script>
{% endblock %}