{% extends "base.html" %}
{% block title %}Unconfirmed Bookings Report{% endblock %}
{% block body %}
<h1>Unconfirmed Bookings Report</h1>
<table class="table table-sm table-striped" style="font-size: small">
    <thead>
        <th>Booking #</th><th>Created</th><th>Dates</th><th>Name</th>
<th>email</th><th>Phone number(s)</th><th>Pets</th><th>Priors</th><th>Notes</th>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            <td><a target="_" href="{{ url_for('show_booking', bk_no=row.bk_no) }}">{{ row.bk_no }}</a></td>
            <td>{{ row.bk_create_date.strftime('%d/%m/%y') }}</td>
            <td>{{ row.bk_start_date.strftime('%d/%m/%y') }} - {{ row.bk_end_date.strftime('%d/%m/%y') }}</td>
            <td><a target="_" href="{{ url_for('show_customer', customer_desc=row.cust_no) }}">{% if row.cust_forename %}{{ row.cust_forename }} {% endif %}{{ row.cust_surname }}</a></td>
            <td><a target="_" href="mailto://{{ row.cust_email }}">{{ row.cust_email }}</a></td>
            <td>{% if row.cust_telno_home %}<a href="tel:{{ row.cust_telno_home }}">{{ row.cust_telno_home }}<br></a>{% endif %}
                {% if row.cust_telno_mobile %}<a href="tel:{{ row.cust_telno_mobile }}">{{ row.cust_telno_mobile }}</a>{% endif %}
            </td>
            <td>{{ row.pets }}</td>
            <td>{{ row.priors }}</td>
            <td>{{ row.bk_memo }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}