{% extends "base.html" %}
{% block title %}Visit{% endblock %}

{% block body %}

<h1 class="text-center">{% if visit %}Visit #{{ visit.visit_no }}{% else %}New Visit{% endif %}
{% if customer %} for <a href="{{ url_for('show_customer', customer_desc=customer.no) }}">{{ customer.name }}</a>{% endif %}</h1>

{% if customer %}
<div class="narrow">
    <table class="mt-4 table table-striped table-sm">
        <tbody>
            <tr>
                <td><strong>Name</strong></td>
                <td>{{customer.name}}</td>
            </tr>
            {% if pets %}
                <tr>
                    <td><strong>Pets</strong></td>
                    <td>
                        {% for pet in pets %}
                            {{ pet | safe }}
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td><strong>Phone Numbers</strong></td>
                <td>{% if customer.telno_home %}<a href="tel:{{ customer.telno_home }}">{{ customer.telno_home }}</a><br>{% endif %}
                    {% if customer.telno_mobile %}<a href="tel:{{ customer.telno_mobile }}">{{ customer.telno_mobile }}</a><br>{% endif %}
                    {% if customer.telno_mobile2 %}<a href="tel:{{ customer.telno_mobile2 }}">{{ customer.telno_mobile2 }}</a>{% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Email Address(s)</strong></td>
                <td>{{ m.search_email(customer.email) }}
                    {% if customer.email2 %}<br>{{ m.search_email(customer.email2) }}{% endif %}
                </td>
            </tr>
            <tr>
                <td><strong>Upcoming Bookings</strong></td>
                <td>
                    {% for booking in upcoming_bookings %}
                        <a href="{{ url_for('show_booking', bk_no=booking.no) }}"> {{ booking.no }}</a>: {{ booking.pets }}, {{ booking.dates }}<br>
                    {% endfor %}
                </td>
            </tr>
    </table>
</div>
{% endif %}

<div class="crowbank-form-group">
    <form autocomplete="off" autofill="off" action="" method="post">
        {{ form.hidden_tag() }}

    <div class="form-group mb-3">
        {{ form.subject.label(class_="col-form-label") }}
        {{ form.subject(class_="form-control") }}
        {{ form.cust_no.label(class_="col-form-label") }}
        {{ form.cust_no(class_="form-control") }}
    </div>

    <div class="form-group">
        {{ form.visit_date.label(class_="col-form-label") }}
        {{ form.visit_date(class_="form-control form-control-sm", autocomplete="off", placeholder="yyyy-mm-dd")}}
        {% if form.visit_date.errors %}
            {% for error in form.visit_date.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% endif %}
        {{ form.visit_time.label(class_="col-form-label") }}
        {{ form.visit_time(class_="form-control form-control-sm", placeholder="HH:MM")}}
        {% if form.visit_time.errors %}
            {% for error in form.visit_time.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% endif %}
        {{ form.duration.label(class_="col-form-label") }}
        {{ form.duration(class_="form-control form-control-sm", placeholder="")}}
        {% if form.duration.errors %}
            {% for error in form.duration.errors %}
                <span style="color: red;">{{ error }}</span>
            {% endfor %}
        {% endif %}
    </div>
    <div class="form-group" id="visit_time_region">
        <div id="visit_time_selector"></div>
    </div>
    <div class="form-group mb-5">
        {% if not customer or customer.has_dogs %}
            {{ form.kennel_tour.label(class_="") }}
            {% if visit and visit.visit_kt %}
                {{ form.kennel_tour(checked=True, class_="{% if form.kennel_tour.errors %}has-error{% endif %}" ) }}
            {% else %}
                {{ form.kennel_tour(checked=False, class_="{% if form.kennel_tour.errors %}has-error{% endif %}" ) }}
            {% endif %}
            {% if form.kennel_tour.errors %}
                {% for error in form.kennel_tour.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if not customer or customer.has_cats %}
            {{ form.cattery_tour.label(class_="") }}
            {% if visit and visit.visit_ct %}
                {{ form.cattery_tour(checked=True, class_="{% if form.cattery_tour.errors %}has-error{% endif %}" ) }}
            {% else %}
                {{ form.cattery_tour(checked=False, class_="{% if form.cattery_tour.errors %}has-error{% endif %}" ) }}
            {% endif %}
            {% if form.cattery_tour.errors %}
                {% for error in form.cattery_tour.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if not customer or customer.has_dogs %}
            {{ form.meet_and_greet.label(class_="") }}
            {% if visit and visit.visit_mg %}
                {{ form.meet_and_greet(checked=True, class_="{% if form.meet_and_greet.errors %}has-error{% endif %}" ) }}
            {% else %}
                {{ form.meet_and_greet(checked=False, class_="{% if form.meet_and_greet.errors %}has-error{% endif %}" ) }}
            {% endif %}
            {% if form.meet_and_greet.errors %}
                {% for error in form.meet_and_greet.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
        {% if not customer or customer.has_dogs %}
            {{ form.daycare_assessment.label(class_="") }}
            {% if visit and visit.visit_mg %}
                {{ form.daycare_assessment(checked=True, class_="{% if form.daycare_assessment.errors %}has-error{% endif %}" ) }}
            {% else %}
                {{ form.daycare_assessment(checked=False, class_="{% if form.daycare_assessment.errors %}has-error{% endif %}" ) }}
            {% endif %}
            {% if form.daycare_assessment.errors %}
                {% for error in form.daycare_assessment.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.notes.label(class_="") }}
        {{ form.notes(rows = 10, class_="booking-comment") }}
    </div>
    <div class="form-group">
        <div class="d-flex justify-content-around">
            {{ form.submit(class_="col-sm-3 btn btn-success btn-block btn-lg") }}
            {{ form.complete(class_="col-sm-3 btn btn-primary btn-block btn-lg") }}
            {{ form.cancel(class_="col-sm-3 btn btn-danger btn-block btn-lg") }}
        </div>
    </div>
</form>
</div>
{% endblock body %}
{% block scripts %}
    <script>
        $(document).ready( function() {
            $('#dec-day').click(function() {
                let d = string2date($('#visit_date').val());
                d.setDate(d.getDate() - 1);
                $('#visit_date').val(d.toLocaleDateString());
                $('#visit_date').change();
            });
            $('#inc-day').click(function() {
                let d = string2date($('#visit_date').val());
                d.setDate(d.getDate() + 1);
                $('#visit_date').val(d.toLocaleDateString());
                $('#visit_date').change();
            });
            $('#visit_time_region').hide(0);
        });
        attach_date_to_time_field('visit_time', 'visit_time_selector',
        {
            refresh_fields: ['visit_time', 'visit_date'],
            date_function: date_from_single_field('visit_date'),
            hide_field: 'visit_time_region'
        }
        );
    </script>
{% endblock scripts %}