{% extends "base.html" %}
{% block title %}Visit Requests{% endblock %}
{% block body %}

<div class="row">
    <div class="col-8 mt-3 mb-4"><h2>Visit Requests</h2></div>
    <div class="col-4 form-check align-middle mt-3">
        <input class="form-check-input" type="checkbox" value="0" id="show_all">
        <label class="form-check-label" for="show_all">Show All</label>
    </div>
</div>
<table class="table table-sm table-hover" id="request-table">
    <thead><th>#</th><th>Customer</th><th>Bk Date</th><th>Pets</th><th>Notes</th><th>Status</th><th></th><th></th></thead>
    <tbody class="searched">
        {% for request in requests %}
            <tr class="{% if request.visit_open %}request-open{% else %}request-closed{% endif %}">
                <td>{{ request.visit_no }}</td>
                <td><a href="{{ url_for('show_customer', customer_desc=request.visit_cust_no) }}">{{ request.visit_cust_surname }}</a></td>
                <td {% if request.visit_bk_status %}class="{{ request.visit_bk_status }}booking"{% endif %}>{% if request.visit_start_date %}{{ request.visit_start_date.strftime('%a %d/%m/%y') }}{% else %}None{% endif %}</td>
                <td>{% for pet in request.pets %}{{ pet | safe }}{% endfor %}</td>
                <td class="d-flex justify-content-between align-items-center">
                    <textarea class="visit-note" data-gramm="false" data-gramm_editor="false" data-enable-grammarly="false" data-visit_no="{{ request.visit_no }}">{{ request.visit_notes }}</textarea>
                    <i class="ms-2 visit-note-save fas fa-save"></i></td>
                <td class="request-status">{% if request.visit_task_no %}
                        <a href="{{ url_for('show_visit', visit_no=request.visit_task_no) }}" target="_blank">
                    {% endif %}
                    {{ request.visit_desc }}
                    {% if request.visit_task_no %}</a>{% endif %}
                </td>
                <td>
                    <a href="{{ url_for('create_visit', cust_no=request.visit_cust_no) }}" class="btn btn-sm btn-success {% if not request.visit_open %} disabled{% endif %}">
                        <i class="fas fa-check"></i>
                    </a>

                    <button class="cancel-request btn btn-sm btn-danger {% if not request.visit_open %} disabled{% endif %}"  data-no="{{ request.visit_no }}">
                    <i class=" fas fa-times"></i>
                </button></td>
                <td>{{ request.visit_open }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
{% block scripts %}
<script>
    function filterRequests() {
        var showAll = $("#show_all").prop('checked')

        /*
        var value = ''
        if ( $("#search").length ) {
            value = $("#search").val().toLowerCase()
        }
    
        $(".searched tr").filter(function() {
            $(this).toggle(
                $(this).text().toLowerCase().indexOf(value) > -1 &&
                (showAll || $(this).hasClass('request-open'))
            )
        })

        */
    }

    function save_note(content, visit_no) {
        $.getJSON($SCRIPT_ROOT + '/_save_note', {
            content: content,
            visit_no: visit_no
        }, data => {

        })}

    $(document).ready(function() {
        $('.visit-note-save').click( (e) => {
            const target = e.currentTarget
            const textarea = $(target).parent().find('textarea')
            const visit_no = textarea.data('visit_no')
            const content = textarea.val()
            save_note(content, visit_no)
        })
    })

    /*
    $(document).ready(function(){
        $("#search").on("keyup", filterRequests)
        $("#show_all").prop('checked', false)
        $('#show_all').change(filterRequests)
        $(".search-toggle").change(filterRequests)
        $("#search").focus()
        filterRequests()

        $('.cancel-request').click((e) => {
            const target = e.currentTarget
            const visit_no = target.dataset.no

            $(target).parent().parent().find('.request-status').text('Canceling')
            $.getJSON($SCRIPT_ROOT + '/_cancel_visit', {
                visit_no: visit_no
            }, data=> {
                $(target).removeClass('request-open').addClass('request-closed')
                $(target).parent().parent().find('.request-status').text('Canceled')
                filterRequests()
            })
            .fail(function(jqXHR, textStatus, errorThrown) {
                update_status(textStatus, jqXHR.responseText)
            })
        })
    })
    */
    
    $(document).ready(function() {
        const table = $('#request-table').DataTable({
            pageLength: 25
        })

        inject_column_filter(table, 5)
        table.column(7).visible(false)
    })
    
</script>
{% endblock scripts %}