{% if as_email %}{% extends 'voucher_base.html' %}{% else %}{% extends 'base.html' %}{% endif %}
{% block title %}{{ record.email_subject }}{% endblock %}
{% block body %}
<div class="m-3 p-3 border border-dark voucher-{{ record.email_level }}" style="max-width: 400px;">
    <img src="https://crowbank.co.uk/wp-content/uploads/2020/04/voucher-bar.png">
    <img src="https://crowbank.co.uk/wp-content/uploads/2020/04/voucher-center.png" class="mt-4">
    
    <div class="px-3 py-2">
        <div style="font-size: 12px; text-align:center">
            <p>Redeemable between {{ record.email_start_date.strftime("%d/%m/%Y") }}
                and {{ record.email_end_date.strftime("%d/%m/%Y") }} </p>
                <p>Subject to Crowbank <a href="www.crowbank.co.uk/terms-and-conditions">terms and conditions</a></p>
        </div>
        <div style="font-size: 14px; text-align:left">
            <a href="www.crowbank.co.uk">www.crowbank.co.uk </a><br> 
            01236 729454
        </div>
        <img src="https://crowbank.co.uk/wp-content/uploads/2020/04/voucher-bar.png">
        {#            <p>You have purchased a boarding voucher in the amount of &pound;{{ '{:.2f}'.format(record.email_amount) }}</p>
            <p>The voucher may be redeemed for &pound;{{ '{:.2f}'.format(record.email_redemption) }} towards Crowbank boarding fees. </p>
            <p>The voucher has to be redeemed for bookings starting between {{ record.email_start_date.strftime("%d/%m/%Y") }}
                and {{ record.email_end_date.strftime("%d/%m/%Y") }}. </p>
            <p>Thank you for your support!!</p>
        <h1 style="text-align: center; font-family: 'arial'; font-size: 1.5rem">{{ record.email_v_no }}</h1>
            #}
            <div style="font-size: 80px; text-align: center; line-height: 1">
                &pound;{{ '{:.0f}'.format(record.email_amount) }}
            </div>
            <div style="font-size: 20px; text-align: center;">
                Voucher #{{ record.email_v_no }}
            </div>
    </div>
</div>
{% endblock body %}
