<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- <link rel="shortcut icon" href="/crowbank-flask/static/favicon.ico"> --> 

<link href="https://fonts.googleapis.com/css?family=Baloo|Allan&display=swap" rel="stylesheet">

<style>
body {
    font-family: 'Calibri';
}

img {
    max-width:100%;
    max-height:100%;
    width:auto;
    height:auto;
}

a {
    color: black;
}

body {
    max-width: 400px;
}

.voucher-low {
    background-color: #74f18c;
  }
  
  .voucher-med {
    background-color: #74d5f1;
  }
  
  .voucher-high {
    background-color: #e5c235;
  }
</style>
<title>{% block title%}{% endblock title %}</title>

</head>
<body>
    <div class="container" >
        {% block body %}{% endblock %}
    </div>
</body>
</html>