{% extends "base.html" %}
{% block title %}Weekly for {{ start_date.strftime("%d/%m/%y") }} to {{ end_date.strftime("%d/%m/%y") }} {% endblock title %}
{% block head %}
<style>
    .ui-state-hover {
        background-color: lightblue;
    }
</style>
{% endblock %}
{% block body %}

<div class="row pb-3 pt-4">
    <div class="col-3">
        <a href="{{ url_for('show_weekly', date_arg=(start_date | prev_week).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-left"></i></a></div>
    <div class="col-6">
        <h1 class="text-center">Weekly for {{ start_date.strftime("%d/%m/%y") }} to {{ end_date.strftime("%d/%m/%y") }}</h1>
    </div>
    <div class="col-3 text-end">
        <a href="{{ url_for('show_weekly', date_arg=(start_date | next_week).strftime('%d-%m-%Y')) }}">
            <i class="fas fa-5x fa-long-arrow-alt-right"></i></a></div>
</div>

<div class="d-none" id="start-date">{{ start_date.strftime('%d-%m-%Y') }}</div>
<hr/>
{{ shifts_html | safe }}
<table class="table">
        <thead>
            <th width="9%"></th>
            {% for d in dates.values() %}
                <th width="12%" class="text-center"></th>
            {% endfor %}
        </thead>
        <tbody>
        <tr><td colspan="8" class="text-center h4">Kennels</td></tr>
        <tr><td>AM (ins/outs)</td>
            {% for d in dates.keys() %}
                <td>{{kennel_inv[d].morning}} ({{ kennel_inv[d].am_ins }}/{{ kennel_inv[d].am_outs }})</td>
            {% endfor %}
        </tr>
        <tr><td>PM (ins/outs)</td>
            {% for d in dates.keys() %}
                <td>{{kennel_inv[d].noon}} ({{ kennel_inv[d].pm_ins }}/{{ kennel_inv[d].pm_outs }})</td>
            {% endfor %}
        </tr>
        <tr><td>Daycare (am/pm)</td>
            {% for d in dates.keys() %}
                <td>{{ kennel_inv[d].am_day }} / {{ kennel_inv[d].pm_day }}</td>
            {% endfor %}        
        </tr>

        <tr><td colspan="8" class="text-center h4">Cattery</td></tr>
        <tr><td>AM (ins/outs)</td>
            {% for d in dates.keys() %}
                <td>{{cattery_inv[d].morning}} ({{ cattery_inv[d].am_ins }}/{{ cattery_inv[d].am_outs }})</td>
            {% endfor %}
        </tr>
        <tr><td>PM (ins/outs)</td>
            {% for d in dates.keys() %}
                <td>{{cattery_inv[d].noon}} ({{ cattery_inv[d].pm_ins }}/{{ cattery_inv[d].pm_outs }})</td>
            {% endfor %}
        </tr>
        <tr><td colspan="8" class="text-center h4">Events</td></tr>
        <tr><td></td>
            {% for d in dates.keys() %}
                <td>
                    {% if visits[d] %}
                        {% for visit in visits[d] %}
                            {{ visit.visit_time }} - {% if visit.visit_type == 'interview' or visit.visit_type == 'visit' or visit.visit_type == 'event' %}
                                <a target="_blank" href="{{ url_for('edit_visit', visit_no=visit.visit_no) }}">{{ visit.visit_name }}</a>
                                    {% else %}
                                    {{ visit.visit_name }}
                                {% endif %}
                            <br class="my-3">
                        {% endfor %}
                    {% else %}
                        No Events
                    {% endif %}
                <br>
            {% endfor %}
        </tr>
    </tbody>
</table>

{% endblock %}
{% block scripts %}
<script>
    const status_changes = {
        'XX': 'X ',
        'X ': ' X',
        ' X': 'XX',
        'UU': 'HH',
        'HH': 'UU'
    }

    var staff_expand;

    $(document).ready( function() {
        staff_expand = $('#staff-expand');

        staff_expand.data('state', 'collapsed');

        $('#staff-expand').click(function() {
            const state = staff_expand.data('state');
            if (state == 'collapsed') {
                $('#staff-expanded').removeClass('d-none');
                $('#staff-collapsed').addClass('d-none');
                $('#available').slideToggle(1000);
                $('#unavailable').slideToggle(1000);
                staff_expand.data('state', 'expanded');
            } else {
                $('#staff-expanded').addClass('d-none');
                $('#staff-collapsed').removeClass('d-none');
                $('#available').slideToggle(1000);
                $('#unavailable').slideToggle(1000);
                staff_expand.data('state', 'collapsed');
            }
        });
    });

</script>
{% endblock %}