{% extends "base.html" %}
{% block title %}Weight Report{% endblock %}
{% block body %}
<style>
    .weight-issue, .weight-due {
        background-color: orange !important;
    }

    .weight-overdue {
        background-color: red !important;
    }
</style>
<h2 class="text-center mb-5">Weight Report</h2>
<div class="narrow">
    <table class="table table-sm">
        <thead>
            <th>Booking</th>
            <th>Pet</th>
            <th colspan="{{ most_weights + 1 }}">Weights</th>
            <th>Weight Change</th>
            <th>Next Weigh</th>
        </thead>
        <tbody>
            {% for (pet_no, pet_record) in weights.items() %}
                <tr>
                    {% set span = 2 if pet_record.weights else 1 %}
                    <td rowspan="{{ span }}"><a href="{{ url_for('show_booking', bk_no=pet_record.bk_no) }}" target="_blank">
                        {{ pet_record.bk_start_date.strftime('%d/%m') }} - {{ pet_record.bk_end_date.strftime('%d/%m') }}</a></td>
                    <td rowspan="{{ span }}"><a href="{{ url_for('show_pet', pet_no=pet_no) }}" target="_blank">
                        {{ pet_record.pet_name }} ({{ pet_record.breed_desc }})
                    </a></td>
                    {% set w = pet_record.weights %}
                    {% if w %}
                        <th>Date</th>
                        {% for wr in w %}
                            <td>
                                {{ wr.date.strftime('%d/%m')}}
                            </td>
                        {% endfor %}
                        {% if (w|length) < most_weights %}
                            <td colspan="{{ most_weights - (w|length) }}"></td>
                        {% endif %}
                    {% else %}
                        <td colspan="{{ most_weights + 1 }}">No Weights</td>
                    {% endif %}
                        <td rowspan="{{ span }}" {% if pet_record.weight_change and pet_record.weight_change|abs > 0.1%}class="table-danger"{% endif %}>{% if pet_record.weight_change %}{{ "%.1f"|format(pet_record.weight_change * 100) }}%{% endif %}</td>
                        <td rowspan="{{ span }}" {% if pet_record.status %}class = "weight-{{ pet_record.status|lower }}"{% endif %}>{% if pet_record.next_weight_date %}{{ pet_record.next_weight_date.strftime('%d/%m') }}{% endif %}</td>
                    </tr>
                    {% if w %}
                        <tr>
                            <th>Weight</th>
                            {% for wr in w %}
                                <td>
                                    {{ "%.1f"|format(wr.weight) }}
                                </td>
                            {% endfor %}
                            {% if (w|length) < most_weights %}
                                <td colspan="{{ most_weights - (w|length) }}"></td>
                            {% endif %}
                        </tr>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}
